<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button" ng-click="openLicenseTypeModal()">Add License Type</button>
        </div>
        <div id='jqxWidget'>
            <div id="licensegrid">
            </div>
        </div>
    </div>       
</div>

<script type="text/ng-template" id="licenceTypePopup.html">
    <div class="modal-header">
        <h3 class="modal-title">License Type</h3>
    </div>

        <form ng-submit="save(vccUser)" validate>
            <div class="modal-body">
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputLicenseTypeName" class="col-sm-3 control-label" >License Type Name  *</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.licenseTypeName"  class="form-control authInputs" id="licenseTypeName" placeholder="Enter License Type Name" required>
                </div>
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputLicenseTypeDesc" class="col-sm-3 control-label" >License Type Description</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.licenseTypeDesc" class="form-control authInputs" id="licenseTypeDesc" placeholder="Enter License Type Description">
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit" >Save</button>
          <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
        </div>
        </form>

</script>

<!-- PopUp -->
<!-- <div id='jqxwindowLicenseType' >
    <div class="tmass-model-header">
        License Type
    </div>
    <div>
    <div class="modal-body" >
        <form class="form-horizontal" name="myForm" validate>
            <div class="input-group animated fadeIn">
                <label for="inputLicenseTypeName" class="col-sm-3 control-label" >Name *</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.licenseTypeName"  class="form-control authInputs" id="licenseTypeName" placeholder="Enter License Type Name">
                </div>
            </div>
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputLicenseTypeDesc" class="col-sm-3 control-label" >Description</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.licenseTypeDesc" class="form-control authInputs" id="licenseTypeDesc" placeholder="Enter License Type Description">
                </div>
            </div> 
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="currRowData(vccUser)">Save</button>
        <button type="button" class="btn btn-danger" id="button_no" ng-click="clearData()" >Cancel</button>
    </div>
    </div> -->