<!-- Start grid -->
<div class="row">
        <div class="col-md-12 tmass-table-container">
            <div class="add-row-editable-table">
                <button class="btn btn-secondary tmass-table-button" style="float: right; margin-bottom: 2%;" ng-click="openModal()">Add Customer License Details</button>
            </div>
            <div id='jqxWidget'>
                <div id="custlicensegrid">
                </div>
            </div>
        </div>       
    </div>
    <!-- End grid -->
    <!-- PopUp -->
    <script type="text/ng-template" id="jqxwindowCustomerlicense.html">
    <div>
        <div class="tmass-model-header">
            Enter Customer License Details
        </div>
        <div>   
            <form class="form-horizontal" ng-submit="save(vccUser)" name="myForm" validate>
                    <div class="modal-body">
                <div class="form-group">
                    <label for="inputcustomerName" class="col-sm-3 control-label" > Customer *</label>
                    <div class="col-sm-9">
                        <select class="form-control authInputs" id="customerId" ng-model="vccUser.customerId" required>
                            <option value="">Select</option>
                            <option ng-repeat="vhmanu in customers | orderBy: ['text']" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                        </select>
                        <!-- <input type="text" ng-model= "vccUser.customerName" class="form-control authInputs" id="customerName" placeholder="Enter Customer Name" required> -->
                    </div>
                </div>
                <div>
                    <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label" >License Date *</label>
                    <div class="col-sm-9">
                        <!-- <datepicker date-format="dd-MM-y" date-min-limit="new Date()">
                            <input ng-model="date" class="form-control authInputs" type="text"/>
                        </datepicker> -->
                        <datepicker date-set="{{todaysDate}}" date-max-limit="{{maxDate}}" date-format="yyyy-MM-dd"> <input class="form-control authInputs" ng-model="vccUser.licenseDate" type="text" readonly /> </datepicker>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputlicenseTypeId" class="col-sm-3 control-label" >License Type *</label>
                    <div class="col-sm-9">
                        <select class="form-control authInputs" id="licenseTypeId" ng-model="vccUser.licenseTypeId" required>
                            <option value="">Select</option>
                            <option ng-repeat="vhmanu in licenseTypes | orderBy: ['text']" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                        </select> <!--  | orderBy:'text'-->
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputtireQty" class="col-sm-3 control-label" >Tire Quantity *</label>
                    <div class="col-sm-9">
                        <input type="number" ng-model= "vccUser.tireQty" class="form-control authInputs" id="tireQty" min="0" placeholder="Enter Tire Qty" required>
                    </div>
                </div> 
                <div class="form-group">
                    <label for="inputvehicleQty" class="col-sm-3 control-label" >Vehicle Quantity *</label>
                    <div class="col-sm-9">
                        <input type="number" min="0" ng-model= "vccUser.vehicleQty" class="form-control authInputs" id="vehicleQty" min="0" placeholder="Enter Vehicle Qty" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
            </div> 
        </form>    
    </div>
</div>
</script>
<!--End PopUp -->