<div class="row">
        <div class="col-md-12 tmass-table-container">
            <div class="add-row-editable-table">
                <button class="btn btn-secondary tmass-table-button" ng-disabled="roleName=='System Super Admin' || roleName=='System Admin'" ng-click="openModal()">Add Vehicle Details</button>
            </div>
            <div id='jqxWidget'>
                <div id="gridvehicle">
                </div>
            </div>
        </div>       
    </div>
    
    <!-- PopUp -->
    <script type="text/ng-template" id="jqxwindowVehicleDetails.html">
    <div id='' >
        <div class="tmass-model-header">
            Vehicle Details
        </div>
        <div>
        <form class="form-horizontal" name="myForm"  ng-submit="done(vccUser)" validate>
                    <div class="modal-body ">
                <div>
                    <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
                </div>
                <div class="form-group">
                    <label for="vehicleRegistrationNumber" class="col-sm-3 control-label" >Vehicle Registration Number *</label>
                    <div class="col-sm-9">
                        <input type="text" required ng-model= "vccUser.vehicleRegistrationNumber" onkeyup="this.value=this.value.replace(/[^a-zA-Z 0-9\n\r]+/g, '')" class="form-control authInputs" id="vehicleRegistrationNumber" placeholder="Enter Vehicle Registration Number" required pattern="([^\s][A-z0-9À-ž\s]+)" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="vehicleGroupId" class="col-sm-3 control-label" >Vehicle Group *</label>
                    <div class="col-sm-9">
                        <select class="form-control authInputs" id="vehicleGroupId" ng-model="vccUser.vehicleGroupId" required>
                            <option value="">Select</option>
                            <option ng-repeat="vhmanu in vehiclegroups | orderBy: 'text'" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                        </select>
                        <!-- <input type="text" ng-model= "vccUser.tubeManufacturerName" class="form-control authInputs" id="tubeManufacturerName" placeholder="Enter Tube Manufacturing Name"> -->
                    </div>
                </div>
                <div class="form-group">
                    <label for="vehicleManufacturerId" class="col-sm-3 control-label" >Vehicle Manufacturer *</label>
                    <div class="col-sm-9">
                        <select class="form-control authInputs" id="vehicleManufacturerId" required ng-model="vccUser.vehicleManufacturerId">
                            <option value="">Select</option>
                            <option ng-repeat="vhmanu in vehicleManufacturers | orderBy: 'text'" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                        </select>
                        <!-- <input type="text" ng-model= "vccUser.tubeManufacturerName" class="form-control authInputs" id="tubeManufacturerName" placeholder="Enter Tube Manufacturing Name"> -->
                    </div>
                </div> 
                <div class="form-group">
                    <label for="vehicleModelId" class="col-sm-3 control-label" >Vehicle Model Name *</label>
                    <div class="col-sm-9">
                        <select class="form-control authInputs"  id="vehicleModelId" ng-model="vccUser.vehicleModelId" ng-change="getVehicleSepcs(vccUser)" required>
                            <option value="">Select</option>
                            <option ng-repeat="vhmanu in vehicleModels | orderBy: 'text'" ng-if="vhmanu.vehicleManufacturerId == vccUser.vehicleManufacturerId" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                        </select>
                        <!-- <input type="text" ng-model= "vccUser.tubeManufacturerName" class="form-control authInputs" id="tubeManufacturerName" placeholder="Enter Tube Manufacturing Name"> -->
                    </div>
                </div>


                <div class="form-group">
                        <label for="vehicleAxelConfigurationId" class="col-sm-3 control-label" >Vehicle Axel Configuration *</label>
                        <div class="col-sm-9">
                            <select class="form-control authInputs" id="vehicleAxelConfigurationId" required ng-model="vccUser.vehicleAxelConfigurationId" >
                                <option value="">Select</option>
                                <option ng-repeat="vhmanu in vehicleAxelConfigs | orderBy: 'text'" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                            </select>
                            <!-- <input type="text" ng-model= "vccUser.tubeManufacturerName" class="form-control authInputs" id="tubeManufacturerName" placeholder="Enter Tube Manufacturing Name"> -->
                        </div>
                    </div>

                <div class="form-group">
                    <label for="rotationThreshold" class="col-sm-3 control-label" >Rotation Threshold *</label>
                    <div class="col-sm-9">
                        <input type="number" required min="0" onkeyup="this.value=this.value.replace(/[^\d]/,'')" ng-model= "vccUser.rotationThreshold" class="form-control authInputs" id="rotationThreshold" placeholder="Enter Rotation Threshold">
                    </div>
                </div> 
                <div class="form-group">
                    <label for="loadCapacity" class="col-sm-3 control-label" >Load Capacity *</label>
                    <div class="col-sm-9">
                        <input type="number" required min="0" max="999" onkeyup="this.value=this.value.replace(/[^\d]/,'')" ng-model= "vccUser.loadCapacity" class="form-control authInputs" id="loadCapacity" placeholder="Enter Load Capacity" disabled>
                    </div>
                </div> 
                <div class="form-group">
                    <label for="odometerReading" class="col-sm-3 control-label" >Odometer Reading*</label>
                    <div class="col-sm-9">
                        <input type="number" required min="0" onkeyup="this.value=this.value.replace(/[^\d]/,'')" ng-model= "vccUser.odometerReading" class="form-control authInputs" id="odometerReading" placeholder="Enter Odometer Reading">
                    </div>
                </div> 
                <div class="form-group" style="display:none;">
                    <label for="distanceTravelled" class="col-sm-3 control-label" >Distance Travelled</label>
                    <div class="col-sm-9">
                        <input disabled type="number" required min="0" onkeyup="this.value=this.value.replace(/[^\d]/,'')" ng-model= "vccUser.distanceTravelled" class="form-control authInputs" id="distanceTravelled" placeholder="0">
                    </div>
                </div> 
                <div class="form-group">
                    <label for="subscriptionStartDate" class="col-sm-3 control-label" >Subscription Start Date *</label>
                    <div class="col-sm-9">
                            <datepicker date-set="{{subscriptionStartDate}}" date-max-limit="{{minDate}}" date-format="yyyy-MM-dd" > <input class="form-control authInputs" ng-model="vccUser.subscriptionStartDate" ng-change="getEndDate(vccUser.subscriptionStartDate)" id="subscriptionStartDate" type="text" readonly required/> </datepicker>
                        <!-- <input type="date" required ng-model= "vccUser.subscriptionStartDate" class="form-control authInputs" id="subscriptionStartDate" placeholder="Enter Subscription Start Date"> -->
                    </div>
                </div> 
                <div class="form-group">
                    <label for="subscriptionEndDate" class="col-sm-3 control-label" >Subscription End Date *</label>
                    <div class="col-sm-9" disabled>
                        <datepicker date-set="{{subscriptionEndDate}}"  date-format="yyyy-MM-dd"> <input class="form-control authInputs" ng-model="vccUser.subscriptionEndDate" id="subscriptionEndDate" type="text" disabled readonly required/> </datepicker>
                        <!-- <input type="date" required ng-model= "vccUser.subscriptionEndDate" class="form-control authInputs" id="subscriptionEndDate" placeholder="Enter Subscription End Date"> -->
                    </div>
                </div> 
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
            </div>
    </form>
    </div>
    </div>
    </script>