<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button"   ng-click="openModal()">Add Tube Life Details</button>
        </div>
        <div id='jqxWidget'>
            <div id="grid">
            </div>
        </div>
    </div>       
</div>

<!-- PopUp -->
<script type="text/ng-template" id="jqxwindowTubeLifeDetails.html">
<div id='' >
    <div class="tmass-model-header">
        Tube Life Details
    </div>
    <div>
        <form class="form-horizontal" name="myForm" ng-submit="done(vccUser)" validate>
            <div class="modal-body" >
                <div>
                    <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
                </div>
                <div class="form-group">
                    <label for="inputtubeSizeName" class="col-sm-3 control-label" >Tube Tag Assigned Details *</label>
                    <div class="col-sm-9">
                        <select class="form-control authInputs" id="vehicleTubeTagIdAssigned" ng-model="vccUser.vehicleTubeTagIdAssigned" required>
                            <option value="">Select</option>
                            <option ng-repeat="vhmanu in tubeSizes  | orderBy:'text'" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                        </select>
                        <!-- <input type="text" ng-model= "vccUser.tubeSizeName" class="form-control authInputs" id="tubeSizeName" placeholder="Enter Tube Size Name"> -->
                    </div>
            </div> 
                <div class="form-group">
                    <label for="inputtubeTypeName" class="col-sm-3 control-label" >Tube Type Name *</label>
                    <div class="col-sm-9">
                        <select class="form-control authInputs" id="tubeTypeId" ng-model="vccUser.tubeTypeId" required>
                            <option value="">Select</option>
                            <option ng-repeat="vhmanu in tubeTypes" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                        </select>
                        <!-- <input type="text" ng-model= "vccUser.tubeTypeName" class="form-control authInputs" id="tubeTypeName" placeholder="Enter Tube Name"> -->
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputpurchaseDate" class="col-sm-3 control-label" >Purchase Date *</label>
                    <div class="col-sm-9">
                        <datepicker date-set="{{todaysDate}}" date-max-limit="{{maxDate}}" date-format="yyyy-MM-dd"> <input class="form-control authInputs" ng-model="vccUser.purchaseDate " type="text" readonly required/> </datepicker>
                        <!-- <input type="date" ng-model= "vccUser.manufacturingDate" min="1900-01-01" max="{{date | date:'yyyy-MM-dd'}}" class="form-control authInputs" id="manufacturingDate" placeholder="Enter Tube Manufacturing Date" required> -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" >Save</button>
                <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
            </div> 
        </form>
    </div>
</div>
</script>