<div class="row">
        <div class="col-md-12 tmass-table-container">
            <form class="form-horizontal" name="myForm" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row clearfix">
                                <label for="inputtagType" class="col-sm-4 control-label" >Reporter Name </label>
                                <div class="col-sm-8">
                                    <input type="text" ng-model= "vccUser.reporterName" class="form-control authInputs" id="reporterName" placeholder="Enter Reporter Name">
                                </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row clearfix">
                                <label for="inputIssueType" class="col-sm-4 control-label" >Issue Type </label>
                                <div class="col-sm-8">
                                    <select ng-model= "vccUser.IssueType" class="form-control authInputs" id="IssueType">
                                            <option selected="selected" value=''> Select </option>
                                            <option value="Central Tread Wear">Central Tread Wear </option>
                                            <option value="Tread Wall Cut">Tread Wall Cut </option>
                                            <option value="Bid Damaged">Bid Damaged </option>
                                            <option value="Puncture">Puncture </option>
                                            <option value="Tube Damaged">Tube Damaged </option>
                                            <option value="Side Tread wear">Side Tread wear</option>
                                    </select>
                                </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label for="inputtagType" class="col-sm-3 control-label" >Reporter Name </label>
                    <div class="col-sm-4">
                        <input type="text" ng-model= "vccUser.reporterName" class="form-control authInputs" id="reporterName" placeholder="Enter Reporter Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputIssueType" class="col-sm-3 control-label" >Issue Type </label>
                    <div class="col-sm-4">
                        <select ng-model= "vccUser.IssueType" class="form-control authInputs" id="IssueType">
                                <option selected="selected" value=''> Select </option>
                                <option value="Central Tread Wear">Central Tread Wear </option>
                                <option value="Tread Wall Cut">Tread Wall Cut </option>
                                <option value="Bid Damaged">Bid Damaged </option>
                                <option value="Puncture">Puncture </option>
                                <option value="Tube Damaged">Tube Damaged </option>
                                <option value="Side Tread wear">Side Tread wear</option>
                        </select>
                    </div>
                </div> -->
                <div class="form-group text-center">   
                     
                    <button ng-disabled="customerIssueDetails.length==0 || Object.keys(filteredData).length==0" type="button" class="btn btn-secondary" id="generateReport"> Filter Report</button>    
                    <button ng-disabled="customerIssueDetails.length==0 || Object.keys(filteredData).length==0" type="button" class="btn btn-primary" id='excelExport' ng-click="printData()"> Export Report To Excel </button>    
                    <button ng-disabled="customerIssueDetails.length==0 || Object.keys(filteredData).length==0" type="button" class="btn btn-danger" ng-click="sendMail()" > Email Report</button>    
                    <button ng-disabled="customerIssueDetails.length==0 || Object.keys(filteredData).length==0" type="button" class="btn btn-danger" ng-click="clearData1()" > Clear Filter </button>                
            </div>    
    
            </form>
            <div id='jqxWidget'>
                <div id="gridIssueReport">
                </div>
            </div>
        </div>       
</div>
<script type="text/ng-template" id="jqxIssueReportDetails.html">
    <div>
        <div class="tmass-model-header">
            Issue Report Details
        </div>
        <form class="form-horizontal" name="myForm">
            <div class="modal-body" >
                <div class="form-group">
                    <div class="col-sm-12" >
                        <div ba-panel ba-panel-title="Vehicle No : {{curreIssueDetails.VehicleNo}}" ba-panel-class="with-scroll table-panel">
                            <div style="padding:10px"><span>Reporter Name :</span> {{curreIssueDetails.ReporterName}}</div>
                            <div style="padding:10px"><span>Vehicle No :</span> {{curreIssueDetails.VehicleNo}}</div>
                            <div style="padding:10px"><span>Issue Type :</span> {{curreIssueDetails.IssueTypeId}}</div>
                            <div style="padding:10px"><span>Depot Name :</span> {{curreIssueDetails.DepotName}}</div>
                            <div style="padding:10px"><span>Status :</span> {{curreIssueDetails.Status}}</div>
                            <div style="padding:10px"><span>Expense Occured :</span> {{curreIssueDetails.expenseOccured | number : 2 }}</div>
                            <div style="padding:10px"><span>Comments :</span> {{curreIssueDetails.comments}}</div>
                            <div style="padding:10px"><span>Description :</span> {{curreIssueDetails.Description}}</div>
                            <div style="padding:10px"><img style="width: 150px;" src="../assets/picupload/{{curreIssueDetails.Photo}}" /></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"  ng-click="cancel()" >Close</button>
            </div>
        </form>
        </div>
</script>
    
    <!-- PopUp -->