<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button  class="btn btn-secondary tmass-table-button" style="margin-left: 10px;" ng-click="openModal()">Add Depot Details</button>
            <input ng-hide="showCustIdFeild==true" type="button" style="margin-left: 10px;" class="btn btn-secondary tmass-table-button col-sm-2" value="Download Sample File" onClick="window.location.href='../../assets/sampleFiles/depot.xlsx'"> 
            <button ng-hide="showCustIdFeild==true" class="btn btn-secondary tmass-table-button col-sm-2"  ng-click="opendepotBulkUploadModal()">Upload in Bulk</button>
        </div>
        <div id='jqxWidget'>
            <div id="gridDepot">
            </div>
        </div>
    </div>       
</div>

<!-- PopUp -->
<script type="text/ng-template" id="jqxwindowDepot.html">
<div>
    <div class="tmass-model-header">
        Depot Details
    </div>
    <div>
    <div class="modal-body" >
        <form class="form-horizontal" ng-submit="done(vccUser)" name="myForm" validate>
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            
            <div class="form-group" ng-show="showCustIdFeild==true">
                <label for="inputcustomerName" class="col-sm-3 control-label" > Customer Name *</label>
                <div class="col-sm-9">
                        <multiselect ng-model="vccUser.customerId" selection-limit="1" ng-disabled="isDisable" id="customerId" options="customers" id-prop="value" display-prop="text2" show-search="true" required></multiselect>
                    <!-- <select class="form-control authInputs"  ng-disabled="isDisable" id="customerId" ng-model="vccUser.customerId" required>
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in customers  | orderBy:'text2'" ng-value="vhmanu.value" >{{vhmanu.text2}}</option> 
                    </select> -->
                    <!-- <input type="text" ng-model= "vccUser.customerName" class="form-control authInputs" id="customerName" placeholder="Enter Customer Name" required> -->
                </div>
            </div>
            <div class="form-group">
                <label for="depotName" class="col-sm-3 control-label" >Depot Name *</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.depotName" onkeyup="this.value=this.value.replace(/[^a-zA-Z 0-9 _\n\r]+/g, '')" class="form-control authInputs data_field" id="depotName" placeholder="Enter depot Name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="addressLine1" class="col-sm-3 control-label" >AddressLine 1</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.addressLine1" onkeyup="this.value=this.value.replace(/[^a-zA-Z 0-9\n\r]+/g, '')" class="form-control authInputs " id="addressLine1" placeholder="Enter Address Line">
                </div>
            </div>
            <div class="form-group">
                <label for="addressLine2" class="col-sm-3 control-label" >AddressLine 2</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.addressLine2" onkeyup="this.value=this.value.replace(/[^a-zA-Z 0-9\n\r]+/g, '')" class="form-control authInputs " id="addressLine2" placeholder="Enter Address Line 2">
                </div>
            </div>

            <div class="form-group">
                <label for="country" class="col-sm-3 control-label" >Country *</label>
                <div class="col-sm-9">
                        <input type="text" ng-model= "vccUser.countryName" class="form-control authInputs " id="countryName" placeholder="Enter Country Name" required/>
                    <!-- <select class="form-control authInputs" id="country" ng-model="vccUser.countryName" ng-change="getState(vccUser.countryName)" required>
                        <option value="">Select</option>
                        <option ng-repeat="country in countryList" ng-value="country.code" >{{country.name}}</option> 
                    </select> -->
                </div> 
                <!-- <div class="col-sm-9"> ng-options="country.name for country in countryList track by country.code"
                    <select class="form-control authInputs" ng-model="vccUser.country" id="country" required></select>
                </div>  -->
            </div> 
            <div class="form-group">
                    <label for="state" class="col-sm-3 control-label">State *</label>
                    <div class="col-sm-9">
                            <input type="text" ng-model= "vccUser.stateId" class="form-control authInputs " id="stateId" placeholder="Enter State Name" required/>
                    <!-- <select class="form-control authInputs" id="state" ng-focus="vccUser.cityId" ng-model="vccUser.stateId" ng-change="getCity(vccUser.stateId)" required>
                        <option value="">Select</option>
                        <option ng-repeat="state in stateList" ng-value="state.region" >{{state.region}}</option> 
                    </select> -->
                        <!-- <select class="form-control authInputs" id="stateId" ng-model="vccUser.stateId" required></select> -->
                    </div>                        
            </div>
            <div class="form-group">
                    <label for="city" class="col-sm-3 control-label">City *</label>
                    <div class="col-sm-9">
                            <input type="text" ng-model= "vccUser.cityId" class="form-control authInputs " id="cityId" placeholder="Enter City Name" required/>
                        <!-- <select class="form-control authInputs" id="state" ng-focus="vccUser.countryName || vccUser.cityId" ng-model="vccUser.cityId" required>
                            <option value="">Select</option>
                            <option ng-repeat="City in cityList" ng-value="City.city" >{{City.city}}</option> 
                        </select> -->
                        <!-- <select class="form-control authInputs" id="cityId" ng-model="vccUser.cityId" required></select> -->
                    </div>
            </div>
            <div class="form-group">
                <label for="pincode" class="col-sm-3 control-label" >Pincode </label>
                <div class="col-sm-9">
                    <input ng-model= "vccUser.pincode" type="tel"  title="Please enter 6 digit pincode" minlength="6" maxlength="6"  class="form-control authInputs " id="pincode" placeholder="Enter Pincode">
                    <label for="inputpincode" ng-show="pinMsg" class="col-sm-9 control-label validMsg" >{{pinMsg}}</label>
                </div>
            </div>
            <div class="form-group">    
                <label for="latitude" class="col-sm-3 control-label" >Latitude</label>
                <div class="col-sm-9">
                    <input ng-model= "vccUser.latitude" type="text" maxlength="9" class="form-control authInputs" id="latitude" placeholder="Enter Latitude">
                    <!-- <label for="inputpincode" ng-show="latitudeMsg" class="col-sm-9 control-label validMsg" >{{pinMsg}}</label> -->
                </div>
            </div>
            <div class="form-group">
                <label for="logitude" class="col-sm-3 control-label" >Longitude</label>
                <div class="col-sm-9">
                    <input ng-model= "vccUser.logitude" maxlength="9" type="text" class="form-control authInputs" id="logitude" placeholder="Enter Longitude">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">save</button>
                <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
            </div>
        </form>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="done(vccUser)">save</button>
        <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
    </div> -->
    </div>
</div>
</script>

<!-- PopUp for Vehicle spec -->
<script type="text/ng-template" id="jqxwindowdepotBulkUpload.html">
    <div id="depotBulkUpload">
        <div>
            <div class="tmass-model-header">
                Depot Details
            </div>
                <form class="form-horizontal" name="myForm">
                    <div class="modal-body" >
                        <div class="form-group">
                            <label for="inputaddfile" class="col-sm-3 control-label" >Add File *</label>
                            <div class="col-sm-9">
                                <input name="file" accept=".xls,.xlsx" type="file" id="the-file" class="form-control authInputs" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" value="Upload" id="testUpload" name="submit" ng-click="uploadTagDetails()" >Save and Upload</button>
                        <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
                    </div>
                </form>
        </div>
    </div>
</script>