<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button" ng-click="openTiresModelModal()" >Add Tire Model</button>
        </div>
        <div id='jqxWidget'>
            <div id="tiremodelgrid">
            </div>
        </div>
    </div>       
</div>

<script type="text/ng-template" id="tiresModelPopup.html">
    <div class="modal-header">
        <h3 class="modal-title">Tire Model</h3>
    </div>

        <form ng-submit="save(vccUser)" ng-submit="save(vccUser)" validate>
                <div class="modal-body">
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputtireManufacturerName" class="col-sm-3 control-label" >Manufacturer Type *</label>
                <div class="col-sm-9">
                    <select class="form-control authInputs" id="tireManufacturerType" ng-model="vccUser.tireManufacturerId" required>
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in tireManufacturers | orderBy: 'text'" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                </div>
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputTireModelNo" class="col-sm-3 control-label" >Model No *</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.tireModelNo" required class="form-control authInputs" id="tireModelNo" placeholder="Enter Tire Model Number">
                </div>
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputTireModelDescription" class="col-sm-3 control-label" > Description</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.tireModelDescription" class="form-control authInputs" id="tireModelDescription" placeholder="Enter Tire Model Description">
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit" >Save</button>
          <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
        </div>
        </form>

</script>