<div class="row">
    <div class="col-md-12 tmass-table-container">
        <form class="form-horizontal" name="myForm" novalidate>
            <div class="form-group">
                <label for="inputtagType" class="col-sm-3 control-label" >Vehicle Number </label>
                <div class="col-sm-4">
                    <input type="text" ng-model= "vccUser.TagType" class="form-control authInputs" id="vehicleRegNo" placeholder="Enter Vehicle Number">
                </div>
            </div>
            <!-- <div class="form-group">
                <label for="AlertType" class="col-sm-3 control-label" >Alert Type </label>
                <div class="col-sm-4">
                        <select class="form-control authInputs" id="tubeManufacturerId" ng-model="vccUser.tubeManufacturerId">
                            <option value="">Select Alert Type</option>
                            <option  ng-value="tireMissing" >Tire Missing</option> 
                            <option  ng-value="tireRemoval" >Tire Removal</option> 
                            <option  ng-value="tagTampering" >Tag Tampering</option> 
                            <option  ng-value="tireExchange" >Tire Exchange</option> 
                            <option  ng-value="tireRotation" >Tire Rotation</option> 
                            <option  ng-value="highPressureCount" >High Pressure Count</option> 
                            <option  ng-value="lowPressureCount" >Low Pressure Count</option> 
                            <option  ng-value="highTemperatureCount" >High Temperature Count</option> 
                            <option  ng-value="improperTagfitment" >Improper Tag Fitment</option> 
                            <option  ng-value="treadDepthBasedMaintenance" >Tread Depth Based Maintenance</option> 
                            <option  ng-value="invalidTag" >Invalid Tag</option> 
                        </select>
                </div>
            </div> -->
            <div class="form-group text-center">
                <button ng-disabled="customerAlertDetails.length==0 || Object.keys(filteredData).length==0" type="button" class="btn btn-secondary" id="generateAlertReport" > Filter Report</button>    
                <button ng-disabled="customerAlertDetails.length==0 || Object.keys(filteredData).length==0" type="button" class="btn btn-primary" id='excelExport' ng-click="printData()"> Export Report To Excel </button>
                <button ng-disabled="customerAlertDetails.length==0 || Object.keys(filteredData).length==0" type="button" class="btn btn-danger" ng-click="sendMail()" > Email Report</button>
                <button ng-disabled="customerAlertDetails.length==0 || Object.keys(filteredData).length==0" type="button" class="btn btn-danger" ng-click="clearData1()" > Clear Filter </button>
            </div>

        </form>
        <div id='jqxWidget'>
            <div id="gridAlertReport">
            </div>
        </div>
    </div>       
</div>

<!-- PopUp -->
<script type="text/ng-template" id="jqxVehicleReportDetails.html">
    <div>
        <div class="tmass-model-header">
            Vehicle Alert Details
        </div>
        <form class="form-horizontal" name="myForm">
            <div class="modal-body" >
                <div class="form-group">
                    <div class="col-sm-12" >
                        <div ba-panel ba-panel-title="Vehicle No : {{currvehicleData}}" ba-panel-class="with-scroll table-panel">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                            <th>Tire position</th>
                                            <th>High Pressure Count</th>
                                            <th>HighTemperature Count</th>
                                            <th>Improper Tag fitment</th>
                                            <th>Invalid Tag</th>
                                            <th>Invalid Tire</th>
                                            <th>Invalid Vehicle</th>
                                            <th>low PressureCount</th>                                                
                                            <th>Tag Tampering</th>
                                            <th>Tire Exchange</th>
                                            <th>Tire Missing</th>
                                            <th>Tire Removal</th>
                                            <th>Tire Rotation</th>
                                            <th>Tread Depth Based Maintenance</th>
                                        </tr>
                                        <tr ng-repeat="data in myalertArr" class="text-align: left !important;">
                                            <td style="text-align: inherit !important;">{{data.positionId}}</td>
                                            <td>{{data.highPressureCount}}</td>
                                            <td>{{data.highTemperatureCount}}</td>
                                            <td>{{data.improperTagfitment}}</td>
                                            <td>{{data.invalidTag}}</td>
                                            <td>{{data.invalidTire}}</td>
                                            <td>{{data.invalidVehicle}}</td>
                                            <td>{{data.lowPressureCount}}</td>                                                
                                            <td>{{data.tagTampering}}</td>
                                            <td>{{data.tireExchange}}</td>
                                            <td>{{data.tireMissing}}</td>
                                            <td>{{data.tireRemoval}}</td>
                                            <td>{{data.tireRotation}}</td>
                                            <td>{{data.treadDepthBasedMaintenance}}</td>
                                        </tr>
                                    </table>
                                </div>                                
                        </div>
                             <!-- <div class="col-sm-9">
                                    <label for="inputaddfile" class="col-sm-3 control-label" >Total Pages *</label>{{viewTagbyPage}}
                                    <label for="inputaddfile" class="col-sm-3 control-label" >Size *</label>{{viewTagsize}}
                                <button style="float:left;" type="button" class="btn btn-danger" id="prv" ng-click="GetallTagbyTagType()" ><</button>
                                <button style="float:left;margin-left:10px;" type="button" class="btn btn-danger" id="nxt" ng-click="GetallTagbyTagType()" >></button>
                            </div> -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="cancel()" >Close</button>
            </div>
            </form>
        </div>
</script>