<div class="row">
    <div class="col-md-12 tmass-table-container">
                <uib-accordion>
                  <uib-accordion-group is-open="status.open" id="performanceDashb1">
                        <uib-accordion-heading>
                                Performance Dashboard <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i>
                        </uib-accordion-heading>
                        <uib-accordion>
                        <uib-accordion-group class="childAccordian" is-open="statusvehicle2.open">
                            <uib-accordion-heading>
                                    <p style="float: left;"></p> <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': statusvehicle2.open, 'glyphicon-plus': !statusvehicle2.open}"></i><b style="float:left;margin-left: 10px;"> > 90%  {{tireDashboard.totalgt80}}</b>
                            </uib-accordion-heading>
                            <p ng-show="tireDashboard.totalgt80==0"> No data To display</p>
                            <div id="buttonRow" ng-show="tireDashboard.totalgt80!=0">
                                <input  type="button" value="Print" style="color:black;"  ng-click="demoFromHTML11('totalgt80Data')"></input>
                                <input type="button" style="color:black;" value="Download PDF" ng-click="demoFromHTML('totalgt80Data')" />
                                <input type="button" style="color:black;" ng-click="exportData('totalgt80Data');" value="Download xls" /> 
                                <input type="button" style="color:black;" ng-click="sendMail('totalgt80Data');" value="Send Email" />
                            </div>
                            <div ng-show="tireDashboard.totalgt80!=0" class="table-responsive dashBoardtableScroll customers" id="tdgt80">
                              <table class="table" border-collapse: "collapse"; border="1" cellpadding="3" id="exportable">
                                  <tr>
                                          <th>Vehicle No</th>
                                          <th>Distance Travelled </th>
                                          <th>Performance %</th>
                                          <th class="noExl">Alerts Details</th>
                                  </tr>
                                  <tr ng-repeat="data in tireDashboard.totalgt80Data" class="text-align: left !important;">
                                          <td style="text-align: inherit !important;">{{data.vehicleRegistrationNumber}}</td>
                                          <td>{{data.distanceTravelled}}</td>
                                          <!-- <td>{{data.vehicleAxel}}</td> -->
                                          <td>{{data.vehicleTD}}</td>
                                          <td style="text-align: center !important;">
                                            <input type="button"  class="btn btn-primary" value="Click to View" ng-click="openRoleMasterModal1(data._id)" />  
                                          </td>
                                  </tr>
                              </table>
                           </div>
                        </uib-accordion-group>
                        <uib-accordion-group class="childAccordian" is-open="statusvehicle3.open">
                            <uib-accordion-heading>
                                    <p style="float: left;"> </p> <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': statusvehicle3.open, 'glyphicon-plus': !statusvehicle3.open}"></i><b style="float:left;margin-left: 10px;"> > 75% {{tireDashboard.totalgt50}}</b>
                            </uib-accordion-heading>
                            <p ng-show="tireDashboard.totalgt50==0"> No data To display</p>
                            <div id="buttonRow" ng-show="tireDashboard.totalgt50!=0">
                                    <input  type="button" value="Print" style="color:black;"  ng-click="demoFromHTML11('tdgt50')"></input>
                                    <input type="button" style="color:black;" value="Download PDF" ng-click="demoFromHTML('tdgt50')" />
                                    <input type="button" style="color:black;" ng-click="exportData('tdgt50');" value="Download xls" /> 
                                    <input type="button" style="color:black;" ng-click="sendMail('tdgt50');" value="Send Email" />
                            </div>
                            <div ng-show="tireDashboard.totalgt50!=0" class="table-responsive dashBoardtableScroll customers" id="tdgt50">
                              <table class="table" border-collapse: "collapse"; border="1" cellpadding="3" id="exportable2">
                                  <tr>
                                        <th>Vehicle No</th>
                                        <th>Distance Travelled </th>
                                        <th>Performance %</th>
                                        <th class="noExl">Alerts Details</th>
                                  </tr>
                                  <tr ng-repeat="data in tireDashboard.totalgt50Data" class="text-align: left !important;">
                                          <td style="text-align: inherit !important;">{{data.vehicleRegistrationNumber}}</td>
                                          <td>{{data.distanceTravelled}}</td>
                                          <!-- <td>{{data.vehicleAxel}}</td> -->
                                          <td>{{data.vehicleTD}}</td>
                                          <td style="text-align: center !important;">
                                            <input type="button" class="btn btn-primary" value="Click to View" ng-click="openRoleMasterModal1(data._id)" />                                              
                                          </td>
                                  </tr>
                              </table>
                           </div>
                        </uib-accordion-group>
                        <uib-accordion-group class="childAccordian" is-open="statusvehicle4.open">
                            <uib-accordion-heading>
                                    <p style="float: left;"> </p> <i class="pull-right glyphicon" style="float:right;" ng-class="{'glyphicon-minus': statusvehicle4.open, 'glyphicon-plus': !statusvehicle4.open}"></i><b style="float:left; margin-left: 10px;"> > 50%  {{tireDashboard.totalgt20}}</b>
                            </uib-accordion-heading>
                            <p ng-show="tireDashboard.totalgt20==0"> No data To display</p>
                            <div id="buttonRow" ng-show="tireDashboard.totalgt20!=0">
                                    <input  type="button" value="Print" style="color:black;"  ng-click="demoFromHTML11('tdgt20')"></input>
                                    <input type="button" style="color:black;" value="Download PDF" ng-click="demoFromHTML('tdgt20')" />
                                    <input type="button" style="color:black;" ng-click="exportData('tdgt20');" value="Download xls" /> 
                                    <input type="button" style="color:black;" ng-click="sendMail('tdgt20');" value="Send Email" />
                            </div>
                            <div ng-show="tireDashboard.totalgt20!=0" class="table-responsive dashBoardtableScroll customers" id="tdgt20">
                              <table class="table" border-collapse: "collapse"; border="1" cellpadding="3" id="exportable3">
                                  <tr>
                                          <th>Vehicle No</th>
                                          <th>Distance Travelled </th>
                                          <th>Performance %</th>
                                          <th class="noExl">Alerts Details</th>
                                  </tr>
                                  <tr ng-repeat="data in tireDashboard.totalgt20Data" class="text-align: left !important;">
                                          <td style="text-align: inherit !important;">{{data.vehicleRegistrationNumber}}</td>
                                          <td>{{data.distanceTravelled}}</td>
                                          <!-- <td>{{data.vehicleAxel}}</td> -->
                                          <td>{{data.vehicleTD}}</td>
                                          <td style="text-align: center !important;">
                                            <input type="button" class="btn btn-primary" value="Click to View" ng-click="openRoleMasterModal1(data._id)" />
                                        </td>
                                  </tr>
                              </table>
                           </div>
                        </uib-accordion-group>
                        <uib-accordion-group class="childAccordian" is-open="statusvehicle5.open">
                        <uib-accordion-heading>
                                <p style="float: left;"> </p> <i class="pull-right glyphicon" style="float:right;" ng-class="{'glyphicon-minus': statusvehicle5.open, 'glyphicon-plus': !statusvehicle5.open}"></i><b style="float:left; margin-left: 10px;"> > 25%  {{tireDashboard.totallt20}}</b>
                        </uib-accordion-heading>
                            <p ng-show="tireDashboard.totallt20==0"> No data To display</p>
                            <div id="buttonRow" ng-show="tireDashboard.totallt20!=0" >
                                    <input  type="button" value="Print" style="color:black;"  ng-click="demoFromHTML11('tdlt20')"></input>
                                    <input type="button" style="color:black;" value="Download PDF" ng-click="demoFromHTML('tdlt20')" />
                                    <input type="button" style="color:black;" ng-click="exportData('tdlt20');" value="Download xls" /> 
                                    <input type="button" style="color:black;" ng-click="sendMail('tdlt20');" value="Send Email" />
                            </div>
                            <div ng-show="tireDashboard.totallt20!=0" class="table-responsive dashBoardtableScroll customers" id="tdlt20" >
                                <table class="table" border-collapse: "collapse"; border="1" cellpadding="3" id="exportable4">
                                    <tr>
                                          <th>Vehicle No</th>
                                          <th>Distance Travelled </th>
                                          <th>Performance %</th>
                                          <th class="noExl">Alerts Details</th>
                                    </tr>
                                    <tr ng-repeat="data in tireDashboard.totallt20Data" class="text-align: left !important;">
                                        <td style="text-align: inherit !important;">{{data.vehicleRegistrationNumber}}</td>
                                        <td>{{data.distanceTravelled}}</td>
                                        <!-- <td>{{data.vehicleAxel}}</td> -->
                                        <td>{{data.vehicleTD}}</td>
                                        <td style="text-align: center !important;">
                                            <input type="button" class="btn btn-primary" value="Click to View" ng-click="openRoleMasterModal1(data._id)" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </uib-accordion-group>
                        <uib-accordion-group class="childAccordian" is-open="statusvehicleTotal.open">
                            <uib-accordion-heading>
                                    <p style="float: left;"> </p> <i class="pull-right glyphicon" style="float:right;" ng-class="{'glyphicon-minus': statusvehicleTotal.open, 'glyphicon-plus': !statusvehicleTotal.open}"></i><b style="float:left;margin-left: 10px;"> < 25% {{nonConfiguredVehicles.length}}</b>
                            </uib-accordion-heading>
                            <p ng-show="nonConfiguredVehicles.length==0"> No data To display</p>
                            <div id="buttonRow" ng-show="nonConfiguredVehicles.length!=0">
                                    <input  type="button" value="Print" style="color:black;"  ng-click="demoFromHTML11('tdnonConfigured')"></input>
                                    <input type="button" style="color:black;" value="Download PDF" ng-click="demoFromHTML('tdnonConfigured')" />
                                    <input type="button" style="color:black;" ng-click="exportData('tdnonConfigured');" value="Download xls" /> 
                                    <input type="button" style="color:black;" ng-click="sendMail('tdnonConfigured');" value="Send Email" />
                            </div>
                            <div ng-show="nonConfiguredVehicles.length!=0" class="table-responsive dashBoardtableScroll customers" id="tdnonConfigured">
                                <table class="table" border-collapse: "collapse"; border="1" cellpadding="3" id="exportable5">
                                    <tr>
                                            <th>Vehicle No</th>
                                            <th>Distance Travelled </th>
                                            <th>Performance %</th>
                                            <th class="noExl">Alerts Details</th>
                                    </tr>
                                    <tr ng-repeat="data in nonConfiguredVehicles" class="text-align: left !important;">
                                            <td style="text-align: inherit !important;">{{data.vehicleRegistrationNumber}}</td>
                                            <td>{{data.distanceTravelled}}</td>
                                            <!-- <td>{{data.vehicleAxel}}</td> -->
                                            <td>{{data.vehicleTD}}</td>
                                            <td style="text-align: center !important;">
                                                <input type="button" class="btn btn-primary" value="Click to View" ng-click="openRoleMasterModal1(data._id)" />
                                            </td>
                                    </tr>
                                </table>
                            </div>
                        </uib-accordion-group>
                    </uib-accordion>
                    </uib-accordion-group>
                  </uib-accordion>
    </div>       
</div>
<script type="text/ng-template" id="performanceroleMasterPopup.html">
    <div class="modal-header">
        <h3 class="modal-title">Performance Dashboard Details</h3>
    </div>
    <form ng-submit="save(vccUser)" validate>
        <div class="modal-body">
                <div ba-panel ba-panel-title="" ba-panel-class="with-scroll table-panel">
                        <div class="table-responsive" style="overflow: visible;">
                            <table class="table">
                                <tr>
                                    <th>Position Name</th>
                                    <th>Tire Missing</th>
                                    <th>Tire Removal</th>
                                    <th>Tag Tampering</th>
                                    <th>Tire Exchange</th>
                                    <th>Tire Rotation</th>
                                    <th>High Pressure Count</th>
                                    <th>Low PressureCount</th>
                                    <th>High Temperature Count</th>
                                    <th>Improper Tag fitment</th>
                                    <th>Tread DepthBased Maintenance</th>
                                    <th>Invalid Tag</th>
                                    <th>Invalid Tire</th>
                                    <th>Invalid Vehicle</th>
                                </tr>
                                <tr ng-repeat="data in myalertArr" class="text-align: left !important;">
                                    <!-- <td style="text-align: inherit !important;">{{data.tirePositionName}}</td> -->
                                    <td>{{data.positionId}}</td>
                                    <td>{{data.tireMissing}}</td>
                                    <td>{{data.tireRemoval}}</td>
                                    <td>{{data.tagTampering}}</td>
                                    <td>{{data.tireExchange}}</td>
                                    <td>{{data.tireRotation}}</td>
                                    <td>{{data.highPressureCount}}</td>
                                    <td>{{data.lowPressureCount}}</td>
                                    <td>{{data.highTemperatureCount}}</td>
                                    <td>{{data.improperTagfitment}}</td>
                                    <td>{{data.treadDepthBasedMaintenance}}</td>
                                    <td>{{data.invalidTag}}</td>
                                    <td>{{data.invalidTire}}</td>
                                    <td>{{data.invalidVehicle}}</td>
                                </tr>
                            </table>
                        </div>                                
                </div>
        </div>
        <div class="modal-footer">
            <!-- <button class="btn btn-primary" type="submit">Save</button> -->
            <button class="btn btn-danger" type="button" ng-click="cancel()">close</button>
        </div>
    </form>
</script>