<div class="row">
    <!-- <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button" style="margin-left: 10px;" ng-click="openModal()">TPMS View</button>
            <input type="button" style="margin-left: 10px;" class="btn btn-secondary tmass-table-button col-sm-2" value="Download" onClick="window.location.href='../../assets/sampleFiles/vehiclespec.xlsx'"> 
            <button class="btn btn-secondary tmass-table-button col-sm-2"  ng-click="openvehicleSpecModal()">Upload in Bulk</button>
        </div>  
        
    </div>        -->

    <div id="content">
        <!-- {{vehiclesConfig.data.data.vehcileAxelConfiguration}}    {{vehiclesConfig.data.data.vehicleRegistrationNumber}}
           {{vehiclesConfig.data.data.vehicleModelNo}}    -->
            <div class="container-fluid text-right" ng-if="selectedAxelConfig != '2x4'" ng-repeat="v in vehicleDetails ">
                    <p>Last Update Time :  {{v.DeviceDateTime}}</p>   
            </div>
           
        
            <!-- Display 11 tyre View -->
            <div class="container-fluid text-center"   ng-if="selectedAxelConfig === '2x4x4'" ng-repeat="v in vehicleDetails ">   

                <div class="row" > 
                        
                    <div class="col-xs-6 col-md-2"></div>
                    <div class="col-xs-6 col-md-2"> </div>
                    <div class="col-xs-6 col-md-2" >
                            <div class=" tmass-high-temp-prs" ng-if="v.Temp_5 > 90 || v.Pres_5 > 146 ||  v.Pres_5 < 110" > 
                                    <p class="tmass-high-temp_text"> 
                                      {{v.Temp_5}} °C
                                    <br>
                                      {{v.Pres_5}} psi
                                    </p>
                            </div> 
                            <div class="" ng-if=" v.Pres_5 <= 146 &&  v.Pres_5>=110"> 
                                    <p > 
                                      {{v.Temp_5}} °C
                                    <br>
                                      {{v.Pres_5}} psi
                                    </p>
                            </div> 
                    </div>
                    <div class="col-xs-6 col-md-2"  >
                        <div class=" tmass-high-temp-prs" ng-if="v.Temp_9 > 90 || v.Pres_9>146 ||  v.Pres_9<110"> 
                            <p class="tmass-high-temp_text"> 
                                  {{v.Temp_9}} °C
                                <br>
                                  {{v.Pres_9}} psi
                            </p>
                        </div> 
                        <div class="" ng-if=" v.Pres_9 <= 146 &&  v.Pres_9 >= 110"> 
                                <p > 
                                  {{v.Temp_9}} °C
                                <br>
                                  {{v.Pres_9}} psi
                                </p>
                        </div> 
                    </div>
                    <div class="col-xs-6 col-md-2"></div>
                    <div class="col-xs-6 col-md-4" > 
                        <div ng-if="deviceType === 'treel'"> 
                            <a href={{locationUrl}} target="_blank"> <h4 class="tmass-href-style">Locate Vehicle <img  src="../../assets/img/imgtpms/location.gif"  style="width:35px;height:35px" > </h4> </a>
                        
                        <a ng-click="reportStatus(vehicleReport)" href={{vehicleReport}} download> <h4 style="margin-top: 5px;" class="tmass-href-style">Download Report <img  src="../../img/excel_report.png"  class="tmass-img-style" > </h4> </a>
                  </div>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-xs-6 col-md-2"></div>
                    <div class="col-xs-6 col-md-2" >
                            <div class=" tmass-high-temp-prs" ng-if="v.Temp_1 > 90 || v.Pres_1>146 ||  v.Pres_1<110">  
                            <p class="tmass-high-temp_text">
                                    <!-- | filter : '1B' -->
                                  {{v.Temp_1}} °C
                                <br>
                                  {{v.Pres_1}} psi
                            </p>
                        </div>
                        <div class="" ng-if=" v.Pres_1<=146  && v.Pres_1>=110">  
                            <p >
                                    <!-- | filter : '1B' -->
                                  {{v.Temp_1}} °C
                                <br>
                                  {{v.Pres_1}} psi
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-2"  >
                        <div class=" tmass-high-temp-prs" ng-if="v.Temp_4 > 90 || v.Pres_4>146 ||  v.Pres_4<110">  
                            <p class="tmass-high-temp_text">
                                    <!-- | filter : '2C' -->
                                      {{v.Temp_4}} °C
                                    <br>
                                      {{v.Pres_4}} psi
                            </p>
                        </div>
                        <div class="" ng-if=" v.Pres_4<=146 &&  v.Pres_4>=110">  
                            <p >
                                    <!-- | filter : '2C' -->
                                      {{v.Temp_4}} °C
                                    <br>
                                      {{v.Pres_4}} psi
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-2" >
                        <div class=" tmass-high-temp-prs" ng-if="v.Temp_8 > 90 || v.Pres_8>146 ||v.Pres_8<110">  
                            <p class="tmass-high-temp_text"> 
                                      {{v.Temp_8}} °C
                                    <br>
                                      {{v.Pres_8}} psi
                            </p>
                        </div> 
                        <div class="well" ng-if="v.Pres_8<=146 && v.Pres_8>=110">  
                            <p > 
                                      {{v.Temp_8}} °C
                                    <br>
                                      {{v.Pres_8}} psi
                            </p>
                        </div> 
                    </div>
                    <div class="col-xs-6 col-md-2"></div>
                    <div class="col-xs-6 col-md-2"></div>
                    <div class="col-xs-6 col-md-4">
                        <div ng-if="MgrValue === '1'"> 
                            <table class="table table-bordered" style="margin-bottom:1px; border-bottom: none;">
                                <thead>
                                    <tr style="color:white">
                                        <th class="text-center" style="font-weight: normal;">Total Distance- {{currentMgr}} KM</th>
                                    </tr>
                                </thead>
                            </table>
                            <table class="table table-bordered" style="border: 0px solid #ddd;">
                                <thead>
                                    <tr style="color:white">
                                        <th class="text-center" style="font-weight: normal;">Last Day- {{startDayMgr }} KM</th>
                                        <th class="text-center" style="font-weight: normal;">Last Month- {{startMonthMgr }} KM</th>   
                                    </tr>
                                </thead>
                            </table>
                        </div>     
                    </div>
                    <!-- <div class="col-xs-6 col-md-4" > 
                         
                      
                           
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-1"></div>
                    <div class="col-xs-6 col-md-8">
                        <img src="../../assets/img/imgtpms/truck_11_wheel.png" class="img-responsive" alt="Cinque Terre" style="width:80%;">
                        <div class="w3-display-right" > 
                            <div class="well tmass-high-temp-prs" ng-if="v.Temp_10 > 90 || v.Pres_10 > 146 ||  v.Pres_10 < 110">  
                                <p class="tmass-high-temp_text"> 
                                          {{v.Temp_10}} °C
                                        <br>
                                          {{v.Pres_10}} psi
                                </p>
                            </div> 
                            <div class="well" ng-if="v.Pres_10<=146 &&  v.Pres_10>=110">  
                                <p > 
                                          {{v.Temp_10}} °C
                                        <br>
                                          {{v.Pres_10}} psi
                                </p>
                            </div> 
                        </div>
                    </div>
                </div>
                <br>
                <div class="row"> 
                    <div class="col-xs-6 col-md-2"></div>
                    <div class="col-xs-6 col-md-2">
                        <div class="well tmass-high-temp-prs" ng-if="v.Temp_0 > 90 || v.Pres_0 > 146 ||  v.Pres_0 < 110">  
                            <p class="tmass-high-temp_text">
                                      {{v.Temp_0}} °C
                                    <br>
                                      {{v.Pres_0}} psi
                            </p>
                        </div>
                        <div class="well" ng-if="v.Pres_0 <= 146 &&  v.Pres_0 >= 110" >  
                            <p >
                                      {{v.Temp_0}} °C
                                    <br>
                                      {{v.Pres_0}} psi
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <div class="well tmass-high-temp-prs" ng-if="v.Temp_3 > 90 || v.Pres_3 > 146 ||  v.Pres_3 < 110">  
                            <p class="tmass-high-temp_text"> 
                                      {{v.Temp_3}} °C
                                    <br>
                                      {{v.Pres_3}} psi
                            </p>
                        </div>
                        <div class="well" ng-if=" v.Pres_3 <= 146 &&  v.Pres_3 >= 110">  
                            <p > 
                                      {{v.Temp_3}} °C
                                    <br>
                                      {{v.Pres_3}} psi
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <div class="well tmass-high-temp-prs" ng-if="v.Temp_7 > 90 || v.Pres_7 > 146 ||  v.Pres_7 < 110">  
                            <p class="tmass-high-temp_text"> 
                                      {{v.Temp_7}} °C
                                    <br>
                                      {{v.Pres_7}} psi
                            </p>
                        </div> 
                        <div class="well" ng-if="v.Pres_7 <= 146 && v.Pres_7 >= 110">  
                                <p > 
                                          {{v.Temp_7}} °C
                                        <br>
                                          {{v.Pres_7}} psi
                                </p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-2"></div>
                    <div class="col-xs-6 col-md-2"></div>
                </div>
                <div class="row"> 
                    <div class="col-xs-6 col-md-2"></div>
                    <div class="col-xs-6 col-md-2"> </div>
                    <div class="col-xs-6 col-md-2">
                            <div class="well tmass-high-temp-prs" ng-if="v.Temp_2 > 90 || v.Pres_2 > 146 ||  v.Pres_2 < 110">  
                                    <p class="tmass-high-temp_text">
                                        {{v.Temp_2}} °C
                                         <br>
                                        {{v.Pres_2}} psi
                                    </p>
                            </div> 
                            <div class="well" ng-if="v.Pres_2 <= 146 && v.Pres_2 >= 110">  
                                    <p > 
                                              {{v.Temp_2}} °C
                                            <br>
                                              {{v.Pres_2}} psi
                                    </p>
                            </div>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <div class="well tmass-high-temp-prs" ng-if="v.Temp_6 > 90 || v.Pres_6 > 146 ||  v.Pres_6 < 110">  
                                <p class="tmass-high-temp_text">
                                    {{v.Temp_6}} °C
                                     <br>
                                    {{v.Pres_6}} psi
                                </p>
                        </div> 
                        <div class="well" ng-if="v.Pres_6 <= 146 && v.Pres_6 >= 110">  
                                <p > 
                                          {{v.Temp_6}} °C
                                        <br>
                                          {{v.Pres_6}} psi
                                </p>
                        </div> 
                    </div>
                    <div class="col-xs-6 col-md-2"></div>
                    <div class="col-xs-6 col-md-2"></div>
                </div>
            </div>
         
             <!-- Display  5 Tyre View -->
             <div class="container-fluid text-center" ng-if="selectedAxelConfig == '2x2'" ng-repeat="v in vehicleDetails ">                     
                <div class="row">
                    <div class="col-xs-6 col-md-2"></div>
                    <div class="col-xs-6 col-md-2" >
                        <div class="well tmass-high-temp-prs" ng-if="v.Temp_1 > 50 || v.Pres_1 > 40 ||  v.Pres_1 < 26">  
                            <p class="tmass-high-temp_text">
                                {{v.Temp_1}} °C
                                <br>
                                {{v.Pres_1}} psi
                            </p>
                        </div> 
                        <div class="well" ng-if="v.Pres_1 <= 40 && v.Pres_1 >= 26">  
                            <p > 
                                {{v.Temp_1}} °C
                                <br>
                                {{v.Pres_1}} psi
                            </p>
                        </div> 
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <div class="well tmass-high-temp-prs" ng-if="v.Temp_3 > 50 || v.Pres_3 > 40 ||  v.Pres_3 < 26">  
                            <p class="tmass-high-temp_text"> 
                                {{v.Temp_3}} °C
                                <br>
                                {{v.Pres_3}} psi
                            </p>
                        </div> 
                        <div class="well" ng-if="v.Pres_3 <= 40 && v.Pres_3 >= 26">  
                            <p > 
                                {{v.Temp_3}} °C
                                <br>
                                {{v.Pres_3}} psi
                            </p>
                        </div>  
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-8">
                    <img  ng-if="selectedVehicleNo == 'MH12QF8319'"src="../../assets/img/imgtpms/car_5_wheel.png" class="img-responsive" alt="Cinque Terre" style="width:60%;">
                    <img ng-if="selectedVehicleNo == 'MH0007'" src="../../assets/img/imgtpms/truck_5_wheel.png" class="img-responsive" alt="Cinque Terre" style="width:60%;">  
                    <div class="w3-display-right"> 
                        <div class="well tmass-high-temp-prs" ng-if="v.Temp_4 > 50 || v.Pres_4 > 40 ||  v.Pres_4 < 26">  
                            <p class="tmass-high-temp_text"> 
                                {{v.Temp_4}} °C
                                <br>
                                {{v.Pres_4}} psi
                            </p>
                        </div> 
                        <div class="well" ng-if="v.Pres_4 <= 40 && v.Pres_4 >= 26">  
                            <p > 
                                {{v.Temp_4}} °C
                                <br>
                                {{v.Pres_4}} psi
                            </p>
                        </div>  
                    </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-6 col-md-2"></div>
                    <div class="col-xs-6 col-md-2">
                            <div class="well tmass-high-temp-prs" ng-if="v.Temp_0 > 50 || v.Pres_0 > 40 ||  v.Pres_0 < 26">  
                                <p class="tmass-high-temp_text">
                                
                                    {{v.Temp_0}} °C
                                    <br>
                                    {{v.Pres_0}} psi
                                </p>
                            </div> 
                            <div class="well" ng-if="v.Pres_0 <= 40 && v.Pres_0 >= 26">  
                                <p > 
                                 
                                    {{v.Temp_0}} °C
                                    <br>
                                    {{v.Pres_0}} psi
                                </p>
                            </div>  
                    </div>
                    <div class="col-xs-6 col-md-2">
                            <div class="well tmass-high-temp-prs" ng-if="v.Temp_2 > 50 || v.Pres_2 > 40 ||  v.Pres_2 < 26">  
                                <p class="tmass-high-temp_text"> 
                                    {{v.Temp_2}} °C
                                    <br>
                                    {{v.Pres_2}} psi
                                </p>
                            </div> 
                            <div class="well" ng-if="v.Pres_2 <= 40 && v.Pres_2 >= 26">  
                                <p >  
                                    {{v.Temp_2}} °C
                                    <br>
                                    {{v.Pres_2}} psi
                                </p>
                            </div>  
                    </div>
                </div>
            </div>

            
             <!-- Display  6 Tyre View -->
             <div class="container text-center" ng-if="selectedAxelConfig == '2x4'" ng-repeat="v in vehicleDetails " style="margin-left:15%; margin-top: 15px">  
                    <div class="row">
                            <div class="col-xs-6 col-md-1"></div>
                            <div class="col-xs-6 col-md-2" ></div>
                            <div class="col-xs-6 col-md-2" ></div>
                            <div class="col-xs-6 col-md-2">
                                <div class="well tmass-high-temp-prs" ng-if="v.Temp_5 > 85 || v.Pres_5 > 145 ||  v.Pres_5 < 110">  
                                    <p class="tmass-high-temp_text"> 
                                        {{v.Temp_5}} °C
                                        <br>
                                        {{v.Pres_5}} psi
                                    </p>
                                </div> 
                                <div class="well" ng-if="v.Pres_5 <= 145 && v.Pres_5 >= 110">  
                                    <p > 
                                        {{v.Temp_5}} °C
                                        <br>
                                        {{v.Pres_5}} psi
                                    </p>
                                </div>  
                               
                            </div>
                            <div class="col-xs-6 col-md-4">
                                    <div  ng-repeat="v in vehicleDetails ">
                                            <p>Last Update Time :  {{v.DeviceDateTime}}</p>   
                                    </div>
                            <div ng-if="deviceType === 'treel'"> 
                                    <a href={{locationUrl}} target="_blank"> <h4 class="tmass-href-style">Locate Vehicle <img  src="../../img/location.gif"  style="width:35px;height:35px" > </h4> </a>
                                
                                <a ng-click="reportStatus(vehicleReport)" href={{vehicleReport}} download> <h4 style="margin-top: 5px;" class="tmass-href-style">Download Report <img  src="../../img/excel_report.png"  class="tmass-img-style" > </h4> </a>
                          </div>
                          </div>
                    </div>                   
                <div class="row">
                    <div class="col-xs-6 col-md-1"></div>
                
                    <div class="col-xs-6 col-md-2"  >
                        <div class="well tmass-high-temp-prs" ng-if="v.Temp_1 > 85 || v.Pres_1 > 145 ||  v.Pres_1 < 110">  
                            <p class="tmass-high-temp_text">
                                {{v.Temp_1}} °C
                                <br>
                                {{v.Pres_1}} psi
                            </p>
                        </div> 
                        <div class="well" ng-if="v.Pres_1 <= 145 && v.Pres_1 >= 110">  
                            <p > 
                                {{v.Temp_1}} °C
                                <br>
                                {{v.Pres_1}} psi
                            </p>
                        </div> 
                    </div>
                    <div class="col-xs-6 col-md-2"></div>
                    <div class="col-xs-6 col-md-2">
                        <div class="well tmass-high-temp-prs" ng-if="v.Temp_4 > 85 || v.Pres_4 > 145 ||  v.Pres_4 < 110">  
                            <p class="tmass-high-temp_text"> 
                                {{v.Temp_4}} °C
                                <br>
                                {{v.Pres_4}} psi
                            </p>
                        </div> 
                        <div class="well" ng-if="v.Pres_4 <= 145 && v.Pres_4 >= 110">  
                            <p > 
                                {{v.Temp_4}} °C
                                <br>
                                {{v.Pres_4}} psi
                            </p>
                        </div>  
                    </div>
                    <div class="col-xs-6 col-md-4">
                            <div ng-if="MgrValue === '1'"> 
                                <table class="table table-bordered" style="margin-bottom:1px; border-bottom: none;">
                                    <thead>
                                        <tr style="color:white">
                                            <th class="text-center" style="font-weight: normal;">Total Distance- {{currentMgr}} KM</th>
                                        </tr>
                                    </thead>
                                </table>
                                <table class="table table-bordered" style="border: 0px solid #ddd;">
                                    <thead>
                                        <tr style="color:white">
                                            <th class="text-center" style="font-weight: normal;">Last Day- {{startDayMgr}} KM</th>
                                            <th class="text-center" style="font-weight: normal;">Last Month- {{startMonthMgr}} KM</th>   
                                        </tr>
                                    </thead>
                                </table>
                            </div>     
                </div>
                <div class="row" >
                    <div class="col-xs-6 col-md-8"  style="margin-top: -20px;">
                  
                    <img  src="../../img/2x4bus.png" class="img-responsive" alt="Cinque Terre" style="width: 90%;">  
                    <!-- <div class="w3-display-right"> 
                        <div class="well tmass-high-temp-prs" ng-if="v.Temp_4 > 50 || v.Pres_4 > 40 ||  v.Pres_4 < 26">  
                            <p class="tmass-high-temp_text"> 
                                {{v.Temp_4}} °C
                                <br>
                                {{v.Pres_4}} psi
                            </p>
                        </div> 
                        <div class="well" ng-if="v.Pres_4 <= 40 && v.Pres_4 >= 26">  
                            <p > 
                                {{v.Temp_4}} °C
                                <br>
                                {{v.Pres_4}} psi
                            </p>
                        </div>  
                    </div> -->
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-6 col-md-1"></div>
                    <div class="col-xs-6 col-md-2">
                            <div class="well tmass-high-temp-prs" ng-if="v.Temp_0 > 85 || v.Pres_0 > 145 ||  v.Pres_0 < 110">  
                                <p class="tmass-high-temp_text">
                                
                                    {{v.Temp_0}} °C
                                    <br>
                                    {{v.Pres_0}} psi
                                </p>
                            </div> 
                            <div class="well" ng-if="v.Pres_0 <= 145 && v.Pres_0 >= 110">  
                                <p > 
                                 
                                    {{v.Temp_0}} °C
                                    <br>
                                    {{v.Pres_0}} psi
                                </p>
                            </div>  
                    </div>
                    <div class="col-xs-6 col-md-2"></div>
                    <div class="col-xs-6 col-md-2">
                            <div class="well tmass-high-temp-prs" ng-if="v.Temp_3 > 85 || v.Pres_3 > 145 ||  v.Pres_3 < 110">  
                                <p class="tmass-high-temp_text"> 
                                    {{v.Temp_3}} °C
                                    <br>
                                    {{v.Pres_3}} psi
                                </p>
                            </div> 
                            <div class="well" ng-if="v.Pres_3 <= 145 && v.Pres_3 >= 110">  
                                <p >  
                                    {{v.Temp_3}} °C
                                    <br>
                                    {{v.Pres_3}} psi
                                </p>
                            </div>  
                    </div>
                </div>
                <div class="row">
                        <div class="col-xs-6 col-md-1"></div>
                        <div class="col-xs-6 col-md-2"></div>
                        <div class="col-xs-6 col-md-2"></div>
                        <div class="col-xs-6 col-md-2">
                                <div class="well tmass-high-temp-prs" ng-if="v.Temp_2 > 85 || v.Pres_2 > 145 ||  v.Pres_2 < 110">  
                                    <p class="tmass-high-temp_text"> 
                                        {{v.Temp_2}} °C
                                        <br>
                                        {{v.Pres_2}} psi
                                    </p>
                                </div> 
                                <div class="well" ng-if="v.Pres_2 <= 145 && v.Pres_2 >= 110">  
                                    <p >  
                                        {{v.Temp_2}} °C
                                        <br>
                                        {{v.Pres_2}} psi
                                    </p>
                                </div>  
                        </div>
                    </div>
            </div>
        </div> 
    </div>
</div>

 