<!-- <div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button"   ng-click="openModal()">Add Tube Manufacturer</button>
        </div>
        <div id='jqxWidget'>
            <div id="grid">
            </div>
        </div>
    </div>       
</div> -->

<!-- PopUp -->
<!-- <div id='jqxwindowTubeManctr' >
    <div class="tmass-model-header">
        Tube Manufacturer
    </div>
    <div>
    <div class="modal-body" >
        <form class="form-horizontal" name="myForm" validate>
            <div class="form-group">
                <label for="inputTubeManufacturerName" class="col-sm-3 control-label" >Name *</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.tubeManufacturerName" class="form-control authInputs" id="tubeManufacturerName" placeholder="Enter Tube Manufacturer Name">
                </div>
            </div>
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div> 
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="done(vccUser)">Save</button>
        <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
    </div>
    </div> -->

    <!-- ///////////////////////////////////////////// tube type Manufacturer -->
    <div class="row">
        <div class="col-md-12 tmass-table-container">
            <!-- <div class="add-row-editable-table">
                <button class="btn btn-secondary tmass-table-button" id="popupMultipleDelete" ng-click="multidelete()">Multiple delete Tube Type</button>
            </div> -->
            <div class="add-row-editable-table">
                <button class="btn btn-secondary tmass-table-button" ng-click="openModal()">Add Tube Manufacturer</button>
            </div>
            <div id='jqxWidget'>
                <div id="grid">
                </div>
            </div>
        </div>       
    </div>

    <!-- PopUp -->
    <script type="text/ng-template" id="jqxwindowTubeManctr.html">
    <div id='' >
        <div class="tmass-model-header">
            Tube Manufacturer
        </div>
        <div>
            <form class="form-horizontal" name="myForm" ng-submit="done(vccUser)" validate>
                <div class="modal-body" >
                    <div class="form-group">
                        <label for="inputTubeManufacturerName" class="col-sm-3 control-label" >Tube Manufacturer Name *</label>
                        <div class="col-sm-9">
                            <input type="text" ng-model= "vccUser.tubeManufacturerName" class="form-control authInputs" id="tubeManufacturerName" placeholder="Enter Tube Manufacturer Name" required>
                        </div>
                    </div>
                    <div>
                        <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" >Save</button>
                    <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
                </div>
            </form>
        </div>
    </div>
</script>