<div class="row">
    <div class="col-md-12 tmass-table-container">
        <form class="form-horizontal" name="myForm" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row clearfix">
                            <label for="inputtagType" class="col-sm-4 control-label" >Vehicle No </label>
                            <div class="col-sm-8">
                                <input type="text" ng-model= "vccUser.vehicleSrnNo" class="form-control authInputs" id="vehicleRegNo" placeholder="Enter Vehcile No">
                            </div>
                    </div>
                </div>
                <div class="col-md-6" style="display: none;">
                    <div class="form-group row clearfix">
                        <label for="AlertType" class="col-sm-4 control-label" >Vehicle Group </label>
                        <div class="col-sm-8">
                            <select class="form-control authInputs" id="vehicleGroup" ng-model="vccUser.vehicleGroup">
                                <option value="">Select</option>
                                <option ng-repeat="val in VehicleGroup" value={{val.text}}>{{val.text}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="form-group">
                <label for="inputtagType" class="col-sm-3 control-label" >Vehicle No </label>
                <div class="col-sm-4">
                    <input type="text" ng-model= "vccUser.vehicleSrnNo" class="form-control authInputs" id="vehicleRegNo" placeholder="Enter Vehcile No">
                </div>
            </div>
            <div class="form-group">
                <label for="AlertType" class="col-sm-3 control-label" >Vehicle Group </label>
                <div class="col-sm-4">
                        <select class="form-control authInputs" id="vehicleGroup" ng-model="vccUser.vehicleGroup">
                            <option value="">Select</option>
                            <option ng-repeat="val in VehicleGroup" value={{val.text}}>{{val.text}}</option>
                        </select>
                </div>
            </div> -->
            <div class="form-group text-center">

                    <button ng-disabled="configuredVehicles.length==0 || Object.keys(filteredData).length==0" type="button" class="btn btn-secondary" id="generateAlertReport" > Filter Report</button>

                    <button ng-disabled="configuredVehicles.length==0 || Object.keys(filteredData).length==0" type="button" class="btn btn-primary" id='excelExport' ng-click="printData()"> Export Report To Excel </button>

                    <button ng-disabled="configuredVehicles.length==0 || Object.keys(filteredData).length==0" type="button" class="btn btn-danger" ng-click="sendMail()" > Email Report</button>

                    <button ng-disabled="configuredVehicles.length==0 || Object.keys(filteredData).length==0" type="button" class="btn btn-danger" ng-click="clearData1()" > Clear Filter </button>
            </div>

        </form>
        <div id='jqxWidget'>
            <div id="gridPerformanceReport">
            </div>
        </div>
    </div>       
</div>
<script type="text/ng-template" id="jqxgridPerformanceReportDetails.html">
    <div>
        <div class="tmass-model-header">
            Vehicle Alert Details
        </div>
        <form class="form-horizontal" name="myForm">
            <div class="modal-body" >
                <div class="form-group">
                    <div class="col-sm-12" >
                        <div ba-panel ba-panel-title="Vehicle No : {{currvehicleData}}" ba-panel-class="with-scroll table-panel">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                            <th>Tire position</th>
                                            <th>High Pressure Count</th>
                                            <th>HighTemperature Count</th>
                                            <th>Improper Tag fitment</th>
                                            <th>Invalid Tag</th>
                                            <th>Invalid Tire</th>
                                            <th>Invalid Vehicle</th>
                                            <th>low PressureCount</th>                                                
                                            <th>Tag Tampering</th>
                                            <th>Tire Exchange</th>
                                            <th>Tire Missing</th>
                                            <th>Tire Removal</th>
                                            <th>Tire Rotation</th>
                                            <th>Tread Depth Based Maintenance</th>
                                        </tr>
                                        <tr ng-repeat="data in myalertArr" class="text-align: left !important;">
                                            <td style="text-align: inherit !important;">{{data.positionId}}</td>
                                            <td>{{data.highPressureCount}}</td>
                                            <td>{{data.highTemperatureCount}}</td>
                                            <td>{{data.improperTagfitment}}</td>
                                            <td>{{data.invalidTag}}</td>
                                            <td>{{data.invalidTire}}</td>
                                            <td>{{data.invalidVehicle}}</td>
                                            <td>{{data.lowPressureCount}}</td>                                                
                                            <td>{{data.tagTampering}}</td>
                                            <td>{{data.tireExchange}}</td>
                                            <td>{{data.tireMissing}}</td>
                                            <td>{{data.tireRemoval}}</td>
                                            <td>{{data.tireRotation}}</td>
                                            <td>{{data.treadDepthBasedMaintenance}}</td>
                                        </tr>
                                    </table>
                                </div>                                
                        </div>
                                <!-- <div class="col-sm-9">
                                    <label for="inputaddfile" class="col-sm-3 control-label" >Total Pages *</label>{{viewTagbyPage}}
                                    <label for="inputaddfile" class="col-sm-3 control-label" >Size *</label>{{viewTagsize}}
                                <button style="float:left;" type="button" class="btn btn-danger" id="prv" ng-click="GetallTagbyTagType()" ><</button>
                                <button style="float:left;margin-left:10px;" type="button" class="btn btn-danger" id="nxt" ng-click="GetallTagbyTagType()" >></button>
                            </div> -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="cancel()" >Close</button>
            </div>
            </form>
        </div>
</script>