<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button" ng-click="openModal()" >Add Tube Type</button>
        </div>
        <div id='jqxWidget'>
            <div id="grid">
            </div>
        </div>
    </div>       
</div>

<!-- PopUp -->
<script type="text/ng-template" id="jqxwindowTubeType.html">
<div id='jqxwindowTubeType1' >
    <div class="tmass-model-header">
        Tube Type
    </div>
    <div>

        <form class="form-horizontal" name="myForm" ng-submit="done(vccUser)">
                <div class="modal-body" >
            <div class="input-group animated fadeI">
                <label for="inputTubeTypeName" class="col-sm-3 control-label" >Name *</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.tubeTypeName" class="form-control authInputs" id="tubeTypeName" placeholder="Enter Tube Type Name" required>
                </div>
            </div>
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="input-group animated fadeI">
                <label for="inputTubeTypeDesc" class="col-sm-3 control-label" >Description </label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.tubeTypeDesc" class="form-control authInputs" id="tubeTypeDesc" placeholder="Enter Tube Type Description" >
                </div>
            </div> 
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit">Save</button>
            <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
        </div>
        </form>

    </div>
    </div>
</script>