<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button" style="margin-left: 10px;" ng-click="openModal()">Add Vehicle Specifications</button>
            <input type="button" style="margin-left: 10px;" class="btn btn-secondary tmass-table-button col-sm-2" value="Download Sample File" onClick="window.location.href='../../assets/sampleFiles/vehiclespec.xlsx'"> 
            <button class="btn btn-secondary tmass-table-button col-sm-2" ng-click="openvehicleSpecModal()">Upload in Bulk</button>
        </div>
        <div id='jqxWidget'>
            <div id="grid">
            </div>
        </div>
    </div>       
</div>
        
<!-- PopUp -->
<script type="text/ng-template" id="jqxwindowVehicleSpec.html">
    <div id='' >
        <div class="tmass-model-header">
            Vehicle Specifications
        </div>
        <div>
        <form class="form-horizontal" name="myForm"  ng-submit="save(vccUser)" validate>
                <div class="modal-body" >
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="form-group">
                <label for="vehicleManufacturerId" class="col-sm-3 control-label" >Vehicle Manufacturer *</label>
                <div class="col-sm-9">
                    <select class="form-control authInputs" id="vehicleManufacturerId" ng-model="vccUser.vehicleManufacturerId" required>
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in vehicleManufacturers | orderBy: 'text'" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                    <!-- <input type="text" ng-model= "vccUser.tubeManufacturerName" class="form-control authInputs" id="tubeManufacturerName" placeholder="Enter Tube Manufacturing Name"> -->
                </div>
            </div>
            <div class="form-group">
                <label for="vehicleModelId" class="col-sm-3 control-label" >Vehicle Model *</label>
                <div class="col-sm-9">
                    <select class="form-control authInputs" id="vehicleModelId" ng-model="vccUser.vehicleModelId" required>
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu1 in vehicleModels | orderBy: 'text'"  ng-value="vhmanu1.value" ng-if="vhmanu1.vehicleManufacturerId === vccUser.vehicleManufacturerId">{{vhmanu1.text}}</option> 
                    </select>
                    <!-- <input type="text" ng-model= "vccUser.tubeManufacturerName" class="form-control authInputs" id="tubeManufacturerName" placeholder="Enter Tube Manufacturing Name"> -->
                </div>
            </div>
            <div class="form-group">
                <label for="vehicleAxelConfigurationId" class="col-sm-3 control-label" >Vehicle Axel Configuration *</label>
                <div class="col-sm-9">
                    <select class="form-control authInputs" id="vehicleAxelConfigurationId" ng-model="vccUser.vehicleAxelConfigurationId" required>
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in vehicleAxelConfigs | orderBy: 'text'" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                    <!-- <input type="text" ng-model= "vccUser.tubeManufacturerName" class="form-control authInputs" id="tubeManufacturerName" placeholder="Enter Tube Manufacturing Name"> -->
                </div>
            </div>
            <div class="form-group">
                <label for="rotationThreshold" class="col-sm-3 control-label" >Rotation Threshold *</label>
                <div class="col-sm-9">
                    <input type="number" min="0" ng-model= "vccUser.rotationThreshold" required class="form-control authInputs" id="rotationThreshold" placeholder="Enter Rotation Threshold">
                </div>
            </div> 
            <div class="form-group">
                <label for="loadCapacity" class="col-sm-3 control-label" >Load Capacity *</label>
                <div class="col-sm-9">
                    <input type="number" min="0" required ng-model= "vccUser.loadCapacity" class="form-control authInputs" id="loadCapacity" placeholder="Enter Load Capacity">
                </div>
            </div> 
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
        </div>
        </form>

    </div>
    </div>
</script>

<!-- PopUp for Vehicle spec -->
<script type="text/ng-template" id="jqxwindowVehicleSpecDetailBulkUpload.html">
    <div id="vehiclespecbulk">
        <div id="bulkUpload-box-body">
            <div>
                <div class="tmass-model-header">
                    Vehicle Specification
                </div>
                <form class="form-horizontal" name="myForm">
                    <div class="modal-body" >
                    <div class="form-group">
                            <label for="inputaddfile" class="col-sm-3 control-label" >Add File *</label>
                            <div class="col-sm-9">
                                <input name="file" accept=".xls,.xlsx" type="file" id="the-file" class="form-control authInputs" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" value="Upload" id="testUpload" name="submit" ng-click="uploadTagDetails()" >Save and Upload</button>
                        <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>