<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button"   ng-click="openModal()">Add Assign Tag Details</button>
        </div>
        <div id='jqxWidget'>
            <div id="gridcustTagAssign">
            </div>
        </div>
    </div>       
</div>

<!-- PopUp -->
<script type="text/ng-template" id="jqxwindowCustomerTagAssignedDetails.html">
<div>
    <div class="tmass-model-header">
        Assigned Tag Details
    </div>
    <div>
    <form class="form-horizontal" ng-submit="save(vccUser)" name="myForm" validate>
        <div class="modal-body" >
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="form-group">
                <label for="tagTypeId" class="col-sm-3 control-label" >Tag Type Name *</label>
                <div class="col-sm-9">
                    <select class="form-control authInputs data_field" id="tagTypeId" ng-model="vccUser.tagTypeId" required>
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in tagTypes  | orderBy:'text'" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                    <!-- <input type="text" ng-model= "vccUser.TagTypeName" class="form-control authInputs data_field" id="TagTypeName" placeholder="Enter Tag Name"> -->
                </div>
            </div>
            <div class="form-group">
                    <label for="tagQtyAssignmentId" class="col-sm-3 control-label" >Tag Qty Assignment *</label>
                    <div class="col-sm-9">
                        <select class="form-control authInputs data_field" id="tagQtyAssignmentId" ng-model="vccUser.tagQtyAssignmentId" required>
                            <option value="">Select</option>
                            <option ng-repeat="vhmanu in tagTypesAssigned" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                        </select>
                        <!-- <input type="text" ng-model= "vccUser.TagSizeName" class="form-control authInputs data_field" id="TagSizeName" placeholder="Enter Tag Size Name"> -->
                    </div>
            </div> 
            <div class="form-group">
                <label for="tagmasterId" class="col-sm-3 control-label" >Tag Name *</label>
                <div class="col-sm-9">
                    <select class="form-control authInputs data_field" id="tagmasterId" ng-model="vccUser.tagmasterId" required>
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in tagMasters" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                    <!-- <input type="text" ng-model= "vccUser.TagManufacturerName" class="form-control authInputs data_field" id="TagManufacturerName" placeholder="Enter Tag Manufacturing Name"> -->
                </div>
            </div>
            <div class="form-group">
                <label for="depotId" class="col-sm-3 control-label" >Customer Depot *</label>
                <div class="col-sm-9">
                    <select class="form-control authInputs data_field" id="depotId" ng-model="vccUser.depotId" required>
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in customerDepot" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                    <!-- <input type="text" ng-model= "vccUser.TagManufacturerName" class="form-control authInputs data_field" id="TagManufacturerName" placeholder="Enter Tag Manufacturing Name"> -->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
        </div>
    </form>
    </div>
</div>
</script>