<div class="row">
        <div class="col-md-12 tmass-table-container">
            <form class="form-horizontal" name="myForm" novalidate>
                <div class="form-group">
                    <label for="AlertType" class="col-sm-3 control-label" >Tire Type </label>
                    <div class="col-sm-4">
                            <select class="form-control authInputs" id="tireType" ng-model="vccUser.tireType">
                                <option value="">Select</option>
                                <option ng-value="{{data.tireTypeName}}" ng-repeat="data in arrtireType">{{data.tireTypeName}}</option> 
                            </select>
                    </div>
                </div>
                <div class="form-group text-center">    
                        <button ng-disabled="grid1arr.length==0 || Object.keys(filteredData).length==0" type="button" class="btn btn-secondary" id="generateReport"> Filter Report</button>    
                        <button ng-disabled="grid1arr.length==0 || Object.keys(filteredData).length==0" type="button" class="btn btn-primary" id='excelExport' ng-click="printData()"> Export Report To Excel </button>    
                        <button ng-disabled="grid1arr.length==0 || Object.keys(filteredData).length==0"  type="button" class="btn btn-danger" ng-click="sendMail()" > Email Report</button>    
                        <button ng-disabled="grid1arr.length==0 || Object.keys(filteredData).length==0" type="button" class="btn btn-danger" ng-click="clearData1()" > Clear Filter </button>                
                </div>    
            </form>
            <div id='jqxWidget'>
                <div id="gridTireReport">
                </div>
            </div>
        </div>       
    </div>    
    <!-- PopUp -->
    
<script type="text/ng-template" id="jqxtireReportDetails.html">
    <div>
        <div class="tmass-model-header">
            Tire Details
        </div>
        <form class="form-horizontal" name="myForm">
            <div class="modal-body" >
                <div class="form-group">
                    <div class="col-sm-12" >
                        <div ba-panel ba-panel-title="Tire Type : {{currTireData.tireTypeName}} Tire Manufacturer : {{currTireData.tireManufacturerName}} Tire Model : {{currTireData.tireModelNo}}" ba-panel-class="with-scroll table-panel">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                            <th>Sr No</th>
                                            <th>Tire Serial Number</th>
                                            <!-- <th>Tire Status </th> -->
                                            <th>Tire Wear Indicator</th>
                                            <th>Expected Tire Lifekm</th>
                                            <th>Remold Count</th>
                                            <th>Tire Remould Cost</th>
                                            <!-- <th>Depot Name</th>                                             -->
                                            <th>Tire Manufacturer</th>
                                            <th>Tire Model</th>
                                        </tr>
                                        <tr ng-repeat="data in grid2arr" class="text-align: left !important;">
                                            <td>{{$index+1}}</td>
                                            <td style="text-align: inherit !important;">{{data.tireSerialNumber}}</td>
                                            <!-- <td>{{data.tireStatusName}}</td> -->
                                            <td>{{data.tireWearIndicator}}</td>
                                            <td>{{data.expectedTireLife_km}}</td>
                                            <td>{{data.remoldCount}}</td>
                                            <td>{{data.tireRemouldCost}}</td>
                                            <!-- <td>{{data.depotName}}</td> -->
                                            <td>{{data.tireManufacturerName[0]}}</td>
                                            <td>{{data.tireModelNo[0]}}</td>
                                        </tr>
                                    </table>
                                </div>                                
                        </div>
                             <!-- <div class="col-sm-9">
                                    <label for="inputaddfile" class="col-sm-3 control-label" >Total Pages *</label>{{viewTagbyPage}}
                                    <label for="inputaddfile" class="col-sm-3 control-label" >Size *</label>{{viewTagsize}}
                                <button style="float:left;" type="button" class="btn btn-danger" id="prv" ng-click="GetallTagbyTagType()" ><</button>
                                <button style="float:left;margin-left:10px;" type="button" class="btn btn-danger" id="nxt" ng-click="GetallTagbyTagType()" >></button>
                            </div> -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="cancel()" >Close</button>
            </div>
            </form>
        </div>
</script>
<!-- <div id="popupWindow">
    <div>Edit</div>
    <div style="overflow: hidden;">
        <table>
            <tr>
                <td align="right">First Name:</td>
                <td align="left"><input id="firstName" /></td>
            </tr>
            <tr>
                <td align="right">Last Name:</td>
                <td align="left"><input id="lastName" /></td>
            </tr>
            <tr>
                <td align="right">Product:</td>
                <td align="left"><input id="product" /></td>
            </tr>
            <tr>
                <td align="right">Quantity:</td>
                <td align="left"><div id="quantity"></div></td>
            </tr>
            <tr>
                <td align="right">Price:</td>
                <td align="left"><div id="price"></div></td>
            </tr>
            <tr>
                <td align="right"></td>
                <td style="padding-top: 10px;" align="right"><input style="margin-right: 5px;" type="button" id="Save" value="Save" /><input id="Cancel" type="button" value="Cancel" /></td>
            </tr>
        </table>
    </div>
</div> -->
