<!-- Start grid -->
<div class="row">
        <!-- <select class="" id="country"></select> -->
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button" style="float: right; margin-bottom: 2%;" ng-click="openModal()" ng-disabled="onesystemAdmin==true">Add Customer Details</button>
        </div>
        <div id='jqxWidget'>
            <div id="customergrid">
            </div>
        </div>
    </div>       
</div>
<!-- End grid -->
<!-- PopUp -->
<script type="text/ng-template" id="jqxwindowCustomer.html">
    <div id="custform">
        <div>
            <div class="tmass-model-header">
                Customer Details
            </div>
            <div>

                    <form class="form-horizontal" ng-submit="save(vccUser)" name="myForm" validate>
                        <div class="modal-body">
                        <div class="form-group">
                            <label for="inputcustomerName" class="col-sm-3 control-label" > Customer Name *</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model= "vccUser.customerName" ng-focus="vccUser.cityId" class="form-control authInputs" id="customerName" placeholder="Enter Customer Name" autofocus required>
                            </div>
                        </div>
                        <div>
                            <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
                            <input type="text" style="display:none;" ng-model="vccUser.createdByCustomerId" class="form-buttons authInputs" id="createdByCustomerId" />
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-3 control-label" > Email *</label>
                            <div class="col-sm-9">
                                <input type="email" ng-model= "vccUser.email" class="form-control authInputs" id="addressLine1" placeholder="Enter Email Address" name = "emailId" ng-pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$/" required>
                                <label  class="errorMsg" ng-if = "myForm.emailId.$error.emailId || myForm.emailId.$error.pattern"> *Invalid Email-ID.</label>
                            </div>
                        </div> 
                        <div class="form-group">
                            <label for="inputaddressLine1" class="col-sm-3 control-label" >AddressLine 1</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model= "vccUser.addressLine1" class="form-control authInputs" id="addressLine1" placeholder="Enter Address Line 1">
                            </div>
                        </div> 
                        <div class="form-group">
                            <label for="inputaddressLine2" class="col-sm-3 control-label" >AddressLine 2</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model= "vccUser.addressLine2" class="form-control authInputs" id="addressLine2" placeholder="Enter Address Line 2">
                            </div>
                        </div> 
                        <div class="form-group">
                            <label for="inputpincode" class="col-sm-3 control-label" >Pincode</label>
                            <div class="col-sm-9">
                                <input type="text" min="6" onkeypress="if(this.value.length>=6) { return false;}" oninput="if(this.value.length>=6) { this.value = this.value.slice(0,6); }" ng-model= "vccUser.pincode" class="form-control authInputs" id="pincode" placeholder="Enter Pincode">
                                <label for="inputpincode" ng-show="pinMsg" class="col-sm-9 control-label validMsg" >{{pinMsg}}</label>
                            </div>
                        </div> 
                        <div class="form-group">
                            <label for="country" class="col-sm-3 control-label" >Country *</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model= "vccUser.country" class="form-control authInputs" id="country" placeholder="Enter Country Name" required/>
                                <!-- <select class="form-control authInputs" id="country" ng-model="vccUser.country" ng-change="getState(vccUser.country)" required>
                                    <option value="">Select</option>
                                    <option ng-repeat="country in countryList" ng-value="country.code" >{{country.name}}</option> 
                                </select> -->
                            </div> 
                        </div> 
                        <div class="form-group">
                                <label for="state" class="col-sm-3 control-label">State *</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model= "vccUser.stateId" class="form-control authInputs" id="stateId" placeholder="Enter State Name" required/>
                                <!-- <select class="form-control authInputs" id="state" ng-focus="vccUser.cityId" ng-model="vccUser.stateId" ng-change="getCity(vccUser.stateId)" required>
                                    <option value="">Select</option>
                                    <option ng-repeat="state in stateList" ng-value="state.region" >{{state.region}}</option> 
                                </select> -->
                                    <!-- <select class="form-control authInputs" id="stateId" ng-model="vccUser.stateId" required></select> -->
                                </div>                        
                        </div>
                        <div class="form-group">
                                <label for="city" class="col-sm-3 control-label">City *</label>
                                <div class="col-sm-9">
                                        <input type="text" ng-model= "vccUser.cityId" class="form-control authInputs" id="cityId" placeholder="Enter City Name" required/>
                                    <!-- <select class="form-control authInputs" id="state" ng-focus="vccUser.country || vccUser.cityId" ng-model="vccUser.cityId" required>
                                        <option value="">Select</option>
                                        <option ng-repeat="City in cityList" ng-value="City.city" >{{City.city}}</option> 
                                    </select> -->
                                    <!-- <select class="form-control authInputs" id="cityId" ng-model="vccUser.cityId" required></select> -->
                                </div>
                        </div>
                        <div class="form-group">
                            <label for="inputcustomerTypeId" class="col-sm-3 control-label" >Customer Type *</label>
                            <div class="col-sm-9">
                                <select class="form-control authInputs" id="customerTypeId" ng-model="vccUser.customerTypeId" required>
                                    <option value="">Select</option>
                                    <option ng-repeat="vhmanu in custTypes | orderBy:['text']" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputcustomerTypeId" class="col-sm-3 control-label" >Enable Customer *</label>
                            <div class="col-sm-9">
                                <select class="form-control authInputs" id="isEnable" ng-model="vccUser.isEnable"
                                ng-options="o.v as o.n for o in [{ n: 'True', v: true }, { n: 'False', v: false }]" required>
                                <option value="">Select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
                    </div> 
                </form>
            </div>
        </div>
</div>

</script>
<!--End PopUp -->