  <div class="login-form" ng-controller="forgotPasswordCtrl as forgotVm">
    <form ng-submit="forgotVm.forgotpass()">
        <div class="form-group">
          <div class="col-sm-12 text-center imgBorder">
            <img src="../../../assets/img/logo/logo_white.png" alt="Logo" class="authLogo">
          </div>
        </div>
        <div class="form-group">
            <input type="email" class="form-control authInputs" ng-model="forgotVm.user" placeholder="Email Address" >
        </div>
        <div class="form-group">
            <label value="or" style="width: 100%;" class="text-center">Or</label>
        </div>
        <div class="form-group">
            <input class="form-control authInputs" type="tel"  title="Phone number with 9 and remaing 9 digit with 0-9" minlength="10" maxlength="10" class="form-control" ng-model="forgotVm.mobile" id="mobile" placeholder="Mobile xxxxxxxxxx">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-block">SEND OTP</button>
        </div>
        <div class="clearfix otherGroup">
            <a href="#" class="pull-right auth-block" ui-sref="authSignIn" >Go to Login</a>
        </div>  
    </form>
  </div>