<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button" ng-click="openUserDetailsModal()" ng-disabled="disableAddbutton || currloggedinUserroleName=='System Super Admin'">Add User Details</button>
        </div>
        <div id='jqxWidget'>
            <div id="usergrid">
            </div>
        </div>
    </div>       
</div>

<script type="text/ng-template" id="userDetailsPopup.html">
    <div id="waitMe_ex3" >
    <div class="modal-header">
        <h3 class="modal-title">User Details</h3>
    </div>

    <form ng-submit="save(vccUser)" name="myForm">
        <div class="modal-body">
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputName" class="col-sm-3 control-label" >Name*</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.name" class="form-control authInputs" id="name" placeholder="Enter Name" required/>
                </div>
            </div>
            <div class="input-group animated fadeIn ">
                <label for="inputusername" class="col-sm-3 control-label" >User Name*</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.username" class="form-control authInputs" id="username" placeholder="Enter UserName" required/>
                </div>
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputpassword" class="col-sm-3 control-label" >Password*</label>
                <div class="col-sm-9">
                    <input type="password" name="password" ng-model= "vccUser.password"  minlength="6" maxlength="27" ng-pattern="/^[A-Za-z-0-9-!@#\$%\^&\*]+$/" class="form-control authInputs" id="password" placeholder="Enter Password" required>
                    <span ng-show = "myForm.password.$dirty && myForm.password.$invalid">
                    <label class="errorMsg" ng-show="myForm.password.$error.minlength">*Password is too short.</label>
                    <label class="errorMsg" ng-show="myForm.password.$error.maxlength">*Password is too long.</label>
                    <label class="errorMsg" ng-show="myForm.password.$error.pattern">*Password not valid.</label>
                    </span>
                </div>
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputemail" class="col-sm-3 control-label" >Email*</label>
                <div class="col-sm-9">
                    <input type="email" ng-model= "vccUser.email"  class="form-control authInputs" id="email" placeholder="Enter Email" name = "emailId" ng-pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$/" required/>
                    <label  class="errorMsg" ng-if = "myForm.emailId.$error.emailId || myForm.emailId.$error.pattern"> *Invalid Email-ID.</label>
                </div>
                
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputalternativeEmail" class="col-sm-3 control-label" >Alternative Email </label>
                <div class="col-sm-9">
                    <input type="email" disabled ng-model= "vccUser.email" class="form-control authInputs" id="alternativeEmail" placeholder="Enter Alternative Email" value="vccUser.email">
                </div>
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputmobile" class="col-sm-3 control-label" >Mobile*</label>
                <div class="col-sm-9">
                    <input type="tel" name="mobileNumber" ng-model= "vccUser.mobile" class="form-control authInputs" id="mobileNumber" ng-pattern= "/^[1-9]{1}[0-9]{9}$/"  placeholder="Enter Mobile No." required>
                    <span ng-show = "myForm.mobileNumber.$dirty && myForm.mobileNumber.$invalid">
                    <label  class="errorMsg" ng-if="myForm.mobileNumber.$touched && myForm.mobileNumber.$error.required || myForm.mobileNumber.$error.number || myForm.mobileNumber.$error.pattern">Valid phone number is required </label>          
                    <label  class="errorMsg" ng-if="(myForm.mobileNumber.$error.minlength || myForm.mobileNumber.$error.maxlength)"> phone number should be 10 digits </label> 
                    </span>
                </div>
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputRoleName" class="col-sm-3 control-label" >Role*</label>
                <div class="col-sm-9">
                    <select class="form-control authInputs" id="roleId" ng-model="vccUser.roleId" required>
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in allRoles | orderBy: 'text'" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                </div>
            </div>
            <div>
                <input type="text" style="display:none;" ng-model="vccUser.userPushToken" class="form-buttons authInputs" id="userPushToken" />
            </div>
            <div class="input-group animated fadeIn" ng-hide="currloggedinUserroleName!='Client Admin'">
                <label for="inputdepotName" class="col-sm-3 control-label" >Depot Name*</label>
                <div class="col-sm-9">
                    <!-- <select ng-show="isEdit==false" class="form-control authInputs" id="depotName" ng-model="vccUser.depotName" ng-disabled="vccUser.roleId=='' || vccUser.roleId=='select'" >
                        <option value="">Select</option>
                        <option ng-selected="{{vccUser.depotName}}" ng-repeat="vhmanu in allDepo | orderBy: ['text']" ng-value="vhmanu.text" >{{vhmanu.text}}</option> 
                    </select> -->
                    <select  class="form-control authInputs" id="depotName" ng-model="vccUser.depotName" ng-disabled="vccUser.roleId=='' || vccUser.roleId=='select'" >
                        <option value="">Select</option>
                        <option ng-selected="{{vccUser.depotName}}" ng-repeat="vhmanu in allDepo | orderBy: ['text']" ng-value="vhmanu.text" >{{vhmanu.text}}</option> 
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit">Save</button>
            <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
        </div>
        </form>
    </div>
</script>