<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button"   ng-click="openModal()">Add Tire Recommended Position</button>
        </div>
        <div id='jqxWidget'>
            <div id="tirereccomgrid">
            </div>
        </div>
    </div>       
</div>

<!-- PopUp -->
<script type="text/ng-template" id="jqxwindowTRec.html">
<div>
    <div class="tmass-model-header">
        Tire Recommnended Position
    </div>

        <form class="form-horizontal"  ng-submit="save(vccUser)" name="myForm" validate>
                <div class="modal-body" >
            <div class="form-group">
                <label for="inputTireRecommendedPositionName" class="col-sm-5 control-label" >Tire Recommended Position Name *</label>
                <div class="col-sm-7">
                    <input type="text" ng-model= "vccUser.tireRecommendedPositionName" required class="form-control authInputs" id="tireRecommendedPositionName" placeholder="Enter Tire Reccomended Position Name">
                </div>
            </div>
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="form-group">
                <label for="inputtireRecommendedPositionDescription" class="col-sm-5 control-label" >Tire Recommended Position Description </label>
                <div class="col-sm-7">
                    <input type="text" ng-model= "vccUser.tireRecommendedPositionDescription" class="form-control authInputs" id="tireRecommendedPositionDescription" placeholder="Enter Tire Reccomended Position Description">
                </div>
            </div> 
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
        </div>
        </form>

    </div>
</script>