<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button"   ng-click="openModal()">Allocate Tube Tag to Depot</button>
        </div>
        <div id='jqxWidget'>
            <div id="gridcustTubeTagAllocate">
            </div>
        </div>
    </div>       
</div>

<!-- PopUp -->
<script type="text/ng-template" id="jqxwindowCustomerTubeTagAllocateDetails.html">
<div>
    <div class="tmass-model-header">
        Customer Tube Tag Allocation to Depot Details
    </div>
    <div>
    <form class="form-horizontal" ng-submit="save(vccUser)" name="myForm" validate>
        <div class="modal-body" >
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>

            <div class="form-group">
                <label for="customerId" class="col-sm-3 control-label" >Customer Name *</label>
                <div class="col-sm-9">
                    <select class="form-control authInputs data_field" id="customerId" ng-model="vccUser.customerId" required>
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in customers " ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                    <!-- <input type="text" ng-model= "vccUser.TagTypeName" class="form-control authInputs data_field" id="TagTypeName" placeholder="Enter Tag Name"> -->
                </div>
            </div>
            <div class="form-group">
                <label for="depotId" class="col-sm-3 control-label" >Depot Name *</label>
                <div class="col-sm-9">
                    <select class="form-control authInputs data_field" id="depotId" ng-model="vccUser.depotId" required>
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in customerDepot" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                    <!-- <input type="text" ng-model= "vccUser.TagManufacturerName" class="form-control authInputs data_field" id="TagManufacturerName" placeholder="Enter Tag Manufacturing Name"> -->
                </div>
            </div>
            <div class="form-group">
                <label for="tubeSizeId" class="col-sm-3 control-label" >Tube Size *</label>
                <div class="col-sm-9">
                    <select class="form-control authInputs data_field" id="tubeSizeId" ng-model="vccUser.tubeSizeId" required>
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in tubeSizeDetails" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="tagQty" class="col-sm-3 control-label" >Tag Qty *</label>
                <div class="col-sm-9">
                    <input type="number" min="0" ng-model= "vccUser.tagQty" class="form-control authInputs data_field" id="tagQty" placeholder="Enter Tag Qty" required>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-danger" id="button_no_tag" ng-click="cancel()" >Cancel</button>
        </div>
    </form>
    </div>
</div>
</script>