<div id="tagAssign" style="width:100%;height:auto;"></div>
    <div class="row">
        <div class="col-md-12 tmass-table-container">
            <div class="add-row-editable-table">
                <button class="btn btn-secondary tmass-table-button" ng-disabled="currRole=='System Super Admin'"  ng-click="openModal()">Add Tag quantity Assignment</button>
            </div>
            <div id='jqxWidget'>
                <div id="taggrid">
                </div>
            </div>
        </div>       
    </div>


<!-- PopUp -->
<script type="text/ng-template" id="jqxwindowTagAssign.html">
    <div id="tagAssign">
        <div>
            <div class="tmass-model-header">
                Tag quantity Assignment
            </div>
            <div id="printablediv"> 
                    <form class="form-horizontal" ng-submit="save(vccUser)" name="myForm" validate >
                        <div class="modal-body">
                        <div>
                            <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
                        </div>
                        <div class="form-group">
                            <label for="inputcustomerName" class="col-sm-3 control-label" >Customer *</label>
                            <div class="col-sm-9">
                                <select class="form-control authInputs" id="customerName" ng-model="vccUser.customerId"  required>
                                    <option value="">select</option>
                                    <option ng-repeat="cust in customers | orderBy: 'text'" ng-selected="cust.value === currCustomerId"  ng-value="cust.value" >{{cust.text}}</option> 
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                                <label for="inputTagType" class="col-sm-3 control-label" >Tag Type *</label>
                                <div class="col-sm-9">
                                    <select class="form-control authInputs" id="tagTypeName" ng-model="vccUser.tagTypeId" ng-change="getSpecificTags(vccUser)" required>
                                        <option value="">select</option>
                                        <option ng-repeat="tags in tagtypes | orderBy: 'text'" ng-selected="tags.value === currTagTypeId" ng-value="tags.value" >{{tags.text}}</option> 
                                    </select>
                                </div>
                            </div>
                        <div class="form-group">
                            <label for="inputTagQty" class="col-sm-3 control-label" > Tag Quantity *</label>
                            <div class="col-sm-9">
                                <input ng-disabled="vccUser.tagTypeId==select || vccUser.tagTypeId==''" type="number" ng-model= "vccUser.tagQty" min="0" class="form-control authInputs" id="tagQty" placeholder="Enter Tag Quantity" ng-blur="getSpecificTags(vccUser)" required/>
                            </div>
                        </div>
                        <div class="form-group" id="printRecords" ng-if="test.length!=0" >
                            <label for="inputTagQty" class="col-sm-3 control-label" > Tag from Manufactured List *</label>
                            <div class="col-sm-9"  >
                                <div style="border:1px solid; height:60px; overflow:scroll;">
                                    <ol style="margin-top: 10px;" id="tagList">
                                        <!-- <li ng-repeat="data in test" rel="data.tagmasterId" >{{data.tagmasterId}}</li> -->
                                        <li ng-repeat="data in test" rel="data.tagId" >{{data.tagId}}</li>
                                    </ol>
                                </div>                                        
                            </div>              
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-disabled="vccUser.tagQty==''" ng-click="getSpecificTags(vccUser)" ng-hide="test.length!=0">Get Tags</button>
                        <!-- <button type="button" ng-if="test.length!=0" class="btn btn-primary" ng-click="printDiv('printablediv')" disabled>Print Tag Assisgned Details </button> -->
                        <button type="submit" class="btn btn-primary" ng-disabled="vccUser.tagQty==''" ng-show="test.length!=0" >Assign and Save</button>
                        <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
                    </div>
                    </form>
                </div>
            </div>
    </div>
</script>
<!-- PopUp -->
<script type="text/ng-template" id="jqxwindowViewTagAssign.html">
    <div id="viewTag">
    <div>
            <div class="tmass-model-header">
                Tag Type
            </div>
            <form class="form-horizontal" name="myForm">
                <div class="modal-body" >
                    <div class="form-group">
                        <div class="col-sm-12" >
                            <div ba-panel ba-panel-title={{selectedTagType}} ba-panel-class="with-scroll table-panel">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tr>
                                                <th style="text-align: center !important;">Tag Qr Code</th>
                                                <!-- <th>Manufactured Date</th> -->
                                            </tr>
                                            <tr ng-repeat="data in allocatedtags" style="text-align: center !important;">
                                                <td >{{data.tagmasterId}}</td>
                                                <!-- <td>{{data.manufacturingDate}}</td> -->
                                            </tr>
                                        </table>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Close</button>
                </div>
                </form>
            </div>
    </div>
</script>