<div ba-panel ba-panel-class="profile-page" ng-controller="ProfilePageCtrl as profileVm">
  <div id="profileform">
    <div class="panel-content">
      <div class="row">
          <form ng-submit="updateProfile()">
            <div class="col-md-12 tmass-table-container">
              <h3 class="with-line">General Information</h3>
              <div class="row">
                <!-- <div class="col-md-6">
                  <div class="form-group row clearfix">
                    <label for="inputFirstName" class="col-sm-3 control-label">Picture</label>
                    <div class="col-sm-9">
                      <div class="userpic">
                        <div class="userpic-wrapper">
                          <img ng-src="{{ picture }}" ng-click="uploadPicture()">
                        </div>
                        <i class="ion-ios-close-outline" ng-click="removePicture()" ng-if="!noPicture"></i>
                        <a href class="change-userpic" ng-click="uploadPicture()">Change Profile Picture</a>
                        <input type="file" ng-show="false" id="uploadFile" ng-file-select="onFileSelect($files)">
                      </div>
                    </div>
                  </div>
                </div> -->
                <div class="col-md-6"></div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row clearfix">
                    <label for="inputFirstName" class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-9">
                      <input disabled type="text" class="form-control authInputs" ng-model="profileVm.name" id="name" placeholder="" value="">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row clearfix">
                    <label for="inputFirstName" class="col-sm-3 control-label">Role</label>
                    <div class="col-sm-9">
                      <input type="text" disabled class="form-control authInputs" ng-model="profileVm.roleName" id="roleName" placeholder="" value="">
                    </div>
                  </div>
                </div>
                <div class="col-md-6" style="display:none;">
                  <div class="form-group row clearfix">
                    <label for="inputLastName" class="col-sm-3 control-label">User Name</label>
                    <div class="col-sm-9">
                      <input type="text"  class="form-control authInputs" ng-model="profileVm.username" id="username" placeholder="" value="">
                    </div>
                  </div>
                </div>
              </div>
              <h3 class="with-line">Change Password</h3>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row clearfix">
                    <label for="inputPassword" class="col-sm-3 control-label">New Password</label>
                    <div class="col-sm-9">

                      <input type="password" name="newPass" ng-model= "profileVm.newPass"  minlength="6" maxlength="27"  class="form-control authInputs" id="newPass" placeholder="Enter New Password" >
                      <span ng-show = "profileVm.newPass.$dirty && profileVm.newPass.$invalid">
                      <label class="errorMsg" ng-show="profileVm.newPass.$error.minlength">*Password is too short.</label>
                      <label class="errorMsg" ng-show="profileVm.newPass.$error.maxlength">*Password is too long.</label>
                      <label class="errorMsg" ng-show="profileVm.newPass.$error.pattern">*Password not valid.</label>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row clearfix">
                    <label for="inputConfirmPassword" class="col-sm-3 control-label">Confirm New Password</label>
                    <div class="col-sm-9">
                        <input type="password" name="confirmnewPass" ng-model= "profileVm.confirmnewPass"  minlength="6" maxlength="27" class="form-control authInputs" id="confirmnewPass" placeholder="Enter Confirm New Password" >
                        <p class="errorMsg" ng-show="profileVm.confirmnewPass!=profileVm.newPass">Both Password Should be same</p>
                    </div>
                  </div>
                </div>
              </div>
              <h3 class="with-line">Contact Information</h3>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row clearfix">
                    <label for="inputEmail" class="col-sm-3 control-label">Email*</label>
                    <div class="col-sm-9">
                      <input type="email" class="form-control authInputs" ng-model="profileVm.email" id="inputEmail" placeholder="" value="" required>
                    </div>
                  </div>
                  <div class="form-group row clearfix" ng-show="isCustomer">
                    <label for="inputaddressLine1" class="col-sm-3 control-label">Address Line 1</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control authInputs" ng-model="profileVm.addressLine1" id="inputaddressLine1" placeholder="" value="">
                    </div>
                  </div>
                  <div class="form-group row clearfix" ng-show="isCustomer">
                    <label for="inputaddressLine2" class="col-sm-3 control-label">Address Line 2</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control authInputs" ng-model="profileVm.addressLine2" id="inputaddressLine2" placeholder="" value="">
                    </div>
                  </div>
                  <div class="form-group row clearfix" ng-show="isCustomer">
                    <label for="inputcountry" class="col-sm-3 control-label">Country*</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control authInputs" ng-model="profileVm.country" id="inputcountry" placeholder="" value="">
                    </div>
                  </div>

                </div>
                <div class="col-md-6" ng-show="isCustomer">
                  <div class="form-group row clearfix">
                    <label for="inputState" class="col-sm-3 control-label">State*</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control authInputs" ng-model="profileVm.stateId" id="inputState" placeholder="" value="">
                    </div>
                  </div>
                  <div class="form-group row clearfix">
                    <label for="inputCity" class="col-sm-3 control-label">City*</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control authInputs" ng-model="profileVm.cityId" id="inputCity" placeholder="" value="">
                    </div>
                  </div>
                  <div class="form-group row clearfix">
                    <label for="inputpincode" class="col-sm-3 control-label">Pincode</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control authInputs" maxlength="6" ng-model="profileVm.pincode" id="inputpincode" placeholder="" value="">
                    </div>
                  </div>
                </div>
                <div class="col-md-6" ng-hide="isCustomer">
                  <div class="form-group row clearfix">
                    <label for="inputPhonelabel" class="col-sm-3 control-label">Phone</label>
                    <div class="col-sm-9">
                        <input name="mobile" class="form-control authInputs" maxlength="10" id="mobile" type="number" ng-model= "profileVm.mobile" value="0"  >
                        <span class="errorMsg" id="message"></span>
                        </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <button type="submit" class="btn btn-primary btn-with-icon save-profile">
                          <i class="ion-android-checkmark-circle"></i>Update Profile
                      </button>
                  </div>
              </div>
            </div>
          </form>
      </div>
      
    </div>
  </div>
</div>
