<div class="login-form" ng-controller="authSignInCtrl as signInVm">
  <form ng-submit="signInVm.logar()">
      <div class="form-group">
        <div class="col-sm-12 text-center imgBorder">
          <img src="../../../assets/img/logo/logo_white.png" alt="Logo" class="authLogo">
        </div>
      </div>
      <div class="form-group">
          <input type="text" class="form-control authInputs" ng-model="signInVm.user" placeholder="Email Address or Username" required="required">
      </div>
      <div class="form-group">
          <input type="password" class="form-control authInputs" ng-model="signInVm.password" placeholder="Password" required="required">
      </div>
      <div class="form-group">
          <button type="submit" class="btn btn-block">LOGIN</button>
      </div>
      <div class="clearfix otherGroup">
          <label class="pull-left checkbox-inline"><input type="checkbox" class="mycheckbox"> <span class="remberme">Remember me</span></label>
          <a href="#" class="pull-right auth-block" ui-sref="forgotPassword" >Forgot Password?</a>
      </div>        
  </form>
  <p class="text-center"><span>System Requirements | Terms & Conditions</span></p>
  <p class="text-center brocurecss"><span><b class="underline">Download Solution Brochure</b></span></p>
</div>