<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button"   ng-click="openModal()">Add Tube Quantity Assignment</button>
        </div>
        <div id='jqxWidget'>
            <div id="grid">
            </div>
        </div>
    </div>       
</div>

<!-- PopUp -->
<script type="text/ng-template" id="jqxwindowTubeQtyAssignments.html">
<div id='' >
    <div class="tmass-model-header">
        Tube Quantity Assignment
    </div>
    <div>
        <form class="form-horizontal" name="myForm" ng-submit="done(vccUser)" validate>
            <div class="modal-body" >
                <div>
                    <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
                </div>
                <div class="form-group">
                    <label for="inputtubeTypeName" class="col-sm-3 control-label" >Customer Name *</label>
                    <div class="col-sm-9">
                        <select class="form-control authInputs" id="customerId" ng-model="vccUser.customerId" required>
                            <option value="">Select</option>
                            <option ng-repeat="customer in customers" ng-value="customer.value" >{{customer.text}}</option> 
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputtubeQr" class="col-sm-3 control-label" >Assignment Date *</label>
                    <div class="col-sm-9">
                        <datepicker date-set="{{todaysDate}}" date-max-limit="{{maxDate}}" date-format="yyyy-MM-dd"> <input class="form-control authInputs" ng-model="vccUser.assignmentDate" type="text" readonly required/> </datepicker>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputTubeQuantity " class="col-sm-3 control-label" >Tube Quantity *</label>
                    <div class="col-sm-9">
                        <input type="number" ng-model= "vccUser.tubeQty" class="form-control authInputs" id="tubeQty" placeholder="Enter Tube Quantity" required/>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label for="inputmanufacturingDate" class="col-sm-3 control-label" >Manufacturing Date *</label>
                    <div class="col-sm-9">
                        <input type="date" ng-model= "vccUser.manufacturingDate" min="1900-01-01" max="{{date | date:'yyyy-MM-dd'}}" class="form-control authInputs" id="manufacturingDate" placeholder="Enter Tube Manufacturing Date" required>
                    </div>
                </div> -->
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" >Save</button>
                <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
            </div> 
        </form>
    </div>
</div>
</script>