<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button" ng-click="openRoleMasterModal()" >Add Role</button>
        </div>
        <div id='jqxWidget'>
            <div id="rolegrid">
            </div>
        </div>
    </div>       
</div>

<script type="text/ng-template" id="roleMasterPopup.html">
    <div class="modal-header">
        <h3 class="modal-title">Role Master</h3>
    </div>

        <form ng-submit="save(vccUser)" validate>
                <div class="modal-body">
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputRoleName" class="col-sm-3 control-label" > Role Name *</label>
                <div class="col-sm-9">
                    <input type="text" min="1" ng-model= "vccUser.roleName" class="form-control authInputs" id="roleName" placeholder="Enter Role Name" required>
                </div>
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputRoleLevel" class="col-sm-3 control-label" >Role Level *</label>
                <div class="col-sm-9">
                    <input type="number" name="number" min="1" ng-model= "vccUser.roleLevel" class="form-control authInputs" id="roleLevel" placeholder="Enter Role Level" required>
                </div>
            </div> 
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit">Save</button>
          <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
        </div>
        </form>

</script>

<!-- PopUp -->
<!-- <div id='jqxwindowRoll' >
    <div class="tmass-model-header">
        Role Master
    </div>
    <div>
    <div class="modal-body" >
        <form class="form-horizontal" name="myForm" validate>
            <div class="form-group">
                <label for="inputRoleName" class="col-sm-3 control-label" > Role Name *</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.roleName" class="form-control authInputs" id="roleName" placeholder="Enter Role Name">
                </div>
            </div>
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="form-group">
                <label for="inputRoleLevel" class="col-sm-3 control-label" >Role Level *</label>
                <div class="col-sm-9">
                    <input type="number" min="1" ng-model= "vccUser.roleLevel" class="form-control authInputs" id="roleLevel" placeholder="Enter Role Level">
                </div>
            </div> 
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="currRowData(vccUser)">Save</button>
        <button type="button" class="btn btn-danger" id="button_no" ng-click="clearData()" >Cancel</button>
    </div>
    </div> -->