<!-- <div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button" ng-click="openRoleMappingModal()">Add Role Mapping</button>
        </div>
        <div id='jqxWidget'>
            <div id="grid">
            </div>
        </div>
    </div>       
</div> -->
<style>
    /* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
</style>
<div ba-panel ba-panel-title="Web App Roles and Permissions" ba-panel-class="with-scroll table-panel" style="border: 1px solid;">
        <div class="row"  style="float:right;margin-right: 12px;">
                <button class="btn btn-primary" onCLick="alert('Saved Successfully')">Save Details</button>
        </div>
        <div class="divTable row tmass-table-container" style="width: 100%; border: 1px solid #000;" disabled>

                <div class="divTableBody">
                <div class="divTableRow">
                <div class="divTableCell"></div>
                <div class="divTableCell">&nbsp;System Super Admin</div>
                <div class="divTableCell">&nbsp;System Admin</div>
                <div class="divTableCell">System Manager&nbsp;</div>
                <div class="divTableCell">System User&nbsp;</div>
                <div class="divTableCell">&nbsp;OEM Admin</div>
                <div class="divTableCell">OEM Manager&nbsp;</div>
                <div class="divTableCell">OEM User&nbsp;</div>
                <div class="divTableCell">Clent Admin&nbsp;</div>
                <div class="divTableCell">Client Manager&nbsp;</div>
                <div class="divTableCell">Client User&nbsp;</div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;License Master</div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Super Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Clent Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client User" ></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;Treel Tag Qty</div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Super Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Clent Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client User" ></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;Tire Specification</div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Super Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="OEM Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Clent Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client User" ></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;Vehicle Master</div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Super Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Clent Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client User" ></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;User Master</div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Super Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="OEM Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Clent Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client User" ></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;Tire Master</div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Super Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="OEM Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Clent Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client User" ></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;Treel Tag ID Master</div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Super Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="OEM Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Clent Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client User" ></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;Role</div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Super Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Clent Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client User" ></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;Customer</div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Super Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Clent Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client User" ></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;Tube</div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Super Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="OEM Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Clent Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client User" ></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;Depot</div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Super Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Clent Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client User" ></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;Vehicle Reports</div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Super Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="OEM Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Clent Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client User" ></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;Tire Reports</div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Super Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="OEM Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="OEM Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Clent Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Client Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client User" ></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;Alert Reports</div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Super Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="OEM Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="OEM Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Clent Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Client Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client User" ></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;Performance Reports</div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Super Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="OEM Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Clent Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client User" ></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;Issue Reports</div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Super Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled name="System Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="OEM Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Clent Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client User" ></div>
                </div>
                </div>
                </div>
                <div class="row"  style="float:right;margin-right: 12px;">
                        <button class="btn btn-primary" onCLick="alert('Saved Successfully')">Save Details</button>
                </div>
                <!-- DivTable.com -->

</div>
<div ba-panel ba-panel-title="Mobile Roles and Permissions" ba-panel-class="with-scroll table-panel" style="border: 1px solid;">
        <div class="row"  style="float:right;margin-right: 12px;">
                <button class="btn btn-primary" onCLick="alert('Saved Successfully')">Save Details</button>
        </div>    
    <div class="divTable row tmass-table-container" style="width: 100%; border: 1px solid #000;" disabled>
                <div class="divTableBody">
                <div class="divTableRow">
                <div class="divTableCell"></div>
                <div class="divTableCell">&nbsp;System Super Admin</div>
                <div class="divTableCell">&nbsp;System Admin</div>
                <div class="divTableCell">System Manager&nbsp;</div>
                <div class="divTableCell">System User&nbsp;</div>
                <div class="divTableCell">&nbsp;OEM Admin</div>
                <div class="divTableCell">OEM Manager&nbsp;</div>
                <div class="divTableCell">OEM User&nbsp;</div>
                <div class="divTableCell">Clent Admin&nbsp;</div>
                <div class="divTableCell">Client Manager&nbsp;</div>
                <div class="divTableCell">Client User&nbsp;</div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;Add Tag ID</div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Super Admin" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Admin" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Manager" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System User" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled checked name="OEM Admin" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled checked name="OEM Manager" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Clent Admin" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Client Manager" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client User" ></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;Add Tire</div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Super Admin" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Admin" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Manager" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="System User" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled checked name="OEM Admin" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled checked name="OEM Manager" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Clent Admin" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Client Manager" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client User" ></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;Add Vehicle</div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Super Admin" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Admin" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Manager" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="System User" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Admin" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Manager" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Clent Admin" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Client Manager" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client User" ></div>
                </div>
        
        
                <div class="divTableRow">
                <div class="divTableCell">&nbsp;Add User</div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Super Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="OEM Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="OEM Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Clent Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Client Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client User" ></div>
                </div>
                <div class="divTableRow">
                <div class="divTableCell">&nbsp;Add ThreadDepth</div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Super Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="OEM Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="OEM User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Clent Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Client Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Client User" ></div>
                </div>
                <div class="divTableRow">
                <div class="divTableCell">&nbsp;Add Odometer</div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Super Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Clent Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Client Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Client User" ></div>
                </div>
                <div class="divTableRow">
                <div class="divTableCell">&nbsp;Add Pressure Threshold</div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Super Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="OEM Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Clent Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client User" ></div>
                </div>
                <div class="divTableRow">
                <div class="divTableCell">&nbsp;Add Temprature Threshold</div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Super Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="OEM Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Clent Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client User" ></div>
                </div>
                <div class="divTableRow">
                <div class="divTableCell">&nbsp;Add Issue</div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Super Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Clent Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Client Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Client User" ></div>
                </div>
                <div class="divTableRow">
                <div class="divTableCell">&nbsp;Add Tag Qty</div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Super Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="OEM Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Clent Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Client User" ></div>
                </div>
                <div class="divTableRow">
                <div class="divTableCell">&nbsp;Check Id</div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Super Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Clent Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Client Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Client User" ></div>
                </div>
                <div class="divTableRow">
                <div class="divTableCell">&nbsp;Check Pressure</div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Super Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Clent Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Client Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Client User" ></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;Check Temprature</div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Super Admin" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Admin" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Manager" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System User" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Admin" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Manager" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="Clent Admin" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Client Manager" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Client User" ></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;Check Position</div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Super Admin" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Admin" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Manager" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System User" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Admin" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Manager" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled  name="Clent Admin" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Client Manager" ></div>
                    <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Client User" ></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;Check Exchange</div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Super Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="System Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="System User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="OEM User" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled  name="Clent Admin" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Client Manager" ></div>
                <div class="divTableCell text-center"><input type="checkbox" disabled checked name="Client User" ></div>
                </div>
                </div>
                </div>
                <div class="row"  style="float:right;margin-right: 12px;">
                        <button class="btn btn-primary" onCLick="alert('Saved Successfully')">Save Details</button>
                </div>
                <!-- DivTable.com -->
        
</div>

<script type="text/ng-template" id="roleMappingPopup.html">
    <div class="modal-header">
        <h3 class="modal-title">Role Mapping</h3>
    </div>
    <form ng-submit="save(vccUser)" validate>
                <div class="modal-body">
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputUserName" class="col-sm-3 control-label" >User Name *</label>
                <div class="col-sm-9">
                    <select class="form-control authInputs" id="userId" ng-model="vccUser.userId" required>
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in allUsers | orderBy:'text'" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                </div>
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputRoleName" class="col-sm-3 control-label" >Role Name *</label>
                <div class="col-sm-9">
                    <select class="form-control authInputs" id="roleId" ng-model="vccUser.roleId" required>
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in allRoles | orderBy:'text'" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                </div>
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputOperationName" class="col-sm-3 control-label" >Operation Name *</label>
                <div class="col-sm-9">
                    <select class="form-control authInputs" id="operationId" ng-model="vccUser.operationId" required>
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in allOperations | orderBy:'text'" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                </div>
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputeditFlag" class="col-sm-3 control-label" >View Flag *</label>
                <div class="col-sm-9">
                    <select class="form-control authInputs" id="viewFlag" ng-model="vccUser.viewFlag"
                    ng-options="o.v as o.n for o in [{ n: 'False', v: false }, { n: 'True', v: true }]" required>
                    <option value="">Select</option>
                    </select>
                </div>
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputeditFlag" class="col-sm-3 control-label" >Edit Flag *</label>
                <div class="col-sm-9">
                    <select class="form-control authInputs" id="editFlag" ng-model="vccUser.editFlag"
                    ng-options="o.v as o.n for o in [{ n: 'False', v: false }, { n: 'True', v: true }]" required>
                    <option value="">Select</option>
                    </select>
                </div>
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputaddFlag" class="col-sm-3 control-label" >Add Flag *</label>
                <div class="col-sm-9">
                    <select class="form-control authInputs" id="addFlag" ng-model="vccUser.addFlag"
                    ng-options="o.v as o.n for o in [{ n: 'False', v: false }, { n: 'True', v: true }]" required>
                    <option value="">Select</option>
                    </select>
                </div>
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputdeleteFlag" class="col-sm-3 control-label" >Delete Flag *</label>
                <div class="col-sm-9">
                    <select class="form-control authInputs" id="deleteFlag" ng-model="vccUser.deleteFlag"
                    ng-options="o.v as o.n for o in [{ n: 'False', v: false }, { n: 'True', v: true }]" required>
                    <option value="">Select</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit">Save</button>
          <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
        </div> 
        </form>

</script>