<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button" ng-disabled="roleName=='System Super Admin' || roleName=='System Admin'" ng-click="openTireDetailModal()" >Add Tire Details</button>
        </div>
        <div id='jqxWidget'>
            <div id="tireDetailsgrid">
            </div>
        </div>
    </div>       
</div>

<script type="text/ng-template" id="tireDetailsPopup.html">
    <div id="tireDiv">
    <div class="modal-header">
        <h3 class="modal-title">Tire Details</h3>
    </div>

    <form ng-submit="save(vccUser)" validate>
        <div class="modal-body mymodalbodyheight">
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="input-group animated fadeIn">
                <label for="tireSerialNumber" class="col-sm-4 control-label" >Tire Serial No. *</label>
                <div class="col-sm-8">
                    <input type="text" ng-model= "vccUser.tireSerialNumber" required class="form-control authInputs data_field" id="tireSerialNumber" placeholder="Enter Tire Serial No.">
                </div>
            </div> 
            <div class="input-group animated fadeIn">
                <label for="tireManufacturerId" class="col-sm-4 control-label" >Tire Manufacturing *</label>
                <div class="col-sm-8">
                    <select class="form-control authInputs data_field" id="tireManufacturerId" required ng-model="vccUser.tireManufacturerId">
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in tireManufacturers  | orderBy:'text'" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                </div>
            </div>
            <div class="input-group animated fadeIn">
                <div class="col-sm-4">
                        <label for="tireModelNo" class=" control-label" >Tire Model No *</label>
                </div>                
                <div class="col-sm-8">
                    <div class="col-sm-12" id="oldTireModel" style="padding: 0px !important;">
                        <select class=" form-control authInputs data_field" id="tireModelNo" ng-change="callspecData()" ng-model="vccUser.tireModelNo" required>
                            <option value="">Select</option>
                            <option ng-repeat="vhmanu in tireModels  | orderBy:'text'" ng-value="vhmanu.value" ng-if="vhmanu.tireManufacturerId==vccUser.tireManufacturerId" >{{vhmanu.text}}</option> 
                        </select>
                    </div>
                    <!-- <div class="col-sm-6" id="newTireModel" style="padding: 10px !important; display:none;">
                        <label for="tireModelNo" class=" control-label text-center" >Add New Tire Model</label>
                    </div>
                    <div class="col-sm-6" style="padding: 10px !important;">
                        <label for="tireModelNo" style="text-decoration: underline;" ng-click="addNewModel()" class=" control-label text-center" >Add New Tire Model</label>
                    </div> -->
                </div>
            </div>
            <div class="input-group animated fadeIn">
                <label for="tireStatusName" class="col-sm-4 control-label" >Tire Status *</label>
                <div class="col-sm-8">
                    <select class="form-control authInputs data_field" ng-change="callspecData()"  required ng-disabled = "disabled" id="tireStatusName" ng-model="vccUser.tireStatusName">
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in allTireStatus" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                </div>
            </div>
            <div class="input-group animated fadeIn" style="display:none;">
                <label for="tagId" class="col-sm-4 control-label" >Tag ID </label>
                <div class="col-sm-8">
                    <select class="form-control authInputs" id="tagId" ng-model="vccUser.tagId">
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in allTagId  | orderBy:'text'" ng-value="vhmanu.text" ng-if="vhmanu.tireManufacturerId==vccUser.tireManufacturerId" >{{vhmanu.text}}</option> 
                    </select>
                </div>
            </div>
            <div class="input-group animated fadeIn">
                <label for="recommendedPositionName" class="col-sm-4 control-label" >Tire Recommended Position *</label>
                <div class="col-sm-8">
                    <select class="form-control authInputs data_field disableIfNew" required ng-disabled = "disabled" id="recommendedPositionName" ng-model="vccUser.recommendedPositionName">
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in tireRecommendedPositions" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                </div>
            </div>
            <div class="input-group animated fadeIn">
                <label for="tireTypeName" class="col-sm-4 control-label" >Tire Types *</label>
                <div class="col-sm-8">
                    <select class="form-control authInputs data_field disableIfNew" required ng-disabled = "disabled" id="tireTypeName" ng-model="vccUser.tireTypeName">
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in tiretypes" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                </div>
            </div>

            <div class="input-group animated fadeIn">
                <label for="tireThreadDepth_t1" class="col-sm-4 control-label" >Tire ThreadDepth t1 *</label>
                <div class="col-sm-8">
                    <input type="text" maxlength="5" pattern='(?<![\d.])(\d{1,2}|\d{1,2}\.\d{1,2})?(?![\d.])' title="Please enter value in pattern of 00.00, no alphabets" value="00.00" ng-disabled = "disabled" required ng-model= "vccUser.tireThreadDepth_t1" class="form-control authInputs data_field disableIfNew" id="tireThreadDepth_t1" placeholder="Enter data" required>
                </div>
            </div> 
            <div class="input-group animated fadeIn">
                <label for="tireThreadDepth_t2" class="col-sm-4 control-label" >Tire ThreadDepth t2 *</label>
                <div class="col-sm-8">
                    <input type="text" maxlength="5" pattern='(?<![\d.])(\d{1,2}|\d{1,2}\.\d{1,2})?(?![\d.])' title="Please enter value in pattern of 00.00, no alphabets" value="00.00" step="0.00" min="0" ng-disabled = "disabled" required ng-model= "vccUser.tireThreadDepth_t2" class="form-control authInputs data_field disableIfNew" id="tireThreadDepth_t2" placeholder="Enter data" required>
                </div>
            </div> 
            <div class="input-group animated fadeIn">
                <label for="tireThreadDepth_t3" class="col-sm-4 control-label" >Tire ThreadDepth t3 *</label>
                <div class="col-sm-8">
                    <input type="text" maxlength="5" pattern='(?<![\d.])(\d{1,2}|\d{1,2}\.\d{1,2})?(?![\d.])' title="Please enter value in pattern of 00.00, no alphabets" value="00.00" ng-disabled = "disabled" required ng-model= "vccUser.tireThreadDepth_t3" class="form-control authInputs data_field disableIfNew" id="tireThreadDepth_t3" placeholder="Enter data" required>
                </div>
            </div> 
            <div class="input-group animated fadeIn">
                <label for="tireWearIndicator_twi" class="col-sm-4 control-label" >Tire Wear Indicator (twi) *</label>
                <div class="col-sm-8">
                    <input type="text" max="2" maxlength="3" pattern='(?<![\d.])(\d{1,2}|\d{1,2}\.\d{1,2})?(?![\d.])' title="Please enter value in pattern of 00.00, no alphabets" value="00.00" ng-disabled = "disabled" required ng-model= "vccUser.tireWearIndicator_twi" class="form-control authInputs data_field disableIfNew" id="tireWearIndicator_twi" placeholder="Enter data" required>
                </div>
            </div> 
            <div class="input-group animated fadeIn">
                <label for="maxPressureThreshold" class="col-sm-4 control-label" >Max Pressure Threshold *</label>
                <div class="col-sm-8">
                    <input type="number" max="255" maxlength="3" min="0" ng-disabled = "disabled" required ng-model= "vccUser.maxPressureThreshold" class="form-control authInputs data_field" id="maxPressureThreshold" placeholder="Enter data">
                </div>
            </div> 
            <div class="input-group animated fadeIn">
                <label for="minPressureThreshold" class="col-sm-4 control-label" >Min Pressure Threshold *</label>
                <div class="col-sm-8">
                    <input type="number"  max="{{vccUser.maxPressureThreshold}}" min="0" ng-disabled = "disabled" required ng-model= "vccUser.minPressureThreshold" class="form-control authInputs data_field" id="minPressureThreshold" placeholder="Enter Min Temperature Threshold">
                </div>
            </div> 
            <div class="input-group animated fadeIn">
                <label for="maxTempratureThreshold" class="col-sm-4 control-label" >Max Temperature Threshold *</label>
                <div class="col-sm-8">
                    <input type="number"  max="100" maxlength="3" min="0" ng-disabled = "disabled" required ng-model= "vccUser.maxTempratureThreshold" class="form-control authInputs data_field" id="maxTempratureThreshold" placeholder="Enter Max Temperature Threshold">
                </div>
            </div> 
            <div class="input-group animated fadeIn">
                <label for="tireCost_inr" class="col-sm-4 control-label" >Tire Cost *</label>
                <div class="col-sm-8">
                    <input type="number" max="9999999999999999999" min="0" ng-disabled = "disabled" required ng-model= "vccUser.tireCost_inr" class="form-control authInputs data_field disableIfNew" id="tireCost_inr" placeholder="Enter tire Cost">
                </div>
            </div> 
            <div class="input-group animated fadeIn">
                <label for="tireRemouldCost" class="col-sm-4 control-label" >Tire Remould Cost *</label>
                <div class="col-sm-8">
                    <input type="number"  max="9999999999999999999" min="0" ng-disabled = "disabled" required ng-model= "vccUser.tireRemouldCost" class="form-control authInputs data_field" id="tireRemouldCost" placeholder="Enter tire Remould Cost">
                </div>
            </div> 
            <div class="input-group animated fadeIn">
                <label for="expectedTireLife_km" class="col-sm-4 control-label" >Expected Tire Life km *</label>
                <div class="col-sm-8">
                    <input type="number" max="9999999999" maxlength="10" min="0" ng-disabled = "disabled" required ng-model= "vccUser.expectedTireLife_km" class="form-control authInputs data_field" id="expectedTireLife_km" placeholder="Enter Expected Tire Life km">
                </div>
            </div> 
            <div class="input-group animated fadeIn">
                <label for="recommendedcoldInflationPressure" class="col-sm-4 control-label" >Recommended cold Inflation Pressure *</label>
                <div class="col-sm-8">
                    <input type="number" min="0" max="999" maxlength="3" ng-disabled = "disabled" required ng-model= "vccUser.recommendedcoldInflationPressure" class="form-control authInputs data_field" id="recommendedcoldInflationPressure" placeholder="Enter Recommended cold Inflation Pressure">
                </div>
            </div> 
            <div class="input-group animated fadeIn">
                <label for="remouldCount" class="col-sm-4 control-label" >Remould Count *</label>
                <div class="col-sm-8">
                    <input type="number"  min="0" max="999" maxlength="3" ng-disabled = "disabled" required ng-model= "vccUser.remouldCount" class="form-control authInputs data_field disableIfNew" id="remouldCount" placeholder="Enter remouldCount">
                </div>
            </div>
            <div class="input-group animated fadeIn">
                <label for="kmTravelled" class="col-sm-4 control-label" >km Travelled *</label>
                <div class="col-sm-8">
                    <input type="number"  max="9999999999999" maxlength="13" min="0"  ng-model= "vccUser.kmTravelled" required class="form-control authInputs data_field" id="kmTravelled" placeholder="Enter km Travelled">
                </div>
            </div>
            <div class="input-group animated fadeIn ">
                <label for="depotId" class="col-sm-4 control-label" >Depot Name *</label>
                <div class="col-sm-8">
                    <select class="form-control authInputs data_field" id="depotId" ng-model="vccUser.depotId" required>
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in allDepot" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit">Save</button>
          <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
        </div>  
        </form>
    </div>
</script>

<!-- PopUp -->
<!-- <div id='jqxwindowTiredet' >
    <div class="tmass-model-header">
        Tire Details
    </div>
    <div>
    <div class="modal-body modalInnerbody" >
        <form class="form-horizontal" name="myForm" validate>
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="form-group">
                <label for="tiremanufacturerId" class="col-sm-4 control-label" >Tire Manufacturing Name *</label>
                <div class="col-sm-8">
                    <select class="form-control authInputs data_field" id="tiremanufacturerId" ng-model="vccUser.tiremanufacturerId">
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in tireManufacturers" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="tireModelId" class="col-sm-4 control-label" >Tire Model Name *</label>
                <div class="col-sm-8">
                    <select class="form-control authInputs data_field" id="tireModelId" ng-model="vccUser.tireModelId">
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in tireModels" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="recommendedPositionId" class="col-sm-4 control-label" >Tire Recommended Position *</label>
                <div class="col-sm-8">
                    <select class="form-control authInputs data_field" id="recommendedPositionId" ng-model="vccUser.recommendedPositionId">
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in tireRecommendedPositions" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="tireTypeId" class="col-sm-4 control-label" >Tire Types *</label>
                <div class="col-sm-8">
                    <select class="form-control authInputs data_field" id="tireTypeId" ng-model="vccUser.tireTypeId">
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in tiretypes" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="tireThreadDepth_t1" class="col-sm-4 control-label" >Tire ThreadDepth t1</label>
                <div class="col-sm-8">
                    <input type="number" min="0" ng-model= "vccUser.tireThreadDepth_t1" class="form-control authInputs data_field" id="tireThreadDepth_t1" placeholder="Enter data">
                </div>
            </div> 
            <div class="form-group">
                <label for="tireThreadDepth_t2" class="col-sm-4 control-label" >Tire ThreadDepth t2</label>
                <div class="col-sm-8">
                    <input type="number" min="0" ng-model= "vccUser.tireThreadDepth_t2" class="form-control authInputs data_field" id="tireThreadDepth_t2" placeholder="Enter data">
                </div>
            </div> 
            <div class="form-group">
                <label for="tireThreadDepth_t3" class="col-sm-4 control-label" >Tire ThreadDepth t3</label>
                <div class="col-sm-8">
                    <input type="number" min="0" ng-model= "vccUser.tireThreadDepth_t3" class="form-control authInputs data_field" id="tireThreadDepth_t3" placeholder="Enter data">
                </div>
            </div> 
            <div class="form-group">
                <label for="tireWearIndicator_twi" class="col-sm-4 control-label" >Tire Wear Indicator (twi)</label>
                <div class="col-sm-8">
                    <input type="number" min="0" ng-model= "vccUser.tireWearIndicator_twi" class="form-control authInputs data_field" id="tireWearIndicator_twi" placeholder="Enter data">
                </div>
            </div> 
            <div class="form-group">
                <label for="maxPressureThreshold" class="col-sm-4 control-label" >Max Pressure Threshold</label>
                <div class="col-sm-8">
                    <input type="number" min="0" ng-model= "vccUser.maxPressureThreshold" class="form-control authInputs data_field" id="maxPressureThreshold" placeholder="Enter data">
                </div>
            </div> 
            <div class="form-group">
                <label for="minpressureThreshold" class="col-sm-4 control-label" >Min Pressure Threshold</label>
                <div class="col-sm-8">
                    <input type="number" min="0" ng-model= "vccUser.minpressureThreshold" class="form-control authInputs data_field" id="minpressureThreshold" placeholder="Enter Min Temperature Threshold">
                </div>
            </div> 
            <div class="form-group">
                <label for="maxTempratureThreshold" class="col-sm-4 control-label" >Max Temperature Threshold</label>
                <div class="col-sm-8">
                    <input type="number" min="0" ng-model= "vccUser.maxTempratureThreshold" class="form-control authInputs data_field" id="maxTempratureThreshold" placeholder="Enter Max Temperature Threshold">
                </div>
            </div> 
            <div class="form-group">
                <label for="tireCost" class="col-sm-4 control-label" >Tire Cost</label>
                <div class="col-sm-8">
                    <input type="number" min="0" ng-model= "vccUser.tireCost" class="form-control authInputs data_field" id="tireCost" placeholder="Enter tire Cost">
                </div>
            </div> 
            <div class="form-group">
                <label for="tireRemouldCost" class="col-sm-4 control-label" >Tire Remould Cost</label>
                <div class="col-sm-8">
                    <input type="number" min="0" ng-model= "vccUser.tireRemouldCost" class="form-control authInputs data_field" id="tireRemouldCost" placeholder="Enter tire Remould Cost">
                </div>
            </div> 
            <div class="form-group">
                <label for="expectedTireLife_km" class="col-sm-4 control-label" >Expected Tire Life km</label>
                <div class="col-sm-8">
                    <input type="number" min="0" ng-model= "vccUser.expectedTireLife_km" class="form-control authInputs data_field" id="expectedTireLife_km" placeholder="Enter Expected Tire Life km">
                </div>
            </div> 
            <div class="form-group">
                <label for="recommendedcoldInflationPressure" class="col-sm-4 control-label" >Recommended cold Inflation Pressure</label>
                <div class="col-sm-8">
                    <input type="number" min="0" ng-model= "vccUser.recommendedcoldInflationPressure" class="form-control authInputs data_field" id="recommendedcoldInflationPressure" placeholder="Enter Recommended cold Inflation Pressure">
                </div>
            </div> 
            <div class="form-group">
                <label for="remouldCount" class="col-sm-4 control-label" >Remould Count</label>
                <div class="col-sm-8">
                    <input type="number" min="0" ng-model= "vccUser.remouldCount" class="form-control authInputs data_field" id="remouldCount" placeholder="Enter remouldCount">
                </div>
            </div> 
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="done(vccUser)">Save</button>
        <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
    </div>
    </div>
    </div> -->