<div class="login">

  <main class="auth-main">
    <div class="auth-block">
      <h1>Sign up to Tmass Admin</h1>
      <a ui-sref="authSignIn" class="auth-link">Already have a Tmass Admin account? Sign in!</a>

      <form class="form-horizontal">
        <div class="form-group">
          <label for="inputName3" class="col-sm-2 control-label">Name</label>

          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName3" placeholder="Full Name">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default btn-auth">Sign up</button>
          </div>
        </div>
      </form>
    </div>
  </main>
</div>