<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button"   ng-click="openModal()">Add Vehicle Group</button>
        </div>
        <div id='jqxWidget'>
            <div id="grid">
            </div>
        </div>
    </div>       
</div>

<!-- PopUp -->
<script type="text/ng-template" id="jqxwindowVehicleGroup.html">
<div id='' >
    <div class="tmass-model-header">
        Vehicles Group
    </div>

    <form class="form-horizontal" ng-submit="done(vccUser)" name="myForm" validate>
        <div class="modal-body" >
            <div class="form-group">
                <label for="inputVehicleGroupName" class="col-sm-3 control-label" >Name *</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.vehicleGroupName" required class="form-control authInputs" id="vehicleGroupName" placeholder="Enter Vehicle Group Name">
                </div>
            </div>
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="form-group">
                <label for="inputVehicleGroupDesc" class="col-sm-3 control-label" >Description</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.vehicleGroupDesc" class="form-control authInputs" id="vehicleGroupDesc" placeholder="Enter Vehicle Group Description">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Save</button>
            <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
        </div> 
        </form>

    </div>
</script>