<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button" ng-click="openTireStatusModal()" >Add Tire Status</button>
        </div>
        <div id='jqxWidget'>
            <div id="tirestatusgrid">
            </div>
        </div>
    </div>       
</div>

<script type="text/ng-template" id="tireStatusPopup.html">
    <div class="modal-header">
        <h3 class="modal-title">Tire Status</h3>
    </div>

        <form ng-submit="save(vccUser)" validate>
                <div class="modal-body">
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputTireStatusName" class="col-sm-3 control-label" >Name *</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.tireStatusName" required class="form-control authInputs" id="tireStatusName" placeholder="Enter Tire Status Name">
                </div>
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputTireStatusDesc" class="col-sm-3 control-label" >Description </label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.tireStatusDesc" class="form-control authInputs" id="tireStatusDesc" placeholder="Enter Tire Status Description">
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit" >Save</button>
          <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
        </div>
        </form>

</script>

<!-- PopUp -->
<!-- <div id='jqxwindowTStatus' >
    <div class="tmass-model-header">
        Tire Status
    </div>
    <div>
    <div class="modal-body" >
        <form class="form-horizontal" name="myForm" validate>
            <div class="input-group animated fadeIn">
                <label for="inputTireStatusName" class="col-sm-3 control-label" >Name *</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.tireStatusName" class="form-control authInputs" id="tireStatusName" placeholder="Enter Tire Status Name">
                </div>
            </div>
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputTireStatusDesc" class="col-sm-3 control-label" >Description </label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.tireStatusDesc" class="form-control authInputs" id="tireStatusDesc" placeholder="Enter Tire Status Description">
                </div>
            </div> 
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="done(vccUser)">Save</button>
        <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
    </div>
    </div> -->