<div class="row">
    <div class="col-md-12 tmass-table-container">
                <uib-accordion>
                  <uib-accordion-group is-open="status.open" id="vehicleDashb1">
                        <uib-accordion-heading>
                                Vehicle Dashboard <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i>
                        </uib-accordion-heading>
                        <uib-accordion>
                        <uib-accordion-group class="childAccordian" is-open="statusvehicleTotal1.open">
                          <uib-accordion-heading>
                                <p style="float: left;">Total Vehicle </p> <i class="pull-right glyphicon" style="float:right;" ng-class="{'glyphicon-minus': statusvehicleTotal1.open, 'glyphicon-plus': !statusvehicleTotal1.open}"></i><b style="float:left;margin-left: 10px;">{{tireDashboard.totalCount}}</b>
                          </uib-accordion-heading>
                          <p ng-show="tireDashboard.totalCount==0"> No data To display</p>
                          <div ng-show="tireDashboard.totalCount!=0" class="table-responsive dashBoardtableScroll " id="divtable0">
                            <div id="buttonRow">
                                <input  type="button" value="Print" style="color:black;"  ng-click="demoFromHTML11('divtable0')"></input>
                                <input type="button" style="color:black;" value="Download PDF" ng-click="demoFromHTML('divtable0')"></input> 
                                <input id="save" type="button" style="color:black;" value="Download xls" ng-click="exportData('divtable0')"></input> 
                                <input type="button" style="color:black;" value="Send Email" ng-click="sendMail('divtable0');"></input>                            
                            </div>
                            <table class="table" border-collapse: "collapse"; border="1" cellpadding="3" id="exportable0">
                                <tr>
                                    <th>Vehicle Serial No</th>
                                    <th>Vehicle Type</th>
                                    <th>Vehicle Axel</th>
                                </tr>
                                <tr ng-repeat="data in tireDashboard.totalData" class="text-align: left !important;">
                                    <td style="text-align: inherit !important;">{{data.vehicleRegistrationNumber}}</td>
                                    <td>{{data.vehicleGroupName}}</td>
                                    <td>{{data.vehicleAxel}}</td>
                                </tr>
                            </table>
                         </div>
                        </uib-accordion-group>
                        <uib-accordion-group class="childAccordian" is-open="statusvehicle2.open">
                            <uib-accordion-heading>
                                    <p style="float: left;">Vehicle TD </p> <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': statusvehicle2.open, 'glyphicon-plus': !statusvehicle2.open}"></i><b style="float:left;margin-left: 10px;"> > 80%  {{tireDashboard.totalgt80}}</b>
                            </uib-accordion-heading>
                            <p ng-show="tireDashboard.totalgt80==0"> No data To display</p>
                            <div id="buttonRow" ng-show="tireDashboard.totalgt80!=0">
                                <input  type="button" value="Print" style="color:black;"  ng-click="demoFromHTML11('totalgt80Data')"></input>
                                <input type="button" style="color:black;" value="Download PDF" ng-click="demoFromHTML('totalgt80Data')" />
                                <input type="button" style="color:black;" ng-click="exportData('totalgt80Data');" value="Download xls" /> 
                                <input type="button" style="color:black;" ng-click="sendMail('totalgt80Data');" value="Send Email" />
                            </div>
                            <div ng-show="tireDashboard.totalgt80!=0" class="table-responsive dashBoardtableScroll customers" id="tdgt80">
                              <table class="table" border-collapse: "collapse"; border="1" cellpadding="3" id="exportable">
                                  <tr>
                                          <th>Vehicle Serial No</th>
                                          <th>Vehicle Type</th>
                                          <th>Vehicle Axel</th>
                                          <th>Vehicle TD %</th>
                                          <th class="noExl">Vehicle TD Details</th>
                                  </tr>
                                  <tr ng-repeat="data in tireDashboard.totalgt80Data" class="text-align: left !important;">
                                          <td style="text-align: inherit !important;">{{data.vehicleRegistrationNumber}}</td>
                                          <td>{{data.vehicleGroupName}}</td>
                                          <td>{{data.vehicleAxel}}</td>
                                          <td>{{data.vehicleTD}}</td>
                                          <td style="text-align: center !important;">
                                                <input type="button" class="btn btn-primary" value="Click to View"  ng-click="openRoleMasterModal(data._id)" />  
                                            </td>
                                  </tr>
                              </table>
                           </div>
                        </uib-accordion-group>
                        <uib-accordion-group class="childAccordian" is-open="statusvehicle3.open">
                            <uib-accordion-heading>
                                    <p style="float: left;">Vehicle TD </p> <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': statusvehicle3.open, 'glyphicon-plus': !statusvehicle3.open}"></i><b style="float:left;margin-left: 10px;"> > 50% {{tireDashboard.totalgt50}}</b>
                            </uib-accordion-heading>
                            <p ng-show="tireDashboard.totalgt50==0"> No data To display</p>
                            <div id="buttonRow" ng-show="tireDashboard.totalgt50!=0">
                                    <input  type="button" value="Print" style="color:black;"  ng-click="demoFromHTML11('tdgt50')"></input>
                                    <input type="button" style="color:black;" value="Download PDF" ng-click="demoFromHTML('tdgt50')" />
                                    <input type="button" style="color:black;" ng-click="exportData('tdgt50');" value="Download xls" /> 
                                    <input type="button" style="color:black;" ng-click="sendMail('tdgt50');" value="Send Email" />
                            </div>
                            <div ng-show="tireDashboard.totalgt50!=0" class="table-responsive dashBoardtableScroll customers" id="tdgt50">
                              <table class="table" border-collapse: "collapse"; border="1" cellpadding="3" id="exportable2">
                                  <tr>
                                        <th>Vehicle Serial No</th>
                                        <th>Vehicle Type</th>
                                        <th>Vehicle Axel</th>
                                        <th>Vehicle TD %</th>
                                        <th class="noExl">Vehicle TD Details</th>
                                  </tr>
                                  <tr ng-repeat="data in tireDashboard.totalgt50Data" class="text-align: left !important;">
                                          <td style="text-align: inherit !important;">{{data.vehicleRegistrationNumber}}</td>
                                          <td>{{data.vehicleGroupName}}</td>
                                          <td>{{data.vehicleAxel}}</td>
                                          <td>{{data.vehicleTD}}</td>
                                          <td style="text-align: center !important;">
                                            <input type="button" class="btn btn-primary" value="Click to View"  ng-click="openRoleMasterModal(data._id)" />                                              
                                          </td>
                                  </tr>
                              </table>
                           </div>
                        </uib-accordion-group>
                        <uib-accordion-group class="childAccordian" is-open="statusvehicle4.open">
                            <uib-accordion-heading>
                                    <p style="float: left;">Vehicle TD </p> <i class="pull-right glyphicon" style="float:right;" ng-class="{'glyphicon-minus': statusvehicle4.open, 'glyphicon-plus': !statusvehicle4.open}"></i><b style="float:left; margin-left: 10px;"> > 20%  {{tireDashboard.totalgt20}}</b>
                            </uib-accordion-heading>
                            <p ng-show="tireDashboard.totalgt20==0"> No data To display</p>
                            <div id="buttonRow" ng-show="tireDashboard.totalgt20!=0">
                                    <input  type="button" value="Print" style="color:black;"  ng-click="demoFromHTML11('tdgt20')"></input>
                                    <input type="button" style="color:black;" value="Download PDF" ng-click="demoFromHTML('tdgt20')" />
                                    <input type="button" style="color:black;" ng-click="exportData('tdgt20');" value="Download xls" /> 
                                    <input type="button" style="color:black;" ng-click="sendMail('tdgt20');" value="Send Email" />
                            </div>
                            <div ng-show="tireDashboard.totalgt20!=0" class="table-responsive dashBoardtableScroll customers" id="tdgt20">
                              <table class="table" border-collapse: "collapse"; border="1" cellpadding="3" id="exportable3">
                                  <tr>
                                        <th>Vehicle Serial No</th>
                                        <th>Vehicle Type</th>
                                        <th>Vehicle Axel</th>
                                        <th>Vehicle TD %</th>
                                        <th class="noExl">Vehicle TD Details</th>
                                  </tr>
                                  <tr ng-repeat="data in tireDashboard.totalgt20Data" class="text-align: left !important;">
                                          <td style="text-align: inherit !important;">{{data.vehicleRegistrationNumber}}</td>
                                          <td>{{data.vehicleGroupName}}</td>
                                          <td>{{data.vehicleAxel}}</td>
                                          <td>{{data.vehicleTD}}</td>
                                          <td style="text-align: center !important;">
                                            <input type="button" class="btn btn-primary" value="Click to View"  ng-click="openRoleMasterModal(data._id)" />
                                        </td>
                                  </tr>
                              </table>
                           </div>
                        </uib-accordion-group>
                        <uib-accordion-group class="childAccordian" is-open="statusvehicle5.open">
                        <uib-accordion-heading>
                                <p style="float: left;">Vehicle TD </p> <i class="pull-right glyphicon" style="float:right;" ng-class="{'glyphicon-minus': statusvehicle5.open, 'glyphicon-plus': !statusvehicle5.open}"></i><b style="float:left; margin-left: 10px;"> < 20%  {{tireDashboard.totallt20}}</b>
                        </uib-accordion-heading>
                            <p ng-show="tireDashboard.totallt20==0"> No data To display</p>
                            <div id="buttonRow" ng-show="tireDashboard.totallt20!=0" >
                                    <input  type="button" value="Print" style="color:black;"  ng-click="demoFromHTML11('tdlt20')"></input>
                                    <input type="button" style="color:black;" value="Download PDF" ng-click="demoFromHTML('tdlt20')" />
                                    <input type="button" style="color:black;" ng-click="exportData('tdlt20');" value="Download xls" /> 
                                    <input type="button" style="color:black;" ng-click="sendMail('tdlt20');" value="Send Email" />
                            </div>
                            <div ng-show="tireDashboard.totallt20!=0" class="table-responsive dashBoardtableScroll customers" id="tdlt20" >
                                <table class="table" border-collapse: "collapse"; border="1" cellpadding="3" id="exportable4">
                                    <tr>
                                        <th>Vehicle Serial No</th>
                                        <th>Vehicle Type</th>
                                        <th>Vehicle Axel</th>
                                        <th>Vehicle TD %</th>
                                        <th class="noExl">Vehicle TD Details</th>
                                    </tr>
                                    <tr ng-repeat="data in tireDashboard.totallt20Data" class="text-align: left !important;">
                                        <td style="text-align: inherit !important;">{{data.vehicleRegistrationNumber}}</td>
                                        <td>{{data.vehicleGroupName}}</td>
                                        <td>{{data.vehicleAxel}}</td>
                                        <td>{{data.vehicleTD}}</td>
                                        <td style="text-align: center !important;">
                                            <input type="button" class="btn btn-primary" value="Click to View"  ng-click="openRoleMasterModal(data._id)" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </uib-accordion-group>
                        <uib-accordion-group class="childAccordian" is-open="statusvehicleTotal.open">
                            <uib-accordion-heading>
                                    <p style="float: left;"> Total Non Configured Vehicle </p> <i class="pull-right glyphicon" style="float:right;" ng-class="{'glyphicon-minus': statusvehicleTotal.open, 'glyphicon-plus': !statusvehicleTotal.open}"></i><b style="float:left;margin-left: 10px;">{{nonConfiguredVehicles.length}}</b>
                            </uib-accordion-heading>
                            <p ng-show="nonConfiguredVehicles.length==0"> No data To display</p>
                            <div id="buttonRow" ng-show="nonConfiguredVehicles.length!=0">
                                    <input  type="button" value="Print" style="color:black;"  ng-click="demoFromHTML11('tdnonConfigured')"></input>
                                    <input type="button" style="color:black;" value="Download PDF" ng-click="demoFromHTML('tdnonConfigured')" />
                                    <input type="button" style="color:black;" ng-click="exportData('tdnonConfigured');" value="Download xls" /> 
                                    <input type="button" style="color:black;" ng-click="sendMail('tdnonConfigured');" value="Send Email" />
                            </div>
                            <div ng-show="nonConfiguredVehicles.length!=0" class="table-responsive dashBoardtableScroll customers" id="tdnonConfigured">
                                <table class="table" border-collapse: "collapse"; border="1" cellpadding="3" id="exportable5">
                                    <tr>
                                        <th>Vehicle Serial No</th>
                                        <th>Vehicle Type</th>
                                        <th>Vehicle Axel</th>
                                    </tr>
                                    <tr ng-repeat="data in nonConfiguredVehicles" class="text-align: left !important;">
                                        <td style="text-align: inherit !important;">{{data.vehicleRegistrationNumber}}</td>
                                        <td>{{data.vehicleGroupName}}</td>
                                        <td>{{data.vehicleAxel}}</td>
                                    </tr>
                                </table>
                            </div>
                        </uib-accordion-group>
                    </uib-accordion>
                    </uib-accordion-group>
                  </uib-accordion>
    </div>       
</div>
<script type="text/ng-template" id="roleMasterPopup.html">
    <div class="modal-header">
        <h3 class="modal-title">Vehicle ThreadDepth Details</h3>
    </div>
    <form ng-submit="save(vccUser)" validate>
        <div class="modal-body">
                <div ba-panel ba-panel-title="Vehicle No : {{currvehicleData}}" ba-panel-class="with-scroll table-panel">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th>Tyre position</th>
                                    <th>Manufacturer</th>
                                    <th>Model</th>
                                    <th>TD 1</th>
                                    <th>TD 2</th>
                                    <th>TD 3</th>
                                    <!-- <th>TWI</th> -->
                                </tr>
                                <tr ng-repeat="data in myalertArr"  ng-class="{'validMsg': ((data.tireThreadDepthDetails[(data.tireThreadDepthDetails.length)-1].tireThreadDepth_t1) <= data.twi) ,'validMsg': ((data.tireThreadDepthDetails[(data.tireThreadDepthDetails.length)-1].tireThreadDepth_t2) <= data.twi), 'validMsg': ((data.tireThreadDepthDetails[(data.tireThreadDepthDetails.length)-1].tireThreadDepth_t3) <= data.twi) } ">
                                    <td style="text-align: inherit !important;">{{data.tirePositionName}}</td>
                                    <td>{{data.tireManufacturer}}</td>
                                    <td>{{data.tireModel}}</td>
                                    <td>{{data.tireThreadDepthDetails[(data.tireThreadDepthDetails.length)-1].tireThreadDepth_t1}}</td>
                                    <td>{{data.tireThreadDepthDetails[(data.tireThreadDepthDetails.length)-1].tireThreadDepth_t2}}</td>
                                    <td>{{data.tireThreadDepthDetails[(data.tireThreadDepthDetails.length)-1].tireThreadDepth_t3}}</td>
                                    <!-- <td>{{data.twi}}</td> -->
                                </tr>
                            </table>
                        </div>                                
                </div>
        </div>
        <div class="modal-footer">
            <!-- <button class="btn btn-primary" type="submit">Save</button> -->
            <button class="btn btn-danger" type="button" ng-click="cancel()">close</button>
        </div>
    </form>
</script>