<div class="row">
        <div class="col-md-12 tmass-table-container">
            <div class="add-row-editable-table">
                <button class="btn btn-secondary tmass-table-button" style="margin-left: 10px;" ng-click="openModal()">Add Tyre Specifications</button>
                <input type="button" style="margin-left: 10px;" class="btn btn-secondary tmass-table-button col-sm-2" value="Download Sample File" onClick="window.location.href='../../assets/sampleFiles/tirespec.xlsx'"> 
                <button class="btn btn-secondary tmass-table-button col-sm-2"  ng-click="openTireSpecModal()">Upload in Bulk</button>
            </div>
            <div id='jqxWidget'>
                <div id="tirespecgrid">
                </div>
            </div>
        </div>       
    </div>
    
    <!-- PopUp -->
<script type="text/ng-template" id="jqxwindowTireSpec.html">
    <div>
        <div class="tmass-model-header">
            Tyre Specifications
        </div>
        <div>

            <form class="form-horizontal"  ng-submit="save(vccUser)" name="myForm" validate>
                    <div class="modal-body modalInnerbody" >
                <div>
                    <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
                </div>
                <div class="form-group">
                    <label for="tiremanufacturerId" class="col-sm-3 control-label" >Tyre Manufacturer * </label>
                    <div class="col-sm-9">
                        <select class="form-control authInputs data_field" required id="tiremanufacturerId" ng-model="vccUser.tiremanufacturerId" ng-change="changeId(vccUser.tiremanufacturerId)">
                            <option value="">Select</option>
                            <option ng-repeat="vhmanu in tireManufacturers | orderBy:'text'" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                        </select>
                        <!-- <input type="text" ng-model= "vccUser.tubeManufacturerName" class="form-control authInputs" id="tubeManufacturerName" placeholder="Enter Tube Manufacturing Name"> -->
                    </div>
                </div>
                <div class="form-group">
                    <label for="tireModelId" class="col-sm-3 control-label" >Tyre Model * </label>
                    <div class="col-sm-9">
                        <select class="form-control authInputs data_field" required id="tireModelId" ng-model="vccUser.tireModelId">
                            <option value="">Select</option>
                            <option ng-repeat="vhmanu in tireModels | orderBy:'text'" ng-if="vhmanu.manufactureId == globalManufacturerId" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                        </select>
                        <!-- <input type="text" ng-model= "vccUser.tubeManufacturerName" class="form-control authInputs" id="tubeManufacturerName" placeholder="Enter Tube Manufacturing Name"> -->
                    </div>
                </div>
                <div class="form-group">
                    <label for="recommendedPositionId" class="col-sm-3 control-label" >Tyre Recommended Position * </label>
                    <div class="col-sm-9">
                        <select class="form-control authInputs data_field" required id="recommendedPositionId" ng-model="vccUser.recommendedPositionId">
                            <option value="">Select</option>
                            <option ng-repeat="vhmanu in tireRecommendedPositions | orderBy:'text'" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                        </select>
                        <!-- <input type="text" ng-model= "vccUser.tubeManufacturerName" class="form-control authInputs" id="tubeManufacturerName" placeholder="Enter Tube Manufacturing Name"> -->
                    </div>
                </div>
                <div class="form-group">
                    <label for="tireTypeId" class="col-sm-3 control-label" >Tyre Type * </label>
                    <div class="col-sm-9">
                        <select class="form-control authInputs data_field" id="tireTypeId" ng-model="vccUser.tireTypeId" required>
                            <option value="">Select</option>
                            <option ng-repeat="vhmanu in tiretypes | orderBy:'text'" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                        </select>
                        <!-- <input type="text" ng-model= "vccUser.tubeManufacturerName" class="form-control authInputs" id="tubeManufacturerName" placeholder="Enter Tube Manufacturing Name"> -->
                    </div>
                </div>
                <div class="form-group">
                    <label for="tireThreadDepth_t1" class="col-sm-3 control-label" >Tyre Thread Depth T1 * </label>
                    <div class="col-sm-9">
                        <input type="text"  maxlength="5" pattern='(?<![\d.])(\d{1,2}|\d{1,2}\.\d{1,2})?(?![\d.])' title="Please enter value in pattern of 29.99, no alphabets" value="29.99" ng-model= "vccUser.tireThreadDepth_t1" required class="form-control authInputs data_field" id="tireThreadDepth_t1" placeholder="Enter Tyre Thread Depth T1 data">
                    </div>
                </div> 
                <div class="form-group">
                    <label for="tireThreadDepth_t2" class="col-sm-3 control-label" >Tyre Thread Depth T2 * </label>
                    <div class="col-sm-9">
                        <input type="text"  maxlength="5" pattern='(?<![\d.])(\d{1,2}|\d{1,2}\.\d{1,2})?(?![\d.])' title="Please enter value in pattern of 29.99, no alphabets" value="29.99" ng-model= "vccUser.tireThreadDepth_t2" required class="form-control authInputs data_field" id="tireThreadDepth_t2" placeholder="Enter Tyre Thread Depth T2 data">
                    </div>
                </div> 
                <div class="form-group">
                    <label for="tireThreadDepth_t3" class="col-sm-3 control-label" >Tyre Thread Depth T3 * </label>
                    <div class="col-sm-9">
                        <input type="text"  maxlength="5" pattern='(?<![\d.])(\d{1,2}|\d{1,2}\.\d{1,2})?(?![\d.])' title="Please enter value in pattern of 29.99, no alphabets" value="29.99" ng-model= "vccUser.tireThreadDepth_t3" required class="form-control authInputs data_field" id="tireThreadDepth_t3" placeholder="Enter Tyre Thread Depth T3 data">
                    </div>
                </div> 
                <div class="form-group">
                    <label for="tireWearIndicator_twi" class="col-sm-3 control-label" >Tyre Wear Indicator (twi) * </label>
                    <div class="col-sm-9">
                        <input type="text" max="2" maxlength="3" pattern='(?<![\d.])(\d{1,1}|\d{1,1}\.\d{1,1})?(?![\d.])' title="Please enter value in pattern of 0.0, no alphabets" value="1.7" ng-model= "vccUser.tireWearIndicator_twi" required class="form-control authInputs data_field" id="tireWearIndicator_twi" placeholder="Enter Tyre TWI data">
                    </div>
                </div> 
                <div class="form-group">
                    <label for="maxPressureThreshold" class="col-sm-3 control-label" >Max Pressure Threshold * </label>
                    <div class="col-sm-9">
                        <input type="number" max="255" maxlength="3" min="0" ng-model= "vccUser.maxPressureThreshold" required class="form-control authInputs data_field" id="maxPressureThreshold" placeholder="Enter Max Pressure">
                    </div>
                </div> 
                <div class="form-group">
                    <label for="minpressureThreshold" class="col-sm-3 control-label" >Min Pressure Threshold * </label>
                    <div class="col-sm-9">
                        <input type="number" max="{{vccUser.maxPressureThreshold}}" title="The value should be less than Max Pressure" x-moz-errormessage="The value should be less than Max Pressure." maxlength="3" ng-model= "vccUser.minpressureThreshold" required class="form-control authInputs data_field" id="minpressureThreshold" placeholder="Enter Min Pressure Threshold">
                        <p ng-if="vccUser.minpressureThreshold>vccUser.maxPressureThreshold">Value should be less than the Max Pressure</p>
                    </div>
                </div> 
                <div class="form-group">
                    <label for="maxTemperatureThreshold" class="col-sm-3 control-label" >Max Temperature Threshold * </label>
                    <div class="col-sm-9">
                        <input type="number" max="100" maxlength="3" min="0" ng-model= "vccUser.maxTemperatureThreshold" required class="form-control authInputs data_field" id="maxTemperatureThreshold" placeholder="Enter Max Temperature Threshold">
                    </div>
                </div> 
                <div class="form-group">
                    <label for="tireCost" class="col-sm-3 control-label" >Tyre Cost * </label>
                    <div class="col-sm-9">
                        <input type="number" max="9999999999999999999" min="0" ng-model= "vccUser.tireCost" required class="form-control authInputs data_field" id="tireCost" placeholder="Enter Tyre Cost">
                    </div>
                </div> 
                <div class="form-group">
                    <label for="tireRemouldCost" class="col-sm-3 control-label" >Tyre Remould Cost * </label>
                    <div class="col-sm-9">
                        <input type="number" max="9999999999999999999" min="0" ng-model= "vccUser.tireRemouldCost" required class="form-control authInputs data_field" id="tireRemouldCost" placeholder="Enter Tyre Remould Cost">
                    </div>
                </div> 
                <div class="form-group">
                    <label for="expectedTireLife_km" class="col-sm-3 control-label" >Expected Tyre Life km * </label>
                    <div class="col-sm-9">
                        <input type="number" max="999999" maxlength="6" min="0" ng-model= "vccUser.expectedTireLife_km" required class="form-control authInputs data_field" id="expectedTireLife_km" placeholder="Enter Expected Tyre Life km">
                    </div>
                </div> 
                <div class="form-group">
                    <label for="recommendedcoldInflationPressure" class="col-sm-3 control-label" >Recommended cold Inflation Pressure * </label>
                    <div class="col-sm-9">
                        <input type="number" min="0" max="999" maxlength="3" ng-model= "vccUser.recommendedcoldInflationPressure" required class="form-control authInputs data_field" id="recommendedcoldInflationPressure" placeholder="Enter Recommended cold Inflation Pressure">
                    </div>
                </div> 
                <div class="form-group">
                    <label for="remouldCount" class="col-sm-3 control-label" >Remould Count * </label>
                    <div class="col-sm-9">
                        <input type="number" min="0" max="999" maxlength="3" ng-model= "vccUser.remouldCount" required class="form-control authInputs data_field" id="remouldCount" placeholder="Enter remouldCount">
                    </div>
                </div> 
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
            </div>
            </form>

        </div>
        </div>
</script>

    <!-- PopUp for tire spec -->
<script type="text/ng-template" id="jqxwindowTireSpecDetailBulkUpload.html">
    <div id="tirespecbulk">
        <div>
            <div class="tmass-model-header">
                Tire Specifications
            </div>
            <form class="form-horizontal" name="myForm">
                <div class="modal-body" >
                    <div class="form-group">
                        <label for="inputaddfile" class="col-sm-3 control-label" >Add File *</label>
                        <div class="col-sm-9">
                            <input name="file" accept=".xls,.xlsx" type="file" id="the-file" class="form-control authInputs" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" value="Upload" id="testUpload" name="submit" ng-click="uploadTagDetails()" >Save and Upload</button>
                    <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
                </div>
            </form>
        </div>
    </div>
</script>