<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button"   ng-click="openModal()">Add Tire Manufacturer</button>
        </div>
        <div id='jqxWidget'>
            <div id="tireManufacturergrid">
            </div>
        </div>
    </div>       
</div>

<!-- PopUp -->
<script type="text/ng-template" id="jqxwindowTireManufacturer.html">
<div>
    <div class="tmass-model-header">
        Tire Manufacturer
    </div>

    <form class="form-horizontal" name="myForm" ng-submit="save(vccUser)" validate>
        <div class="modal-body" >
            <div class="form-group">
                <label for="inputTireManufacturerName" class="col-sm-4 control-label" >Tire Manufacturer Name *</label>
                <div class="col-sm-8">
                    <input type="text" ng-model= "vccUser.tireManufacturerName" required class="form-control authInputs" id="tireManufacturerName" placeholder="Enter Manufacturer Name">
                </div>
            </div>
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="form-group">
                <label for="inputTireManufacturerPlace" class="col-sm-4 control-label" >Tire Manufacturer Place *</label>
                <div class="col-sm-8">
                    <input type="text" ng-model= "vccUser.tireManufacturerPlace" required class="form-control authInputs" id="tireManufacturerPlace" placeholder="Enter Manufacturer Place">
                </div>
            </div> 
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Save</button>
            <button type="button" class="btn btn-danger" ng-click="cancel()" >Cancel</button>
        </div>
    </form>
</div>
</script>