<div class="row tireContollerDiv">
        <div class="col-md-12 tmass-table-container">
                    <uib-accordion>
                      <uib-accordion-group is-open="status.open" id="tireDashb1">
                            <uib-accordion-heading >
                                Tyre Dashboard <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i>
                            </uib-accordion-heading>
                            <uib-accordion>
                            <uib-accordion-group class="childAccordian" is-open="status1.open">
                              <uib-accordion-heading>
                                    <p style="float:left;">Total Tyre</p> <i class="pull-right glyphicon" style="float:right;" ng-class="{'glyphicon-minus': status1.open, 'glyphicon-plus': !status1.open}"></i><b style="float:left;margin-left: 10px;"> {{tireDashboard.totalCount}}</b>
                              </uib-accordion-heading>
                              <p ng-show="tireDashboard.totalCount==0"> No data To display</p>
                              <div id="buttonRow" ng-show="tireDashboard.totalCount!=0">
                                    <input  type="button" value="Print" style="color:black;"  ng-click="demoFromHTML11('totalCount')"></input>
                                    <input type="button" style="color:black;" value="Download PDF" ng-click="demoFromHTML('totalCount')" />
                                    <input type="button" style="color:black;" ng-click="exportData('totalCount');" value="Download xls" /> 
                                    <input type="button" style="color:black;" ng-click="sendMail('totalCount');" value="Send Email" />
                                </div>
                              <div ng-show="tireDashboard.totalCount!=0" class="table-responsive dashBoardtableScroll" id="totalCount">
                                <table class="table" border-collapse: "collapse"; border="1" cellpadding="3" id="exportable1">
                                    <tr>
                                        <th>Tyre Serial No</th>
                                        <th>Tyre Depot Name</th>
                                        <th>Tyre Status</th>
                                        <th>Tyre Model</th>
                                        <th>Tyre Manufacturer</th>
                                        <th>TD T1</th>
                                        <th>TD T2</th>
                                        <th>TD T3</th>
                                        <th>Avg TD</th>
                                    </tr>
                                    <tr ng-repeat="data in tireDashboard.totalTireData" class="text-align: left !important;">
                                        <td style="text-align: inherit !important;">{{data.tireSerialNumber}}</td>
                                        <td>{{data.depotName}}</td>
                                        <td>{{data.tireStatusName}}</td>
                                        <td>{{data.tireModelNo}}</td>
                                        <td>{{data.tireManufacturerName}}</td>
                                        <td>{{data.tireThreadDepthDetailsData.tireThreadDepth_t1}}</td>
                                        <td>{{data.tireThreadDepthDetailsData.tireThreadDepth_t2}}</td>
                                        <td>{{data.tireThreadDepthDetailsData.tireThreadDepth_t3}}</td>
                                        <td>{{((((data.tireThreadDepthDetailsData.tireThreadDepth_t1+data.tireThreadDepthDetailsData.tireThreadDepth_t2+data.tireThreadDepthDetailsData.tireThreadDepth_t3)/3)* 100)/100 ) | number : 2}}</td>
                                    </tr>
                                </table>
                             </div>
                            </uib-accordion-group>
                            <uib-accordion-group class="childAccordian" is-open="status2.open">
                                <uib-accordion-heading>
                                        <p style="float:left;">New Tyre Total</p> <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status2.open, 'glyphicon-plus': !status2.open}"></i><b style="float:left;margin-left: 10px;">{{tireDashboard.totalNewCount}}</b>
                                </uib-accordion-heading>
                              <p ng-show="tireDashboard.totalNewCount==0"> No data To display</p>
                              <div id="buttonRow" ng-show="tireDashboard.totalNewCount!=0">
                                    <input  type="button" value="Print" style="color:black;"  ng-click="demoFromHTML11('totalNew')"></input>
                                    <input type="button" style="color:black;" value="Download PDF" ng-click="demoFromHTML('totalNew')" />
                                    <input type="button" style="color:black;" ng-click="exportData('totalNew');" value="Download xls" /> 
                                    <input type="button" style="color:black;" ng-click="sendMail('totalNew');" value="Send Email" />
                                </div>
                              <div ng-show="tireDashboard.totalNewCount!=0" class="table-responsive dashBoardtableScroll" id="totalNew">
                                <table class="table" border-collapse: "collapse"; border="1" cellpadding="3" id="exportable2">
                                    <tr>
                                        <th>Tyre Serial No</th>
                                        <th>Tyre Depot Name</th>
                                        <th>Tyre Status</th>
                                        <th>Tyre Model</th>
                                        <th>Tyre Manufacturer</th>
                                        <th>TD T1</th>
                                        <th>TD T2</th>
                                        <th>TD T3</th>
                                        <th>Avg TD</th>
                                    </tr>
                                    <tr ng-repeat="data in tireDashboard.totalNewTiresData" class="text-align: left !important;">
                                        <td style="text-align: inherit !important;">{{data.tireSerialNumber}}</td>
                                        <td>{{data.depotName}}</td>
                                        <td>{{data.tireStatusName}}</td>
                                        <td>{{data.tireModelNo}}</td>
                                        <td>{{data.tireManufacturerName}}</td>
                                        <td>{{data.tireThreadDepthDetailsData.tireThreadDepth_t1}}</td>
                                        <td>{{data.tireThreadDepthDetailsData.tireThreadDepth_t2}}</td>
                                        <td>{{data.tireThreadDepthDetailsData.tireThreadDepth_t3}}</td>
                                        <td>{{((((data.tireThreadDepthDetailsData.tireThreadDepth_t1+data.tireThreadDepthDetailsData.tireThreadDepth_t2+data.tireThreadDepthDetailsData.tireThreadDepth_t3)/3)* 100) / 100) | number : 2 }}</td>
                                    </tr>
                                </table>
                             </div>
                            </uib-accordion-group>
                            <uib-accordion-group class="childAccordian" is-open="status3.open">
                                <uib-accordion-heading>
                                        <p style="float:left;">Remolded Tyre Total</p> <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status3.open, 'glyphicon-plus': !status3.open}"></i><b style="float:left;margin-left: 10px;"> {{tireDashboard.totalRemouldedCount}}</b>
                                </uib-accordion-heading>
                              <p ng-show="tireDashboard.totalRemouldedCount==0"> No data To display</p>
                                <div id="buttonRow" ng-show="tireDashboard.totalRemouldedCount!=0">
                                    <input  type="button" value="Print" style="color:black;"  ng-click="demoFromHTML11('totalRemoulded')"></input>
                                    <input type="button" style="color:black;" value="Download PDF" ng-click="demoFromHTML('totalRemoulded')" />
                                    <input type="button" style="color:black;" ng-click="exportData('totalRemoulded');" value="Download xls" /> 
                                    <input type="button" style="color:black;" ng-click="sendMail('totalRemoulded');" value="Send Email" />
                                </div>
                              <div ng-show="tireDashboard.totalRemouldedCount!=0" class="table-responsive dashBoardtableScroll" id="totalRemoulded">
                                <table class="table" border-collapse: "collapse"; border="1" cellpadding="3" id="exportable3">
                                    <tr>
                                        <th>Tyre Serial No</th>
                                        <th>Tyre Depot Name</th>
                                        <th>Tyre Status</th>
                                        <th>Tyre Model</th>
                                        <th>Tyre Manufacturer</th>
                                        <th>TD T1</th>
                                        <th>TD T2</th>
                                        <th>TD T3</th>
                                        <th>Avg TD</th>
                                    </tr>
                                    <tr ng-repeat="data in tireDashboard.totalRemouldedTiresData" class="text-align: left !important;">
                                        <td style="text-align: inherit !important;">{{data.tireSerialNumber}}</td>
                                        <td>{{data.depotName}}</td>
                                        <td>{{data.tireStatusName}}</td>
                                        <td>{{data.tireModelNo}}</td>
                                        <td>{{data.tireManufacturerName}}</td>
                                        <td>{{data.tireThreadDepthDetailsData.tireThreadDepth_t1}}</td>
                                        <td>{{data.tireThreadDepthDetailsData.tireThreadDepth_t2}}</td>
                                        <td>{{data.tireThreadDepthDetailsData.tireThreadDepth_t3}}</td>
                                        <td>{{((((data.tireThreadDepthDetailsData.tireThreadDepth_t1+data.tireThreadDepthDetailsData.tireThreadDepth_t2+data.tireThreadDepthDetailsData.tireThreadDepth_t3)/3)* 100) / 100) | number : 2 }}</td>
                                    </tr>
                                </table>
                             </div>
                            </uib-accordion-group>
                            <uib-accordion-group class="childAccordian" is-open="status4.open" >
                                <uib-accordion-heading>
                                        <p style="float:left;">Repaired Tyre Total</p> <i class="pull-right glyphicon" style="float:right;" ng-class="{'glyphicon-minus': status4.open, 'glyphicon-plus': !status4.open}"></i><b style="float:left; margin-left: 10px;"> {{tireDashboard.totalRepariedCount}}</b>
                                </uib-accordion-heading>
                              <p ng-show="tireDashboard.totalRepariedCount==0"> No data To display</p>
                                <div id="buttonRow" ng-show="tireDashboard.totalRepariedCount!=0">
                                    <input  type="button" value="Print" style="color:black;"  ng-click="demoFromHTML11('tirerepair')"></input>
                                    <input type="button" style="color:black;" value="Download PDF" ng-click="demoFromHTML('tirerepair')" />
                                    <input type="button" style="color:black;" ng-click="exportData('tirerepair');" value="Download xls" /> 
                                    <input type="button" style="color:black;" ng-click="sendMail('tirerepair');" value="Send Email" />
                                </div>
                              <div ng-show="tireDashboard.totalRepariedCount!=0" class="table-responsive dashBoardtableScroll" id="tirerepair">
                                <table class="table" border-collapse: "collapse"; border="1" cellpadding="3" id="repairtable">
                                    <tr>
                                        <th>Tyre Serial No</th>
                                        <th>Tyre Depot Name</th>
                                        <th>Tyre Status</th>
                                        <th>Tyre Model</th>
                                        <th>Tyre Manufacturer</th>
                                        <th>TD T1</th>
                                        <th>TD T2</th>
                                        <th>TD T3</th>
                                        <th>Avg TD</th>
                                    </tr>
                                    <tr ng-repeat="data in tireDashboard.totalRepairedTiresData" style="text-align: left !important;">
                                        <td style="text-align: inherit !important;">{{data.tireSerialNumber}}</td>
                                        <td>{{data.depotName}}</td>
                                        <td>{{data.tireStatusName}}</td>
                                        <td>{{data.tireModelNo}}</td>
                                        <td>{{data.tireManufacturerName}}</td>
                                        <td>{{data.tireThreadDepthDetailsData.tireThreadDepth_t1}}</td>
                                        <td>{{data.tireThreadDepthDetailsData.tireThreadDepth_t2}}</td>
                                        <td>{{data.tireThreadDepthDetailsData.tireThreadDepth_t3}}</td>
                                        <td>{{((((data.tireThreadDepthDetailsData.tireThreadDepth_t1+data.tireThreadDepthDetailsData.tireThreadDepth_t2+data.tireThreadDepthDetailsData.tireThreadDepth_t3)/3)* 100) / 100) | number : 2 }}</td>
                                    </tr>
                                </table>
                             </div>
                            </uib-accordion-group>
                            <uib-accordion-group class="childAccordian" is-open="status5.open" ng-hide="currUserRole=='Client Manager'">
                                    <uib-accordion-heading>
                                            <p style="float:left;">Configured Tyre Total</p> <i class="pull-right glyphicon" style="float:right;" ng-class="{'glyphicon-minus': status5.open, 'glyphicon-plus': !status5.open}"></i><b style="float:left; margin-left: 10px;"> {{tireDashboard.totalConfiguredCount}}</b>
                                    </uib-accordion-heading>
                                  <p ng-show="tireDashboard.totalConfiguredCount==0"> No data To display</p>
                                    <div id="buttonRow" ng-show="tireDashboard.totalConfiguredCount!=0">
                                        <input  type="button" value="Print" style="color:black;"  ng-click="demoFromHTML11('tiresconfigured')"></input>
                                        <input type="button" style="color:black;" value="Download PDF" ng-click="demoFromHTML('tiresconfigured')" />
                                        <input type="button" style="color:black;" ng-click="exportData('tiresconfigured');" value="Download xls" /> 
                                        <input type="button" style="color:black;" ng-click="sendMail('tiresconfigured');" value="Send Email" />
                                    </div>
                                  <div ng-show="tireDashboard.totalConfiguredCount!=0" class="table-responsive dashBoardtableScroll" id="tiresconfigured">
                                    <table class="table" border-collapse:"collapse" border="1" cellpadding="3" id="configuredtireTable">
                                        <tr>
                                            <th>Tyre Serial No</th>
                                            <th>Tyre Status</th>
                                            <th>Tyre Model</th>
                                            <th>Tyre Manufacturer</th>
                                            <th>Vehicle No</th>
                                            <th>TD T1</th>
                                            <th>TD T2</th>
                                            <th>TD T3</th>
                                            <th>Avg TD</th>
                                        </tr>
                                        <tr ng-repeat="data in tireDashboard.totalConfiguredTiresData" style="text-align: left !important;">
                                            <td style="text-align: inherit !important;">{{data.tireSerialNumber}}</td>
                                            <td>{{data.tireStatusName}}</td>
                                            <td>{{data.tireModelNo}}</td>
                                            <td>{{data.tireManufacturerName}}</td>
                                            <td>{{data.VehicleTireConfigureDetails.vehicleDetails.vehicleRegistrationNumber}}</td>
                                            <td>{{data.tireThreadDepthDetailsData.tireThreadDepth_t1}}</td>
                                            <td>{{data.tireThreadDepthDetailsData.tireThreadDepth_t2}}</td>
                                            <td>{{data.tireThreadDepthDetailsData.tireThreadDepth_t3}}</td>
                                            <td>{{(((data.tireThreadDepthDetailsData.tireThreadDepth_t1)+(data.tireThreadDepthDetailsData.tireThreadDepth_t2)+data.tireThreadDepthDetailsData.tireThreadDepth_t3)/3)*100/100 | number:2 }}</td>
                                        </tr>
                                    </table>
                                 </div>
                                </uib-accordion-group>
                            </uib-accordion>
                        </uib-accordion-group>
                      </uib-accordion>
        </div>       
</div>
    