<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button" ng-click="openModal()">Add Vehicle Axel Config</button>
        </div>
        <div id='jqxWidget'>
            <div id="grid">
            </div>
        </div>
    </div>       
</div>

<!-- PopUp -->
<script type="text/ng-template" id="jqxwindowVehicleAxel.html">
<div id='' >
    <div class="tmass-model-header">
        Vehicle Axel Configuration
    </div>
    <div>

        <form class="form-horizontal" ng-submit="done(vccUser)" name="myForm" validate>
                <div class="modal-body" >
            <div class="form-group">
                <label for="inputVehicleAxelConfiguration" class="col-sm-3 control-label" >Name *</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.vehicleAxelConfiguration" class="form-control authInputs" id="vehicleAxelConfiguration" placeholder="Enter Vehicle Axel Configuration" required>
                </div>
            </div>
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Save</button>
            <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
        </div> 
        </form>

    </div>
    </div>
</script>