<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button" ng-click="openModal()" >Add Alert Details</button>
        </div>
        <div id='jqxWidget'>
            <div id="alertgrid">
            </div>
        </div>
    </div>       
</div>
    
<!-- PopUp -->
<script type="text/ng-template" id="jqxwindowSettings.html">
    <div id='' >
            <div class="tmass-model-header">
                Alert Details
            </div>
            <div>
                <form class="form-horizontal" name="myForm" ng-submit="done(vccUser)">
                    <div class="modal-body" >
                        <div class="input-group animated fadeI">
                            <label for="selectVehicle" class="col-sm-3 control-label" >Select Vehicles *</label>
                            <div class="col-sm-9">
                                <multiselect ng-model="vccUser.vehicleNo" options="vehicleData" id-prop="_id" display-prop="vehicleRegNo" show-search="true" required></multiselect>
                            </div>
                        </div>
                        <div class="input-group animated fadeI">
                            <label for="selectAlert" class="col-sm-3 control-label" >Select Alert Types *</label>
                            <div class="col-sm-9">
                                    <multiselect ng-model="vccUser.alertType" options="alerts" show-search="true" required></multiselect>
                            </div>
                        </div>
                        <div class="input-group animated fadeI">
                            <label for="selectFrequency" class="col-sm-3 control-label" >Select Frequency of Emails *</label>
                            <div class="col-sm-9">
                                    <multiselect class="freqClass" ng-model="vccUser.freq" options="freqarr" id-prop="freqVal" display-prop="freqText" selection-limit="1" required></multiselect>
                            </div>
                        </div>
                        <div class="input-group animated fadeI">
                            <label for="selectEmails" class="col-sm-3 control-label" >Select Emails *</label>
                            <div class="col-sm-9">
                                    <multiselect ng-model="vccUser.emails" options="myUsers" id-prop="_id" display-prop="email" show-search="true" required></multiselect>
                            </div>
                        </div>
                        <div>
                            <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
                            <input type="text" style="display:none;" ng-model="vccUser.vehicleId" class="form-buttons authInputs" id="vehicleId" />
                            
                        </div>
                        <div class="input-group animated fadeI">
                            <label for="otherEmails" class="col-sm-3 control-label" >Other Emails </label>
                            <div class="col-sm-9">
                                <input type="text" ng-model= "vccUser.otherEmails" class="form-control authInputs" id="otherEmails" placeholder="Enter Other Email Ids" >
                            </div>
                        </div> 
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
</script>