<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button"   ng-click="openModal()">Add Vehicle Tag Details</button>
        </div>
        <div id='jqxWidget'>
            <div id="grid">
            </div>
        </div>
    </div>       
</div>

<!-- PopUp -->
<script type="text/ng-template" id="jqxwindowvehicleTagDetails.html">
<div id='' >
    <div class="tmass-model-header">
        Vehicle Tag Details
    </div>

    <form class="form-horizontal" ng-submit="done(vccUser)" name="myForm" validate>
        <div class="modal-body" >
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="form-group">
                <label for="vehicleAxelConfigurationId" class="col-sm-3 control-label" >Vehicle No*</label>
                <div class="col-sm-9">
                    <select class="form-control authInputs" id="vehicleAxelConfigurationId" required ng-model="vccUser.vehicleAxelConfigurationId">
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in vehicleAxelConfigs" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                    <!-- <input type="text" ng-model= "vccUser.tubeManufacturerName" class="form-control authInputs" id="tubeManufacturerName" placeholder="Enter Tube Manufacturing Name"> -->
                </div>
            </div>
            <div class="form-group">
                <label for="vehicleAxelConfigurationId" class="col-sm-3 control-label" >Position*</label>
                <div class="col-sm-9">
                    <select class="form-control authInputs" id="vehicleAxelConfigurationId" required ng-model="vccUser.vehicleAxelConfigurationId">
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in vehicleAxelConfigs" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                    <!-- <input type="text" ng-model= "vccUser.tubeManufacturerName" class="form-control authInputs" id="tubeManufacturerName" placeholder="Enter Tube Manufacturing Name"> -->
                </div>
            </div>
            <div class="form-group">
                <label for="vehicleAxelConfigurationId" class="col-sm-3 control-label" >TagId*</label>
                <div class="col-sm-9">
                    <select class="form-control authInputs" id="vehicleAxelConfigurationId" required ng-model="vccUser.vehicleAxelConfigurationId">
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in vehicleAxelConfigs" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                    <!-- <input type="text" ng-model= "vccUser.tubeManufacturerName" class="form-control authInputs" id="tubeManufacturerName" placeholder="Enter Tube Manufacturing Name"> -->
                </div>
            </div>
            <div class="form-group">
                <label for="vehicleAxelConfigurationId" class="col-sm-3 control-label" >Tag Assignment Date*</label>
                <div class="col-sm-9">
                    <!-- <input type="text" ng-model= "vccUser.tubeManufacturerName" class="form-control authInputs" id="tubeManufacturerName" placeholder="Enter Tube Manufacturing Name"> -->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Save</button>
            <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
        </div> 
        </form>

    </div>
</script>