<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button" ng-click="openTireTypeModal()">Add Tire Type</button>
        </div>
        <div id='jqxWidget'>
            <div id="tireTypegrid">
            </div>
        </div>
    </div>       
</div>

<script type="text/ng-template" id="tireTypePopup.html">
    <div class="modal-header">
        <h3 class="modal-title">Tire Type</h3>
    </div>

        <form ng-submit="save(vccUser)">
                <div class="modal-body">
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputTireTypeName" class="col-sm-3 control-label" >Name *</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.tireTypeName" required onkeyup="this.value=this.value.replace(/[^a-zA-Z 0-9\n\r]+/g, '')" class="form-control authInputs" id="tireTypeName" placeholder="Enter Tire Type Name">
                </div>
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputTireTypeDesc" class="col-sm-3 control-label" >Description </label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.tireTypeDesc" onkeyup="this.value=this.value.replace(/[^a-zA-Z 0-9\n\r]+/g, '')" class="form-control authInputs" id="tireTypeDesc" placeholder="Enter Tire Type Description">
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit">Save</button>
          <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
        </div>
        </form>

</script>

<!-- PopUp -->
<!-- <div id='jqxwindowTType' >
    <div class="tmass-model-header">
        Tire Type
    </div>
    <div>

    <div class="modal-body" >
        <form class="form-horizontal" name="myForm" validate>
            <div class="input-group animated fadeIn">
                <label for="inputTireTypeName" class="col-sm-3 control-label" >Name *</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.tireTypeName" onkeyup="this.value=this.value.replace(/[^a-zA-Z 0-9\n\r]+/g, '')" class="form-control authInputs" id="tireTypeName" placeholder="Enter Tire Type Name">
                </div>
            </div>
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputTireTypeDesc" class="col-sm-3 control-label" >Description </label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.tireTypeDesc" onkeyup="this.value=this.value.replace(/[^a-zA-Z 0-9\n\r]+/g, '')" class="form-control authInputs" id="tireTypeDesc" placeholder="Enter Tire Type Description">
                </div>
            </div> 
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="done(vccUser)">Save</button>
        <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
    </div>
    </div> -->