<div>
    <div class="row">
        <div class="col-md-12 tmass-table-container">
            <div class="add-row-editable-table">
                <input type="button" style="margin-left: 10px;" ng-disabled="currRole=='System Super Admin'" class="btn btn-secondary tmass-table-button col-sm-2" value="Download Sample file" onClick="window.location.href='../../assets/sampleFiles/PodList.xlsx'"> 
                <button class="btn btn-secondary tmass-table-button col-sm-3" ng-disabled="currRole=='System Super Admin'" ng-click="openModal()">Upload Pod Details</button>
            </div>
            {{tagdetails.TagType}}
            <div id='jqxWidget'>
                <div id="taggrid">
                </div>
            </div>
        </div>       
    </div>
</div>
<!-- PopUp -->
<script type="text/ng-template" id="jqxwindowTagDetail.html">
    <div id="waitMe_ex3">
        <div>
            <div class="tmass-model-header">
                Pod Upload
            </div>
            <form class="form-horizontal" name="myForm">
                <div class="modal-body" >
                <div class="form-group">
                    <label for="inputaddfile" class="col-sm-3 control-label" >Add File *</label>
                    <div class="col-sm-9">
                        <input name="file" accept=".xls,.xlsx" type="file" id="the-file" class="form-control authInputs" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" value="Upload" id="testUpload" name="submit" ng-click="uploadTagDetails()" >Save and Upload</button>
                <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
            </div>
            </form>
        </div>
    </div>
</script>

<script type="text/ng-template" id="jqxwindowviewDetails.html">
    <div id="waitMe_ex4">
    <div>
        <div class="tmass-model-header">
            Pod Details
        </div>
        <form class="form-horizontal" name="myForm">
            <div class="modal-body" >
                <div class="form-group">
                    <div class="col-sm-12" >
                        <div ba-panel ba-panel-title={{selectedTagType}} ba-panel-class="with-scroll table-panel">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                            <!-- <th>SNo</th> -->
                                            <th>Tag Qr Code</th>
                                            <th>Manufactured Date</th>
                                        </tr>
                                        <tr ng-repeat="data in viewTagTypes" class="text-align: left !important;">
                                            <!-- <td style="text-align: inherit !important;">{{ $index }}</td> -->
                                            <td style="text-align: inherit !important;">{{data.tagId}}</td>
                                            <td>{{data.manufacturingDate}}</td>
                                        </tr>
                                    </table>
                                </div>                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                    <div class="row">
                        <!-- {{totalItems}} -->
                        <div class="col-4"><ul style="float:left;padding-left: 15px;" uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged(selectedTagType,currentPage)" style="width:inherit;" items-per-page="10" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul></div>
                        <div class="col-8" style="padding: 15px;"><button style="float:right" type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Close</button></div>
                    </div>              
            </div>
            </form>
        </div>
    </div>
</script>