<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button" ng-click="openModal()">Add Operation Mapping</button>
        </div>
        <div id='jqxWidget'>
            <div id="operationgrid">
            </div>
        </div>
    </div>       
</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Operations Mapping</h3>
    </div>

        <form ng-submit="done(vccUser)" validate>
                <div class="modal-body">
            <div class="input-group animated fadeIn">
                <label for="inputOperationName" class="col-sm-3 control-label" >Name *</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.operationName" class="form-control authInputs" id="operationName" placeholder="Enter Operation Name" required/>
                </div>
            </div>
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputOperationNameToDisplay" class="col-sm-3 control-label" >Name To Display *</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.operationNameToDisplay" class="form-control authInputs" id="operationNameToDisplay" placeholder="Enter Operation Name To Display" required/>
                </div>
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputIsMenu" class="col-sm-3 control-label" > Is Menu *</label>
                <div class="col-sm-9">
                    <select class="form-control authInputs" id="isMenu" ng-model="vccUser.isMenu"
                    ng-options="o.v as o.n for o in [{ n: 'False', v: false }, { n: 'True', v: true }]" required>
                    <option value="">Select</option>
                    </select>
                </div> 
            </div>
            <div class="input-group animated fadeIn">
                <label for="inputIsScreen" class="col-sm-3 control-label" > Is Screen *</label>
                <div class="col-sm-9">
                        <select class="form-control authInputs" id="isScreen" ng-model="vccUser.isScreen"
                        ng-options="o.v as o.n for o in [{ n: 'False', v: false }, { n: 'True', v: true }]" required>
                        <option value="">Select</option>
                        </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit">Save</button>
          <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
        </div>
        </form>

</script>