//All Icons Scss
.iconHome{
    background: url(../assets/img/icons/Home.svg);
    background-size: cover;
    width: 33px !important;
    height: 33px;
    margin-top: 3px;
    margin-right: 10px !important;
}
.icoDash{
    background: url(../assets/img/icons/dashb1.svg);
    background-size: cover;
    width: 33px !important;
    height: 33px;
    margin-top: 3px;
    margin-right: 10px !important;
}
.icoMasters{
    background: url(../assets/img/icons/Masters.svg);
    background-size: cover;
    width: 33px !important;
    height: 33px;
    margin-top: 3px;
    margin-right: 10px !important;
}
.icoReports{
    //background: url(../assets/img/icons/Reports.svg);
    background: url(../assets/img/icons/report.svg);
    background-size: cover;
    width: 33px !important;
    height: 33px;
    margin-top: 3px;
    margin-right: 10px !important;
}
.icoAlerts{
    background: url(../assets/img/icons/alarm.svg);
    background-size: cover;
    width: 33px !important;
    height: 33px;
    margin-top: 3px;
    margin-right: 10px !important;
}
.icoSettings{
    background: url(../assets/img/icons/settings_1.svg);
    background-size: cover;
    width: 33px !important;
    height: 33px;
    margin-top: 3px;
    margin-right: 10px !important;
}
.icoTPMSView{
    background: url(../assets/img/icons/TPMS_withouttext.png);
    background-size: cover;
    width: 33px !important;
    height: 33px;
    margin-top: 3px;
    margin-right: 10px !important;
}
.icoMsg{
    background: url(../assets/img/icons/Mail.svg);
    background-size: cover;
    width: 33px !important;
    height: 33px;
    margin-top: 3px;
    margin-right: 10px !important;
}
//End of all Icons Scss

a.al-sidebar-list-link span{
    vertical-align: top;
    font-size: large;
}

form.form-buttons.form-inline{
	width: 150px;
    padding: 3px;
}

span.editable-wrap.editable-text{
    width:100%;
}

.btn:hover {
    transform: inherit;
}

.form-control.authInputs {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px !important;
    color: #ffffff;
    border-color: #c2c0ca;
}

.form-control.authInputs:focus {
    box-shadow: none;
    border-color: #ef472f !important;
    background: rgba(0, 0, 0, 0.15);
}

.mycheckbox {
    margin-top: 1px !important;
}

 .remberme{
     color: #8a8b8e;
 }
 
 a.pull-right.auth-block:hover {
    color: #3ca9e2;
}
a.pull-right.auth-block {
    color: #3ca9e2;
}
.login-form {
    width: 340px;
    margin: 80px auto;
}
.login-form form {
    margin-bottom: 15px;
    border-radius: 0px !important;
    background: rgba(255, 255, 255, 0);
    color: #fff;
    box-shadow: 0px 35px 47px 11px #000000;
    padding: 32px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
        background: #dc3626;
    border-color: #dc3626;
}

label.checkbox-label input[type=checkbox]{
    position: relative;
    vertical-align: middle;
    bottom: 1px;
}

.imgBorder{
    margin-bottom: 50px;
    padding-left: 5px;
}
.otherGroup{
    margin-top: 35px;
}

.underline{
    border-bottom: 3px #dc3626 solid;
}
.brocurecss{
    margin-top: 20px;
}

@font-face {
    font-family: 'Exo-Regular'; /*a name to be used later*/
    src: url(../assets/fonts/Exo-Regular.ttf); /*URL to font*/
  }
  .p{
    font-family: 'Exo-Regular' !important;
  }
  body {
    font-family: 'Exo-Regular' !important; 
}
 
.modalformContent {
    background:rgba(19, 18, 18, 0.93) !important;
    transition: none;
    background-attachment: fixed;
    border: solid 1px rgb(67, 69, 72);
}
.modal-footer{
    padding: 15px !important;
    text-align: right;
    border-top: 1px solid rgb(67, 69, 72) !important;
}
.modal-header {
    padding: 15px !important;
    border-bottom: 1px solid rgb(67, 69, 72) !important;
}
.modal-header .modal-title {
    color: #FFF;
}
.tmass-model-header{
    padding: 15px;    
    color: #FFF;
    background-color: #252830; 
    font-size: 20px;
    border-bottom: 1px solid rgb(67, 69, 72) !important;
}
.tmass-table-container{
    background: rgba(19, 18, 18, 0.71); 
    padding: 25px;
}
.tmass-table-container{
    background: rgba(19, 18, 18, 0.71); 
    padding: 25px;
}
.tmass-table-button{
    float: right;
    margin-bottom: 1%;
}

 //for disabled dropdown
 .form-control[disabled]{
    background-color: rgb(99, 100, 103) !important;
 }
 //for select box background
 select option {
    margin: 40px;
    background: rgb(3, 3, 3);
    color: #fff;
    text-shadow: 0 1px 0 rgb(0, 0, 0);
}

//alertify

.alertify {
    position: fixed;
    background-color: rgba(0,0,0,.3);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: black !important;
    width: 100%;
    height: 100%;
    z-index: 9999 !important;
}

.modalInnerbody{
    height: 450px !important;
    overflow: auto !important;
}

p.msg {
    background: #dc3626;
    color: white;
    font-weight: 600;
}

.hide-control{
    display: none;
}

.al-footer {
    padding: 0 18px 0 230px !important;
}

.jqx-grid-column-header > div > div > span[style] { /*Cause header text to wrap to new line rather than be truncated*/
    white-space: normal;
}

span#jqxWidget302be6c24f0e{
    display: none;
}

.form-control.authInputs::-webkit-inner-spin-button, 
.form-control.authInputs::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.modal .modal-header {
    border-color: rgb(37, 40, 48);
    color: rgb(255, 255, 255);
    background-color: rgb(37, 40, 48);
}

.modal .modal-footer{
    border-color: rgb(37, 40, 48);
    color: rgb(255, 255, 255);
    background-color: rgb(37, 40, 48);
}

.modal .modal-body{
    border-color: #252830;
    color: rgb(255, 255, 255);
    background-color: rgb(37, 40, 48);
}
.modal .modal-dialog .form-control{
    color:rgb(255, 255, 255) !important;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

  .modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}

.grid {
    width: 100%;
    //min-height: 370px;
    height:auto;
}

.ui-grid-pager-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #131313;
    width: 100%;
    border-color: rgba(19, 18, 18, 0.71);;
    border: 1px solid rgba(19, 18, 18, 0.71);;
    padding-top: 3px;
    padding-bottom: 3px;
    box-sizing: content-box;
}

.grid-align {
    text-align: center;
    vertical-align: middle;
}
.ui-grid-header-cell {   text-align: center; }

.ui-grid-header {
    border-bottom: 1px solid rgba(19, 18, 18, 0.71);;
    box-sizing: border-box;
    padding: 5px;
}

// .ui-grid {
//     height: auto;
//      .ui-grid-viewport {
//        height: 100% !important;
//      }
//    }

.ui-grid-viewport .ui-grid-cell-contents {
    word-wrap: break-word;
    white-space: normal !important;
  }
  
  .ui-grid-row, .ui-grid-cell {
    height: auto !important;
  }
  
  .ui-grid-row div[role=row] {
    display: flex ;
    align-content: stretch;
  }

.input-group.animated.fadeIn {
    color: rgb(204, 193, 193) !important;
    
}

.modal-header .modal-title {
    color: rgb(254, 254, 254);
}

.mymodalbodyheight{
    height: 450px;
    overflow: auto;
}

// .alertify .alert{
//     left: -25px;
//     //top: -25px;
//     box-shadow: inset 0 0 0 200px rgba(255,255,255,0.3);
//     background: inherit;
// }

.alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button) {
    border: 1px solid rgba(0, 0, 0, 0.09) !important;
    box-shadow: 3px -2px 0px 0px rgba(0,0,0,.14), 2px 0px 0px 0px rgba(0,0,0,.098), 0 1px 0px 0px rgba(0,0,0,.084);
    background: rgba(255, 255, 255, 0.459);
}

.alertify .dialog>*{
    background-color:rgba(146, 130, 130, 0.859) !important;
    box-shadow: 3px -2px 19px 15px rgba(0,0,0,.14), 0 4px 20px 20px rgba(0,0,0,.098), 0 1px 10px 11px rgba(0,0,0,.084) !important;
}

.panel-default > .panel-heading {
    background: #DC3626;
    color: rgb(255, 255, 255) !important;
    border-bottom: 1px solid rgb(10, 10, 10) !important;
}

.panel-heading{
    border-radius: 0px !important;
}

.childAccordian.panel.ng-scope.ng-isolate-scope.panel-default div{
    background-color: rgba(220, 55, 40, 0.071) !important;
}

//horizontal rules
.hrrules {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

//multi select
.multiSelect .line {
    padding: 2px 0px 4px 0px;
    height: 30px !important;
    overflow: hidden;
    box-sizing: content-box;
}

.multiSelect > button {
    display: inline-block;
    position: relative;
    text-align: center;
    cursor: pointer;
    border: 1px solid #c6c6c6;
    padding: 1px 8px 1px 8px;
    font-size: 14px;
    min-height: 38px !important;
    border-radius: inherit;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    white-space: normal;
    background-color: #252830 !important;
    background-image: none;
}

.multiSelect .checkboxLayer {
    background-color: #252830;
    position: absolute;
    z-index: 999;
    border: 1px solid rgba(249, 249, 249, 0.3);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    min-width: 278px;
}

.multiSelect > button:hover {
    background-image: none;
    //color: rgb(255, 255, 255);
}

.modal .modal-dialog .modal-body div{
    color: rgb(255, 255, 255) !important;
}

.modal .modal-dialog .modal-body p, .modal .modal-dialog .modal-body div, .modal .modal-dialog .modal-body span {
    color: rgb(255, 255, 255) !important;
}
.multiSelect .multiSelectItem:not(.multiSelectGroup).selected{
    color: rgb(7, 7, 7) !important;
}

.multiSelect .multiSelectItem:not(.multiSelectGroup).selected {
    background-image: linear-gradient( rgba(233, 233, 233, 0.18), rgba(241, 241, 241, 0.522) );
    color: rgb(85, 85, 85);
    cursor: pointer;
    border-top: 1px solid rgb(228, 228, 228);
    border-left: 1px solid rgb(228, 228, 228);
    border-right: 1px solid rgb(217, 217, 217);
}

//validation msg
.validMsg{
    text-align: left !important;
    font-weight: bold !important;
    color: red !important;
}

//kirans changes
#tireDiv.fullscreen{
    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 74px; 
    left: 0; 
    background:rgba(19, 18, 18, 0.993);
 }
#alertDiv.fullscreen{
    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 74px; 
    left: 0; 
    background:rgba(19, 18, 18, 0.993);
 }
 #vehicleDiv.fullscreen{
    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 74px; 
    left: 0; 
    background:rgba(19, 18, 18, 0.993);
 }
 #performanceDiv.fullscreen {
    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 74px; 
    left: 0; 
    background:rgba(19, 18, 18, 0.993);
 }
 //#myDiv{background:rgba(19, 18, 18, 0.993);}

// css for panel heading and fullscreen icon
 .panel-actions {
    margin-top: -20px;
    margin-bottom: 0;
    text-align: right;
  }
  .panel-actions a {
    color:rgb(245, 239, 239);
  }

  .panel-heading {
    background:rgb(220, 54, 38);
}


//horizontal rules
.hrrules {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.errorMsg{
    color: red !important;
    font-weight: bold;
    margin-top: 5px;
}

//datepicker css
._720kb-datepicker-calendar-header:nth-child(odd) {
    background: rgb(220, 54, 38);
}._720kb-datepicker-calendar-day{
    color:black;
}
.modal .modal-dialog .modal-body div ._720kb-datepicker-calendar-days-header div {
    width: 14.18%;
    font-weight: 500;
    font-size: 11.5px;
    padding: 10px 0;
    float: left;
    text-align: center;
    color: rgba(0,0,0,0.7) !important;
}
.panel {
    box-shadow: none !important;
}
.panel.panel-blur {
    background: none !important;
}

//css for auto complete
.autoCompleteDropdown{
    background-color: transparent;
    border-radius: 0px !important;
    color: #ffffff;
    border-color: rgb(231, 231, 231);
    width: 100%;
    padding: 10px;
    min-height: 38px;
}

input#ex1_value {
    background-color: transparent;
    border-radius: 0px !important;
    color: rgb(255, 255, 255);
    border-color: rgb(231, 231, 231);
    width: 100%;
    padding: 10px;
    min-height: 38px;
}
div#ex1_dropdown{
    background-color: transparent;
    border-radius: 0px !important;
    color: rgb(255, 255, 255);
    margin-top: -1px;
    border: 1px solid;
    width: 100%;
    padding: 10px;
    min-height: 38px;
    border-left-color: white;
    border-right-color: white;
    border-bottom-color: white;
}
//End css for auto complete drop

.dashBoardtableScroll{
    //overflow-x: scroll;
    height: 181px;
}

.pdf-Header{
    font-weight: bold;
    margin:10px; 
}

.hideheader{
    div#tireDashb1 > .panel-heading {
        display: none;
    }
    div#vehicleDashb1 > .panel-heading {
        display: none;
    }
    div#performanceDashb1 > .panel-heading {
        display: none;
    }
    div#alertDashb1 > .panel-heading {
        display: none;
    }
    .row {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .panel-default>.panel-heading+.panel-collapse>.panel-body {
        border-top-color: none; 
    }
}

.donutandpiechart{
    .panel.with-scroll .panel-body {
        //height: calc(100% - 44px);
        overflow-y: inherit !important;
    }
}
.circle{
    width: 80%;
    border-radius: 50%;
    text-align: center;
    font-size: 28px;
    padding: 41% 0;
    line-height: 0;
    position: relative;
    background: #38a9e4;
    color: white;
    font-family: Helvetica, Arial Black, sans;
    margin-left: 10%;
  }

  .top-right-class{
    top: 68px;
    margin: 0 auto;
    right: 0px;
  }

  ul.dropdown-menu.dropdown-menu-form {
    background: black;
    color: white;
    border: solid 1px grey;
    max-height: 200px;
  }
  ul.dropdown-menu.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #fbfbfb;
    white-space: nowrap;
}
ul.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #f5f5f5;
    text-decoration: none;
    background-color: #262626;
}

.dropdown-menu .divider {
    height: 1px;
    /* margin: 45px 0; */
    margin-top: 45px;
    overflow: hidden;
    background-color: #e5e5e5;
}

.top-dropdown-menu.profile-dropdown {
    background: #15171a;
    border: 1px solid #ffffff54;
}

.top-dropdown-menu.profile-dropdown:hover {
    background: #15171a;
    border: 1px solid #ffffff54;
}
.top-dropdown-menu.profile-dropdown a:hover {
    background: #15171a !important;
}

button.btn.dropdown-toggle.ng-binding.btn-block.btn-default {
    text-align: left;
}
span.caret {
    float: right;
    margin-top: 1%;
}
.panel-body{
    height: inherit !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.well {
    padding: 7px !important;
    background-color: transparent  !important;
    border: 1.5px solid #25711f !important;
    font-weight: bold;
    width: 150px;
  }
  .tmass-high-temp-prs{
    padding: 7px !important;
    color:red;
    font-weight: bold;
    background-color: transparent  !important;
    border: 1.5px solid red !important;
    width: 150px;
  }
  .w3-display-right {
    left: 90%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
  }

  //////////////////////////////////////////Multiple tpms View STYLES
//   .navbar {
//     padding: 5px 2px;
//     background: #fff;
//     border: none;
//     border-radius: 0;
//    margin-bottom: 40px; 
//     box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
// }

// .navbar-btn {
//     box-shadow: none;
//     outline: none !important;
//     border: none;
// }

// .line {
//     width: 100%;
//     height: 1px;
//     border-bottom: 1px dashed #ddd;
//     margin: 40px 0;
// }

// /* ---------------------------------------------------
//     SIDEBAR STYLE
// ----------------------------------------------------- */
// .wrapper {
//     display: flex;
//     align-items: stretch;
// }

// #sidebar {
//     min-width: 250px;
//     max-width: 250px;
//     background: #dc3636;
//     color: #fff;
//     transition: all 0.3s;
// }

// #sidebar.active {
//     margin-left: -250px;
// }

// #sidebar .sidebar-header {
     
//     padding-top: 20px;
//     padding-right: 0px;
//     padding-bottom: 0px;
//     padding-left: 0px;
//     background: #dc3636;
// }

// #sidebar ul.components {
//     padding-top: 20px;
//     padding-right: 0px;
//     padding-bottom: 0px;
//     padding-left: 0px;
     
// }

// #sidebar ul p {
//     color: #fff;
//     padding: 10px;
// }

// #sidebar ul li a {
//     padding: 10px;
//     font-size: 1.1em;
//     display: block;
// }

// #sidebar ul li a:hover {
//     /* color: #7386D5;
//     background: #fff; */
//     color: rgb(220, 54, 38);
//     background: rgba(117, 116, 116, 0.502);
// }

// #sidebar ul li.active > a, a[aria-expanded="true"] {
//     color: #fff;
//     background: #dc3636;
// }

// a[data-toggle="collapse"] {
//     position: relative;
// }

// nav.navbar.navbar-default{
//     margin-bottom: 0px;
//     background-color: rgba(0, 0, 0, 0.5);
//     border-color: rgba(0, 0, 0, 0.6); 
//     /* background-color: rgb(220, 54, 38);
//     border-color: rgb(158, 18, 4); */
// }
// b.ng-binding {
//   color: #FFFFFF;
// }
 
// #sidebar ul li.active > a, a[aria-expanded="true"] {
//     color: #fff;
//     background: #463c3c;
// }

// nav#sidebar {
//     background: rgba(0, 0, 0, 0.5);
//     margin-left: -20px;
// }

// // input[type=text] {
// //   color: #FFF;
// //     width: 220px;
// //     box-sizing: border-box;
// //     border: 0.5px solid #ccc;
// //     border-radius: 4px;
// //     font-size: 16px;
// //     background-color: rgba(0, 0, 0, 0.26);
// //     background-image: url("../../assets/img/imgtpms/search-icon.png");
// //     background-position: 10px 10px; 
// //     background-repeat: no-repeat;
// //   padding: 12px 20px 12px 40px; 
  
// //     -webkit-transition: width 0.4s ease-in-out;
// //     transition: width 0.4s ease-in-out;
// // }

// li.list-group-item{
//     background-color: rgba(0, 0, 0, 0.3);
//     padding: 0px 0px;
//     border: 0.5px solid rgba(96, 93, 93, 0.5);
// }

// a{
//       color: #FFF ;   
//       font-weight: 50; 
// }

// a.ng-binding{
//   color: #FFF;
// }
// .pull-right {
// 	float: right !important;
// }

// /* .container{
// 	display:inline-flex;
// 	flex-wrap:wrap;
// 	border:1px solid black;
// } */

// .flex-direction{
// 	flex-direction:row;
// }


.selected {
	//background-color: rgba(255, 255, 255, 0.08) !important;
	color: #dc3636 !important;
}

///////////////////////////////////////////////End of Multiple Tpms View Styles