<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button"   ng-click="openModal()">Add Tube Qty Assignment Detail</button>
        </div>
        <div id='jqxWidget'>
            <div id="grid">
            </div>
        </div>
    </div>       
</div>

<!-- PopUp -->
<script type="text/ng-template" id="jqxwindowTubeQtyAssignDetail.html">
<div id='' >
    <div class="tmass-model-header">
        Tube Quantity Assignment Detail
    </div>
    <div>

        <form class="form-horizontal" name="myForm" ng-submit="done(vccUser)" validate>
                <div class="modal-body" >
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="form-group">
                <label for="inputtubeTypeName" class="col-sm-3 control-label" >Tube Qty Assignment*</label>
                <div class="col-sm-9">
                    <select class="form-control authInputs" id="tubeQtyAssignmentId" ng-model="vccUser.tubeQtyAssignmentId" required>
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in tubeQtyAssign" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="inputtubeSizeName" class="col-sm-3 control-label" >Tube Size Name *</label>
                <div class="col-sm-9">
                    <select class="form-control authInputs" id="tubeSizeId" ng-model="vccUser.tubeSizeId" required>
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in tubeSizes" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                </div>
            </div> 
            <div class="form-group">
                <label for="inputtubeManufacturerName" class="col-sm-3 control-label" >Manufacturer Name *</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.tubeManufacturer" class="form-control authInputs" id="tubeManufacturer" placeholder="Enter Manufacturer Name" required/>
                    <!-- <select class="form-control authInputs" id="tubeManufacturerId" ng-model="vccUser.tubeManufacturerId" required>
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in tubeManufacturers" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select> -->
                </div>
            </div>
            <div class="form-group">
                <label for="inputtagQty" class="col-sm-3 control-label" >Tag Quantity *</label>
                <div class="col-sm-9">
                    <input type="number" ng-model= "vccUser.tagQty" class="form-control authInputs" id="tagQty" placeholder="Enter Tube Tag Quantity" required/>
                </div>
            </div>
            <div class="form-group">
                    <label for="inputtubeModel" class="col-sm-3 control-label" >Tube Model *</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model= "vccUser.tubeModel" onkeyup="this.value=this.value.replace(/[^a-zA-Z 0-9\n\r]+/g, '')" class="form-control authInputs" id="tubeModel" placeholder="Enter Tube Model" required>
                    </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Save</button>
            <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
        </div> 
        </form>

    </div>
</div>
</script>