<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button"  ng-click="openModal()">Add Tag Type</button>
        </div>
        <div id='jqxWidget'>
            <div id="tagTypegrid">
            </div>
        </div>
    </div>       
</div>
<!-- PopUp -->
<script type="text/ng-template" id="jqxwindowTagType.html">
<div>
    <div class="tmass-model-header">
        Tag Type
    </div>
    <form class="form-horizontal"  ng-submit="save(vccUser)"  name="myForm" validate>
            <div class="modal-body" >
            <div class="form-group">
                <label for="inputtagType" class="col-sm-3 control-label" >Type *</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.TagType" class="form-control authInputs" id="TagType" placeholder="Enter Tag Type" required>
                </div>
            </div>
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="form-group">
                <label for="inputTagTypeName" class="col-sm-3 control-label" >Name *</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.TagTypeName" class="form-control authInputs" id="TagTypeName" placeholder="Enter Tag Type Name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputtagTypeDescr" class="col-sm-3 control-label" > Description</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.TagTypeDescription" class="form-control authInputs" id="TagTypeDescription" placeholder="Enter Tag Type Description">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
        </div>
        </form>
    </div>

</script>
  