  <div class="login-form" ng-controller="resetPasswordCtrl as resetVm">
    <form ng-submit="resetVm.resetpass()">
        <div class="form-group">
          <div class="col-sm-12 text-center imgBorder">
            <img src="../../../assets/img/logo/logo_white.png" alt="Logo" class="authLogo">
          </div>
        </div>
        <div class="form-group">
          <input type="email" class="form-control authInputs" ng-model="resetVm.user" placeholder="Email Address" required="required" disabled>
        </div>
        <div class="form-group">
          <label value="or" style="width: 100%;" class="text-center">Or</label>
        </div>
        <div class="form-group">
            <input class="form-control authInputs" type="tel"  title="Phone number with 9 and remaing 9 digit with 0-9" minlength="10" maxlength="10" class="form-control" ng-model="resetVm.mobile" id="mobile" placeholder="Mobile xxxxxxxxxx" disabled>
        </div>
        <div class="form-group">
            <input type="number" ng-model="resetVm.otp" id="otp" class="form-control authInputs" placeholder="Enter Otp" required="required">
        </div>
        <div class="form-group">
          <input class="form-control authInputs" type="password" ng-model="resetVm.password" id="password" placeholder="Password" required="required">
        </div>
        <!-- <div class="form-group">
            <input class="form-control authInputs" type="password" ng-model="resetVm.confirmpassword" id="confirmpassword" placeholder="Confirm Password" required="required">
            <span class="errorMsg" ng-show="samepass==true">Both Password should be same</span>
        </div> -->
        <div class="form-group">
            <button type="submit" class="btn btn-block">RESET PASSWORD</button>
        </div>
        <div class="clearfix otherGroup">
          <a href="#" class="pull-right auth-block" ui-sref="forgotPassword" >Go to Forgot Password</a>
        </div>   
    </form>
  </div>