<div class="row">
        <div class="col-md-12 tmass-table-container">
                    <uib-accordion>
                      <uib-accordion-group is-open="status.open" id="alertDashb1">
                          <uib-accordion-heading>
                                Alert Dashboard <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i>
                              </uib-accordion-heading>
                          <uib-accordion>
                            <uib-accordion-group class="childAccordian" is-open="statusvehicleTotal.open">
                              <uib-accordion-heading>
                                    Total Alert <i class="pull-right glyphicon" style="float:right;" ng-class="{'glyphicon-minus': statusvehicleTotal.open, 'glyphicon-plus': !statusvehicleTotal.open}"></i> : {{alertDashboard.totalAlert}}
                              </uib-accordion-heading>
                                  <p ng-show="alertDashboard.totalAlert==0"> No data To display</p>
                                    <div id="buttonRow" ng-show="alertDashboard.totalAlert!=0">
                                        <input  type="button" value="Print" style="color:black;"  ng-click="demoFromHTML11('totalAlert')"></input>
                                        <input type="button" style="color:black;" value="Download PDF" ng-click="demoFromHTML('totalAlert')" />
                                        <input type="button" style="color:black;" ng-click="exportData('totalAlert');" value="Download xls" /> 
                                        <input type="button" style="color:black;" ng-click="sendMail('totalAlert');" value="Send Email" />
                                    </div>
                                  <div ng-show="alertDashboard.totalAlert!=0" class="table-responsive dashBoardtableScroll" id="totalAlert">
                                    <table class="table" border-collapse:"collapse" border="1" cellpadding="3" id="configuredtireTable">
                                        <tr>
                                            <th>Vehicle No</th>
                                            <th>Position</th>
                                        </tr>
                                        <tr ng-repeat="data in alertDashboard.totalAlertArr" style="text-align: left !important;">
                                            <td style="text-align: inherit !important;">{{data.vehicleNo}}</td>
                                            <td>{{data.positionId}}</td>
                                        </tr>
                                    </table>
                                 </div>
                            </uib-accordion-group>
                            <uib-accordion-group class="childAccordian" is-open="statusvehicle2.open">
                                <uib-accordion-heading>
                                    Rotation Alert <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': statusvehicle2.open, 'glyphicon-plus': !statusvehicle2.open}"></i> : {{alertDashboard.tireRotation}}</b>
                                </uib-accordion-heading>
                                    <p ng-show="alertDashboard.tireRotation==0"> No data To display</p>
                                    <div id="buttonRow" ng-show="alertDashboard.tireRotation!=0">
                                        <input  type="button" value="Print" style="color:black;"  ng-click="demoFromHTML11('tireRotation')"></input>
                                        <input type="button" style="color:black;" value="Download PDF" ng-click="demoFromHTML('tireRotation')" />
                                        <input type="button" style="color:black;" ng-click="exportData('tireRotation');" value="Download xls" /> 
                                        <input type="button" style="color:black;" ng-click="sendMail('tireRotation');" value="Send Email" />
                                    </div>
                                  <div ng-show="alertDashboard.tireRotation!=0" class="table-responsive dashBoardtableScroll" id="tireRotation">
                                    <table class="table" border-collapse:"collapse" border="1" cellpadding="3" id="configuredtireTable">
                                        <tr>
                                            <th>Vehicle No</th>
                                            <th>Position</th>
                                        </tr>
                                        <tr ng-repeat="data in alertDashboard.tireRotationArr" style="text-align: left !important;">
                                            <td style="text-align: inherit !important;">{{data.vehicleNo}}</td>
                                            <td>{{data.positionId}}</td>
                                        </tr>
                                    </table>
                                 </div>
                            </uib-accordion-group>
                            <uib-accordion-group class="childAccordian" is-open="statusvehicle3.open">
                              <uib-accordion-heading>
                                  Remould Alert <i class="pull-right glyphicon" style="float:right;" ng-class="{'glyphicon-minus': statusvehicle3.open, 'glyphicon-plus': !statusvehicle3.open}"></i> : {{alertDashboard.tireRemold}}</b>
                              </uib-accordion-heading>
                                  <p ng-show="alertDashboard.tireRemold==0"> No data To display</p>
                                    <div id="buttonRow" ng-show="alertDashboard.tireRemold!=0">
                                        <input  type="button" value="Print" style="color:black;"  ng-click="demoFromHTML11('tireRemold')"></input>
                                        <input type="button" style="color:black;" value="Download PDF" ng-click="demoFromHTML('tireRemold')" />
                                        <input type="button" style="color:black;" ng-click="exportData('tireRemold');" value="Download xls" /> 
                                        <input type="button" style="color:black;" ng-click="sendMail('tireRemold');" value="Send Email" />
                                    </div>
                                  <div ng-show="alertDashboard.tireRemold!=0" class="table-responsive dashBoardtableScroll" id="tireRemold">
                                    <table class="table" border-collapse:"collapse" border="1" cellpadding="3" id="configuredtireTable">
                                        <tr>
                                            <th>Vehicle No</th>
                                            <th>Position</th>
                                        </tr>
                                        <tr ng-repeat="data in alertDashboard.tireRemoldArr" style="text-align: left !important;">
                                            <td style="text-align: inherit !important;">{{data.vehicleNo}}</td>
                                            <td>{{data.positionId}}</td>
                                        </tr>
                                    </table>
                                 </div>
                            </uib-accordion-group>
                            <uib-accordion-group class="childAccordian" is-open="statusvehicle4.open">
                                <uib-accordion-heading>
                                    Maintainance Alert <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': statusvehicle4.open, 'glyphicon-plus': !statusvehicle4.open}"></i> : {{alertDashboard.treadDepthBasedMaintenance}}</b>
                                </uib-accordion-heading>
                                    <p ng-show="alertDashboard.treadDepthBasedMaintenance==0"> No data To display</p>
                                    <div id="buttonRow" ng-show="alertDashboard.treadDepthBasedMaintenance!=0">
                                        <input  type="button" value="Print" style="color:black;"  ng-click="demoFromHTML11('treadDepthBasedMaintenance')"></input>
                                        <input type="button" style="color:black;" value="Download PDF" ng-click="demoFromHTML('treadDepthBasedMaintenance')" />
                                        <input type="button" style="color:black;" ng-click="exportData('treadDepthBasedMaintenance');" value="Download xls" /> 
                                        <input type="button" style="color:black;" ng-click="sendMail('treadDepthBasedMaintenance');" value="Send Email" />
                                    </div>
                                  <div ng-show="alertDashboard.treadDepthBasedMaintenance!=0" class="table-responsive dashBoardtableScroll" id="treadDepthBasedMaintenance">
                                    <table class="table" border-collapse:"collapse" border="1" cellpadding="3" id="configuredtireTable">
                                        <tr>
                                            <th>Vehicle No</th>
                                            <th>Position</th>
                                        </tr>
                                        <tr ng-repeat="data in alertDashboard.treadDepthBasedMaintenanceArr" style="text-align: left !important;">
                                            <td style="text-align: inherit !important;">{{data.vehicleNo}}</td>
                                            <td>{{data.positionId}}</td>
                                        </tr>
                                    </table>
                                 </div>
                            </uib-accordion-group>
                            <uib-accordion-group class="childAccordian" is-open="statusvehicle5.open">
                              <uib-accordion-heading>
                                   Tire Removal Alert <i class="pull-right glyphicon" style="float:right;" ng-class="{'glyphicon-minus': statusvehicle5.open, 'glyphicon-plus': !statusvehicle5.open}"></i> : {{alertDashboard.tireRemoval}}</b>
                              </uib-accordion-heading>
                                  <p ng-show="alertDashboard.tireRemoval==0"> No data To display</p>
                                    <div id="buttonRow" ng-show="alertDashboard.tireRemoval!=0">
                                        <input  type="button" value="Print" style="color:black;"  ng-click="demoFromHTML11('tireRemoval')"></input>
                                        <input type="button" style="color:black;" value="Download PDF" ng-click="demoFromHTML('tireRemoval')" />
                                        <input type="button" style="color:black;" ng-click="exportData('tireRemoval');" value="Download xls" /> 
                                        <input type="button" style="color:black;" ng-click="sendMail('tireRemoval');" value="Send Email" />
                                    </div>
                                  <div ng-show="alertDashboard.tireRemoval!=0" class="table-responsive dashBoardtableScroll" id="tireRemoval">
                                    <table class="table" border-collapse:"collapse" border="1" cellpadding="3" id="configuredtireTable">
                                        <tr>
                                            <th>Vehicle No</th>
                                            <th>Position</th>
                                        </tr>
                                        <tr ng-repeat="data in alertDashboard.tireRemovalArr" style="text-align: left !important;">
                                            <td style="text-align: inherit !important;">{{data.vehicleNo}}</td>
                                            <td>{{data.positionId}}</td>
                                        </tr>
                                    </table>
                                 </div>
                            </uib-accordion-group>
                            <uib-accordion-group class="childAccordian" is-open="statusvehicle6.open">
                                <uib-accordion-heading>
                                    Tag Tampering Alert <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': statusvehicle6.open, 'glyphicon-plus': !statusvehicle6.open}"></i> : {{alertDashboard.tagTampering}}</b>
                                </uib-accordion-heading>
                                    <p ng-show="alertDashboard.tagTampering==0"> No data To display</p>
                                    <div id="buttonRow" ng-show="alertDashboard.tagTampering!=0">
                                        <input  type="button" value="Print" style="color:black;"  ng-click="demoFromHTML11('tagTampering')"></input>
                                        <input type="button" style="color:black;" value="Download PDF" ng-click="demoFromHTML('tagTampering')" />
                                        <input type="button" style="color:black;" ng-click="exportData('tagTampering');" value="Download xls" /> 
                                        <input type="button" style="color:black;" ng-click="sendMail('tagTampering');" value="Send Email" />
                                    </div>
                                  <div ng-show="alertDashboard.tagTampering!=0" class="table-responsive dashBoardtableScroll" id="tagTampering">
                                    <table class="table" border-collapse:"collapse" border="1" cellpadding="3" id="configuredtireTable">
                                        <tr>
                                            <th>Vehicle No</th>
                                            <th>Position</th>
                                        </tr>
                                        <tr ng-repeat="data in alertDashboard.tagTamperingArr" style="text-align: left !important;">
                                            <td style="text-align: inherit !important;">{{data.vehicleNo}}</td>
                                            <td>{{data.positionId}}</td>
                                        </tr>
                                    </table>
                                 </div>
                            </uib-accordion-group>
                            <uib-accordion-group class="childAccordian" is-open="statusvehicle8.open">
                                <uib-accordion-heading>
                                   HP/ LP/ HT <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': statusvehicle8.open, 'glyphicon-plus': !statusvehicle8.open}"></i> : {{alertDashboard.hltcount}}</b>
                                </uib-accordion-heading>
                                    <p ng-show="alertDashboard.hltcount==0"> No data To display</p>
                                    <div id="buttonRow" ng-show="alertDashboard.hltcount!=0">
                                        <input  type="button" value="Print" style="color:black;"  ng-click="demoFromHTML11('hltcount')"></input>
                                        <input type="button" style="color:black;" value="Download PDF" ng-click="demoFromHTML('hltcount')" />
                                        <input type="button" style="color:black;" ng-click="exportData('hltcount');" value="Download xls" /> 
                                        <input type="button" style="color:black;" ng-click="sendMail('hltcount');" value="Send Email" />
                                    </div>
                                  <div ng-show="alertDashboard.hltcount!=0" class="table-responsive dashBoardtableScroll" id="hltcount">
                                    <table class="table" border-collapse:"collapse" border="1" cellpadding="3" id="configuredtireTable">
                                        <tr>
                                            <th>Vehicle No</th>
                                            <th>Position</th>
                                            <th>High Pressure</th>
                                            <th>Low Pressure</th>
                                            <th>High Temperature</th>
                                        </tr>
                                        <tr ng-repeat="data in alertDashboard.hlt" style="text-align: left !important;">
                                            <td style="text-align: inherit !important;">{{data.vehicleNo}}</td>
                                            <td>{{data.positionId}}</td>
                                            <td>{{data.highPressureCount}}</td>
                                            <td>{{data.lowPressureCount}}</td>
                                            <td>{{data.highTemperatureCount}}</td>
                                        </tr>
                                    </table>
                                 </div>
                            </uib-accordion-group>
                        </uib-accordion>
                        </uib-accordion-group>
                      </uib-accordion>
        </div>       
</div>
    