<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button"   ng-click="openModal()">Add Customer Type</button>
        </div>
        <div id='jqxWidget'>
            <div id="cusotmerTypegrid">
            </div>
        </div>
    </div>       
</div>

<!-- PopUp -->
<script type="text/ng-template" id="jqxwindowCustomerType.html">
<div>
    <div class="tmass-model-header">
       Add Customer Type
    </div>
    <div>
    <div class="modal-body" >
        <form class="form-horizontal" name="myForm" validate>
            <div class="form-group">
                <label for="inputCustomerTypeName" class="col-sm-3 control-label" > Customer Type Name *</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.customerTypeName" class="form-control authInputs" id="customerTypeName" placeholder="Enter Customer Type Name">
                </div>
            </div>
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="form-group">
                <label for="inputCustomerTypeDesc" class="col-sm-3 control-label" >Customer Type Description</label>
                <div class="col-sm-9">
                        <!-- <textarea disabled class="form-control authInputs" rows="5" ng-model= "vccUser.customerTypeDesc" id="customerTypeDesc" ></textarea> -->
                    <input type="text" ng-model= "vccUser.customerTypeDesc" class="form-control authInputs" id="customerTypeDesc" placeholder="Enter Customer Type Description">
                </div>
            </div> 
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="save(vccUser)">Save</button>
        <button type="button" class="btn btn-danger" id="button_no1" ng-click="cancel()" >Cancel</button>
    </div>
    </div>
</script>
<script type="text/ng-template" id="jqxwindowViewCustomerType.html">
    <div>
        <div class="tmass-model-header">
           <!-- Add Customer Type -->
           View Customer Type
        </div>
        <div>
        <div class="modal-body" >
            <form class="form-horizontal" name="myForm" validate>
                <div class="form-group">
                    <label for="inputCustomerTypeName" class="col-sm-3 control-label" > Customer Type Name *</label>
                    <div class="col-sm-9">
                        <input type="text" disabled ng-model= "vccUser.customerTypeName" class="form-control authInputs" id="customerTypeName" placeholder="Enter Customer Type Name">
                    </div>
                </div>
                <div>
                    <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
                </div>
                <div class="form-group">
                    <label for="inputCustomerTypeDesc" class="col-sm-3 control-label" >Customer Type Description</label>
                    <div class="col-sm-9">
                            <textarea disabled class="form-control authInputs" rows="5" ng-model= "vccUser.customerTypeDesc" id="customerTypeDesc" ></textarea>
                        <!-- <input disabled type="text" ng-model= "vccUser.customerTypeDesc" class="form-control authInputs" id="customerTypeDesc" placeholder="Enter Customer Type Description"> -->
                    </div>
                </div> 
            </form>
        </div>
        <div class="modal-footer">
            <button style="display:none;" type="button" class="btn btn-primary" ng-click="save(vccUser)">Save</button>
            <button type="button" class="btn btn-danger" id="button_no1" ng-click="cancel()" >Close</button>
        </div>
        </div>
    </script>