<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button" ng-click="openModal()">Add Tube Size</button>
        </div>
        <div id='jqxWidget'>
            <div id="grid">
            </div>
        </div>
    </div>       
</div>

<!-- PopUp -->
<script type="text/ng-template" id="jqxwindowTubeSize.html">
<div>
    <div class="tmass-model-header">
       Tube Size
    </div>

        <form class="form-horizontal" name="myForm" ng-submit="done(vccUser)" validate>
                <div class="modal-body" >
            <div class="form-group">
                <label for="inputTubeSizeName" class="col-sm-3 control-label" >Tube Size Name *</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.tubeSizeName" class="form-control authInputs" id="tubeSizeName" placeholder="Enter Tube Size Name" required>
                </div>
            </div>
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="form-group">
                <label for="inputtubeSizeDesc" class="col-sm-3 control-label" >Tube Size Description </label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.tubeSizeDesc" class="form-control authInputs" id="tubeSizeDesc" placeholder="Enter Tube Size Description">
                </div>
            </div> 
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Save</button>
            <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
        </div>
        </form>

    </div>
</script>