<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button"   ng-click="openModal()">Add Vehicle Manufacturer</button>
        </div>
        <div id='jqxWidget'>
            <div id="grid">
            </div>
        </div>
    </div>       
</div>

<!-- PopUp -->
<script type="text/ng-template" id="jqxwindowVehicleMnctr.html">
<div id='' >
    <div class="tmass-model-header">
        Vehicle Manufacturer
    </div>
    <div>

    <form class="form-horizontal" name="myForm"  ng-submit="done(vccUser)" validate>
        <div class="modal-body" >
            <div class="form-group">
                <label for="inputVehicleManufacturerName" class="col-sm-3 control-label" >Manufacturer Name *</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.vehicleManufacturerName" class="form-control authInputs" id="vehicleManufacturerName" placeholder="Enter Vehicle Manufacturer Name" required>
                </div>
            </div>
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="form-group">
                <label for="inputVehicleManufacturerPlace" class="col-sm-3 control-label" >Manufacturer Place </label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.vehicleManufacturerPlace" class="form-control authInputs" id="vehicleManufacturerPlace" placeholder="Enter Vehicle Manufacturer Place">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
        </div> 
        </form>

    </div>
</script>