<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button"   ng-click="openModal()">Add Customer Assigned Tube Tag ID Details</button>
        </div>
        <div id='jqxWidget'>
            <div id="grid">
            </div>
        </div>
    </div>       
</div>

<!-- PopUp -->
<script type="text/ng-template" id="customerAssignedTubeTagIdDetails.html">
<div id='' >
    <div class="tmass-model-header">
        Customer Assigned Tube Tag ID Details
    </div>
    <div>

        <form class="form-horizontal" name="myForm" ng-submit="done(vccUser)" validate>
                <div class="modal-body" >
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="form-group">
                <label for="inputtubeTagQR" class="col-sm-3 control-label" >Tube Qr *</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.tubeTagQR" onkeyup="this.value=this.value.replace(/[^a-zA-Z 0-9\n\r]+/g, '')" class="form-control authInputs" id="tubeTagQR" placeholder="Enter Tube Qr" required>
                </div>
            </div>
            <div class="form-group">
                <label for="tubeQtyAssignmentDetailsId" class="col-sm-3 control-label" >Tube Quantity Assignment Detail*</label>
                <div class="col-sm-9">
                    <select class="form-control authInputs" id="tubeQtyAssignmentDetailsId" ng-model="vccUser.tubeQtyAssignmentDetailsId" required>
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in tubeTypes  | orderBy:'text'" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                    <!-- <input type="text" ng-model= "vccUser.tubeTypeName" class="form-control authInputs" id="tubeTypeName" placeholder="Enter Tube Name"> -->
                </div>
            </div>
            <div class="form-group">
                <label for="depotId" class="col-sm-3 control-label" >Depot Name *</label>
                <div class="col-sm-9">
                    <select class="form-control authInputs" id="depotId" ng-model="vccUser.depotId" required>
                        <option value="">Select</option>
                        <option ng-repeat="vhmanu in tubeManufacturers  | orderBy:'text'" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                    <!-- <input type="text" ng-model= "vccUser.tubeManufacturerName" class="form-control authInputs" id="tubeManufacturerName" placeholder="Enter Tube Manufacturing Name"> -->
                </div>
            </div>
            <div class="form-group">
                <label for="inputdepotAdditionDate" class="col-sm-3 control-label" >Depot Addition Date *</label>
                <div class="col-sm-9">
                    <datepicker date-set="{{todaysDate}}" date-max-limit="{{maxDate}}" date-format="yyyy-MM-dd"> <input class="form-control authInputs" ng-model="vccUser.depotAdditionDate" type="text" readonly required/> </datepicker>
                    <!-- <input type="date" ng-model= "vccUser.depotAdditionDate" min="1900-01-01" max="{{date | date:'yyyy-MM-dd'}}" class="form-control authInputs" id="depotAdditionDate" placeholder="Enter Tube Manufacturing Date" required> -->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Save</button>
            <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
        </div> 
        </form>

    </div>
</div>
</script>