    <div class="row hideheader" ng-cloak>
        <div class="col-xlg-3 col-lg-6 col-md-6 col-xs-6" ng-cloak  id="tireDiv">
            <div class="row" ng-cloak>
                    <div class="panel-heading" >
                            <h3 class="panel-title">Tire Dashboard</h3>
                            <ul class="list-inline panel-actions">
                                <li><a href="#" role="button" ng-cloak><i ng-click="switchVisible('tire')" class="glyphicon glyphicon-resize-full"></i></a></li>
                            </ul>
                    </div>
                    <div class="hideheader" ng-cloak include-with-scope="app/pages/dashboard/tiredashboard/tiredash.html" ng-controller="TiredashCtrl">
                    </div>
            </div>   
        </div>
        <div class="col-xlg-3 col-lg-6 col-md-6 col-xs-6" id="vehicleDiv">
            <div class="row hideheader">
                    <div class="panel-heading" >
                            <h3 class="panel-title">Vehicle Dashboard</h3>
                            <ul class="list-inline panel-actions">
                                <li><a href="#" role="button"><i ng-click="switchVisible('vehicle')" class="glyphicon glyphicon-resize-full"></i></a></li>
                            </ul>
                    </div>
                <div class="hideheader" ng-cloak include-with-scope="app/pages/dashboard/vehicledashboard/vehicledash.html" ng-controller="VehicledashCtrl"></div>     
            </div>   
        </div>
    </div>
    <div class="row hideheader">
        <div class="col-xlg-3 col-lg-6 col-md-6 col-xs-6" id="alertDiv">
            <div class="row hideheader">
                <div class="panel-heading" >
                        <h3 class="panel-title">Alert Dashboard</h3>
                        <ul class="list-inline panel-actions" ng-cloak>
                            <li><a href="#" role="button" ng-cloak><i ng-click="switchVisible('alert')" class="glyphicon glyphicon-resize-full"></i></a></li>
                        </ul>
                </div>
                <div class="hideheader" ng-cloak include-with-scope="app/pages/dashboard/alertdashboard/alertdash.html" ng-controller="AlertdashCtrl"></div>    
            </div>   
        </div>
        <div class="col-xlg-3 col-lg-6 col-md-6 col-xs-6"  id="performanceDiv">
            <div class="row hideheader">
                <div class="panel-heading" >
                        <h3 class="panel-title">Performance Dashboard</h3>
                        <ul class="list-inline panel-actions">
                            <li><a href="#" role="button"><i ng-click="switchVisible('performance')" class="glyphicon glyphicon-resize-full"></i></a></li>
                        </ul>
                </div>
                <div class="hideheader" include-with-scope="app/pages/dashboard/performancedashboard/performancedash.html" ng-controller="PerformancedashCtrl"></div>
            </div>   
        </div>
    </div>