<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button" ng-click="openModal()" >Add Settings</button>
        </div>
        <div id='jqxWidget'>
            <div id="grid">
            </div>
        </div>
    </div>       
</div>

<!-- PopUp -->
<script type="text/ng-template" id="jqxwindowSettings.html">
    <div id='' >
            <div class="tmass-model-header">
                Setting Details
            </div>
            <div>
                <form class="form-horizontal" name="myForm" ng-submit="done(vccUser)">
                    <div class="modal-body" >
                        <div class="tmass-model-header">
                            Homepage Settings
                        </div>
                        <div class="input-group animated fadeI">
                            <div class="col-sm-9">
                            </div>
                        </div>
                        <div class="input-group animated fadeI">
                            <label for="selectDashboard" class="col-sm-3 control-label" >Select Dashboards to Show on Homepage*</label>
                            <div class="col-sm-9">
                                <multiselect ng-model="vccUser.showOnHomePage" options="selectDashboard" id-prop="id" display-prop="name" required></multiselect>
                            </div>
                        </div>
                        <div class="tmass-model-header">
                            Schedule Email Settings
                        </div>
                        <div class="input-group animated fadeI">
                            <div class="col-sm-9">
                            </div>
                        </div>
                        <div class="input-group animated fadeI">
                            <label for="selectAlert" class="col-sm-3 control-label" >Select Report Types *</label>
                            <div class="col-sm-9">
                                    <multiselect ng-model="vccUser.dashboardName" options="selectReports" id-prop="id" display-prop="name" required></multiselect>
                            </div>
                        </div>
                        <div class="input-group animated fadeI" style="display:none;">
                            <label for="timeofDelivery" class="col-sm-3 control-label" >Select Delivery Date details *</label>
                            <div class="col-sm-9">
                                    <input class="form-control"
                                    ng-model="vccUser.timeofDelivery"
                                    ng-model-options="{ updateOn: 'blur' }"
                                    placeholder="Select a date..."
                                    today="true"
                                    locale="en"
                                    format="YYYY-MM-DD"
                                    start-view="month"
                                    max-view="month"
                                    min-date=minDate
                                    moment-picker="vccUser.timeofDelivery"
                                    id="timeofDelivery">

                            </div>
                        </div>
                        <div class="input-group animated fadeI">
                            <label for="selectFrequency" class="col-sm-3 control-label" >Select Frequency of Emails *</label>
                            <div class="col-sm-9">
                                    <multiselect class="freqClass" ng-model="vccUser.freq" options="freqarr" id-prop="freqVal" display-prop="freqText" selection-limit="1" required></multiselect>
                            </div>
                        </div>
                        <div class="input-group animated fadeI">
                            <label for="selectEmails" class="col-sm-3 control-label" >Select Emails*</label>
                            <div class="col-sm-9">
                                    <multiselect ng-disabled="myUsers.length==0" ng-model="vccUser.emails" options="myUsers" id-prop="_id" display-prop="email" show-search="true" required></multiselect>
                            </div>
                        </div>
                        <div>
                            <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
                        </div>
                        <div class="input-group animated fadeI">
                            <label for="otherEmails" class="col-sm-3 control-label" >Other Emails </label>
                            <div class="col-sm-9">
                                <input type="text" ng-model= "vccUser.otherEmails" class="form-control authInputs" id="otherEmails" placeholder="Enter Other Email Ids" >
                            </div>
                        </div> 
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
</script>