<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button"  ng-click="openModal()">Add Vehicle Model</button>
        </div>
        <div id='jqxWidget'>
            <div id="grid">
            </div>
        </div>
    </div>       
</div>
<!-- PopUp -->
<script type="text/ng-template" id="jqxwindowVehicleModel.html">
<div id='' >
    <div class="tmass-model-header">
      Vehicles Model
    </div>

        <form class="form-horizontal" ng-submit="done(vccUser)" name="myForm" validate>
                <div class="modal-body" >
            <div>
                <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
            </div>
            <div class="form-group">
                <label for="inputvehicleManufacturerName" class="col-sm-3 control-label" >Vehicle Manufacturer Name *</label>
                <div class="col-sm-9">
                    <select class="form-control authInputs" id="vehicleManufacturerType" ng-model="vccUser.vehicleManufacturerId" required>
                        <option value="">select</option>
                        <!-- <option ng-repeat="vhmanu in vehicleManufacturers" ng-selected="vhmanu.value === currVehicleManufacturerId" ng-value="vhmanu.value" >{{vhmanu.text}}</option>  -->
                        <option ng-repeat="vhmanu in vehicleManufacturers | orderBy:'text'" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputVehicleModelNo" class="col-sm-3 control-label" >Vehicle Model No *</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.vehicleModelNo" class="form-control authInputs" required id="vehicleModelNo" placeholder="Enter Vehicle Model Number">
                </div>
            </div>
            <div class="form-group">
                <label for="inputVehicleModelDescription" class="col-sm-3 control-label" > Description</label>
                <div class="col-sm-9">
                    <input type="text" ng-model= "vccUser.vehicleModelDescription"  class="form-control authInputs" id="vehicleModelDescription" placeholder="Enter Vehicle Model Description">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Save</button>
            <button type="button" class="btn btn-danger" id="button_no" ng-click="cancel()" >Cancel</button>
        </div>    
        </form>
    </div>
</script>