<div class="row">
    <div class="col-md-12 tmass-table-container">
        <div class="add-row-editable-table">
            <button class="btn btn-secondary tmass-table-button"   ng-click="openModal()">Allocate Tag to Depot Details</button>
        </div> 
        <div id='jqxWidget'>
            <div id="gridcustTagAllocate">
            </div>
        </div>
    </div>       
</div>

<!-- PopUp -->
<script type="text/ng-template" id="jqxwindowCustomerTagAllocateDetails.html">
    <div>
        <div class="tmass-model-header">
            Customer Tag to Depot Details 
        </div>
        <div>
        <form class="form-horizontal" ng-submit="save(vccUser)" name="myForm" validate>
            <div class="modal-body" >
                <div>
                    <input type="text" style="display:none;" ng-model="vccUser._id" class="form-buttons authInputs" id="_id" />
                </div>

                <div class="form-group">
                    <label for="customerId" class="col-sm-3 control-label" >Customer *</label>
                    <div class="col-sm-9">
                        <select class="form-control authInputs data_field" id="customerId" ng-model="vccUser.customerId" required>
                            <option value="">Select</option>
                            <option ng-repeat="vhmanu in customers  | orderBy:'text'" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                        </select>
                        <!-- <input type="text" ng-model= "vccUser.TagTypeName" class="form-control authInputs data_field" id="TagTypeName" placeholder="Enter Tag Name"> -->
                    </div>
                </div>

                <div class="form-group">
                    <label for="tagTypeId" class="col-sm-3 control-label" >Tag Type *</label>
                    <div class="col-sm-9">
                        <select class="form-control authInputs data_field" id="tagTypeId" ng-change="emptytagFromCust()" ng-model="vccUser.tagTypeId"  required>
                            <option value="">Select</option>
                            <option ng-repeat="vhmanu in tagTypes  | orderBy:'text'" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                        </select>
                        <!-- <input type="text" ng-model= "vccUser.TagManufacturerName" class="form-control authInputs data_field" id="TagManufacturerName" placeholder="Enter Tag Manufacturing Name"> -->
                    </div>
                </div>
                <div class="form-group">
                    <label for="depotId" class="col-sm-3 control-label" >Customer Depot *</label>
                    <div class="col-sm-9">
                        <select class="form-control authInputs data_field" id="depotId"  ng-model="vccUser.depotId" required>
                            <option value="">Select</option>
                            <option ng-repeat="vhmanu in customerDepot  | orderBy:'text'" ng-value="vhmanu.value" >{{vhmanu.text}}</option> 
                        </select>
                        <label class="errorMsg" ng-show="customerDepot.length==0">You do not have any depot</label>
                        <!-- <input type="text" ng-model= "vccUser.TagManufacturerName" class="form-control authInputs data_field" id="TagManufacturerName" placeholder="Enter Tag Manufacturing Name"> -->
                    </div>
                </div>
                <div class="form-group tagQtyDiv" ng-hide="remainAllocatedTag==0">
                    <label for="tagQty" class="col-sm-3 control-label" >Tag Qty *</label>
                    <div class="col-sm-9"> 
                        <input type="number" ng-model= "vccUser.tagQty" max={{remainAllocatedTag}}  ng-change="findTagAllocatedTocustomer()" class="form-control authInputs data_field" id="tagQty" placeholder="Enter Tag Qty. Available Tag is {{remainAllocatedTag}}"  required>
                        <label>Remaining tags are {{remainAllocatedTag}}</label>
                        <!-- <label class="errorMsg" ng-show="vccUser.tagQty > remainAllocatedTag">Please Buy more Tags.</label> -->
                    </div>
                </div>
                <div class="form-group" id="printRecords" ng-if="tagFromCust.length!=0" style="display:none;">
                    <label for="inputTagQty" class="col-sm-3 control-label" > Tag List for Assignment</label>
                    <div class="col-sm-9"  >
                        <div style="border:1px solid; height:60px; overflow:scroll;">
                            <ol style="margin-top: 10px;" id="tagList">
                                <!-- {{tagFromCust}} -->
                                <li ng-repeat="data in tagFromCust" rel="data.tagmasterId" >{{data.tagmasterId}}</li>
                            </ol>
                        </div>                                        
                    </div>              
                </div>
            </div>
        
            <div class="modal-footer">
                <button type="button" ng-click="findTagAllocatedTocustomer()" class="btn btn-primary tagQtyDiv1" ng-hide="remainAllocatedTag!=0" >Get Allocated Tag Quantity</button>
                <button type="submit" class="btn btn-primary tagQtyDiv" ng-hide="remainAllocatedTag==0" >Save</button>
                <button type="button" class="btn btn-danger" id="button_no_tag" ng-click="cancel()" >Cancel</button>
            </div>
        </form>
        </div>
    </div>
</script>